﻿@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    int statusId = (int)ViewBag.statusId;
    int stateid = (int)ViewBag.stateid;
    int[] skills = (int[])ViewBag.jobstatus;
    string city = (string)ViewBag.city;
    int[] sourceid = (int[])ViewBag.paymentstatus;
    bool isactivefilter = (bool)ViewBag.isfilter;
}
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn .caret {
        /*margin-left: 0;
        float: right;
        vertical-align: middle;
        margin-top: 5%;*/
    }

    .btn-group, .dropdown-toggle {
        width: 100%;
        text-align: left;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }
</style>

@model hrm.Models.leadmodal

<div class="p-10">

</div>
<div class="p-30 p-t-none p-b-none">
    <div id="filterpopup" style="display:@(isactivefilter == true?"block":"none")" class="alert alert-success alert-dismissible" role="alert">

        Filter is Active
    </div>
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Members</h4>
                </div>
                @using (Html.BeginForm("members", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">

                                <div class="form-group">
                                    <label>Upload a CSV formatted file:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label>Select State</label>
                                    <select id="state_modal_id" data-live-search="true" name="state_modal_id" class="selectpicker form-control">
                                        <option value="0">State</option>
                                        @foreach (var item in state)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label>Select City</label>

                                    <input type="text" class="form-control" placeholder="City" name="city_modal_id" id="city_modal_id" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/Members.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-cloud-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>

        </div>

    </div>
    <div id="mdlview" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">View Skills</h4>
                </div>
                @using (Html.BeginForm("update", "Skills", FormMethod.Post))
                {<div class="modal-body">
                        <div class="row" id="skilldiv">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                    </div>
                }
            </div>
        </div>

    </div>
    <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Status</h4>
                </div>
                @using (Html.BeginForm("update_pay", "pay", FormMethod.Post))
                {<div class="modal-body">

                        <div class="form-group">
                            <input type="hidden" name="mid" id="mid" />
                            <label>Member STATUS</label>
                            <select class="selectpicker form-control " data-live-search="true" name="mstatusid" id="mstatusid">
                                <option value="">Status</option>
                                <option value="1">New</option>
                                <option value="2">Contacted</option>
                                <option value="6">Follow up</option>
                                <option value="3">Interviewed</option>
                                <option value="4">Converted</option>
                                <option value="5">Declined</option>

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="updatestatus()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            All Members
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(42))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "members")">
                                <i class="fa fa-plus"></i> Add Member
                            </a>
                        }
                        @if (permission.Contains(45))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                <i class="fa fa-cloud-upload"></i> Upload
                            </a>
                        }

                    </div>

                </div>


                @if (permission.Contains(57))
                {
                    <div class="panel-body p-none">

                        <div class="custom-col-md-12">
                            @using (Html.BeginForm("index", "members", FormMethod.Post, new { @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table nowrap no-footer table-ultra-responsive-custome">

                                    <tbody>
                                        <tr>
                                            <td>

                                                <select name="statusId" id="statusid" class="selectpicker form-control">
                                                    <option @(statusId == 0 ? "selected" : "") value="">Status</option>
                                                    <option @(statusId == 1 ? "selected" : "") value="1">New</option>
                                                    <option @(statusId == 2 ? "selected" : "") value="2">Contacted</option>
                                                    <option @(statusId == 6 ? "selected" : "") value="6">Follow up</option>
                                                    <option @(statusId == 3 ? "selected" : "") value="3">Interviewed</option>
                                                    <option @(statusId == 4 ? "selected" : "") value="4">Converted</option>
                                                    <option @(statusId == 5 ? "selected" : "") value="5">Declined</option>
                                                </select>
                                            </td>


                                            <td>
                                                <select id="state_filter_id" data-live-search="true" name="stateid" class="selectpicker form-control">
                                                    <option value="0">State</option>
                                                    @foreach (var item in state)
                                                    {
                                                        <option @(stateid == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" disabled name="cityId" id="city_filter_id" multiple>
                                                    <option value="0">City</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select name="sourceid" multiple id="srcid" class="form-control">
                                                    <option @(sourceid.Contains(2) ? "selected" : "") value="2">Technician</option>
                                                    <option @(sourceid.Contains(3) ? "selected" : "") value="3">Customer</option>
                                                    <option @(sourceid.Contains(1) ? "selected" : "") value="1">Employee applicant</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select multiple class="form-control" id="skills" name="skills">

                                                    @foreach (var item in Model._skills)
                                                    {
                                                        <option @(skills.Contains(item.id) ? "selected" : "") value="@item.id">@item.name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-default" onclick="FilterTable()" type="button"><i class="fa fa-search"></i></button>
                                            </td>
                                            <td>
                                                <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>

                    </div>
                }
                <div class="panel-body p-none">

                    <div class="table-ultra-responsive" style="overflow-y: hidden;overflow-x:scroll">
                        <table class="table data-table  table-condensed  table-hover nowrap table-ultra-responsive dataTable no-footer" id="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Rate</th>
                                    <th>Company</th>
                                    <th>Website</th>
                                    <th>LinkedIn</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script>
    var pageSize = 25;
    var otable;
    var editpermission = '@permission.Contains(43).ToString().ToUpper()';
    var deletepermission ='@permission.Contains(44).ToString().ToUpper()';
    var citySelected = "";
    var sourceSelected = "";
    var skillsSelected = "";
     var searchtype = 0;
    function ClearFilter() {
         searchtype = 2;
        $('#city_filter_id').multiselect('deselectAll', false);
        $('#srcid').multiselect('deselectAll', false);
          $('#skills').multiselect('deselectAll', false);
       citySelected = "";
     sourceSelected = "";
     skillsSelected = "";
     $("#state_filter_id").val("0");
      $("#statusid").val("0");
        $('.selectpicker').selectpicker('refresh');
            $("#filterpopup").css("display", "none");
        otable.draw(true);
    }

    function FilterTable() {
            $("#filterpopup").css("display", "block");
          searchtype = 1;
          citySelected = "";
     sourceSelected = "";
     skillsSelected = "";
        var _cityselected = $("#city_filter_id").find("option:selected");
    _cityselected.each(function(){
       citySelected=citySelected+$(this).val()+",";
    });
    var _sourceSelected = $("#srcid").find("option:selected");
    _sourceSelected.each(function(){
       sourceSelected=sourceSelected+$(this).val()+",";
    });
    var _skillsselected = $("#skills").find("option:selected");
    _skillsselected.each(function(){
       skillsSelected=skillsSelected+$(this).val()+",";
    });
otable.draw(true);
    }

    $(document).ready(function () {
    var _cityselected = $("#city_filter_id").find("option:selected");
    _cityselected.each(function(){
       citySelected=citySelected+$(this).val()+",";
    });
    var _sourceSelected = $("#srcid").find("option:selected");
    _sourceSelected.each(function(){
       sourceSelected=sourceSelected+$(this).val()+",";
    });
    var _skillsselected = $("#skills").find("option:selected");
    _skillsselected.each(function(){
       skillsSelected=skillsSelected+$(this).val()+",";
    });

        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        },
            "iDisplayLength": 25,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "ajax": {
                "url": "@Url.Action("Fetchleads", "members")",
                 //int? statusId, int? stateid, int[] cityId = null, int[] skills = null, int[] sourceid = null
                  "data": function (d) {
                        d.stateid = $("#state_filter_id").val();
                      d.statusId = $("#statusid").val();
                        d.cityId = citySelected+"0";
                      d.sourceid = sourceSelected+"0";
                      d.skills = skillsSelected + "0";
                       d.searchtype = searchtype;
                    }
            },
            "aoColumns": [
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        if (editpermission == "TRUE") {
                            return '<a href="/members/edit?token=' + full.token + '">' + full.fullname+'</a>';

                        }
                        else {
                            return '<p>'+full.fullname+'</p>';
                        }
                    }
                },
                { mData: "phone" },
                { mData: "email" },
                { mData: "city" },
                { mData: "state" },
                { mData: "rate" },

                { mData: "Company" },
                { mData: "Website" },
                    { mData: "LinkedIn" },
                 {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                            return "<span id='spn_"+full.leadid+"' data-statusid='"+full.status_id+"' data-memberid='"+ full.leadid+"' class='stupdater "+full.status.replace(" ", "").toLowerCase()+"'>"+full.status+"</span>";
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        var tbl = '<div class="btn-group pos-static"><a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fn21"></i> </a><div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px);will-change: transform;position: absolute;left: 0px; display: none;">';

                        if (editpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-success btn-xs" href="/members/edit?token=' + full.token + '"><i class="fa fa-edit"></i> Edit</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-success btn-xs" data-msg="you are not authorized to edit selected Member"><i class="fa fa-edit"></i> Edit</a>';
                        }

                        if (deletepermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-danger btn-xs cdelete" id="' + full.token + '"><i class="fa fa-trash"></i> Delete</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-danger btn-xs" data-msg="you are not authorized to delete selected Member"><i class="fa fa-trash"></i> Delete</a>';
                        }
                        tbl = tbl + '</div></div>';
                        return tbl;
                    }
                }

            ]
        });
    });
</script>
<script>

        function Uploadfile() {
              $('#upload').modal('show');
    }

      function updatestatus() {
        var nid = $("#mid").val();
        var nsid = $("#mstatusid").val();
        var _url = "@Url.Action("update_status","members")";
        $.get(_url, { 'leadid': nid, 'statusid': nsid }, function () {
            var _txt = $("#mstatusid").find("option:selected").text();
        var cls=$("#spn_" + nid).html();
              $("#spn_" + nid).html(_txt);
               $("#spn_" + nid).removeClass(cls.replace(" ", "").toLowerCase()).addClass(_txt.replace(" ", "").toLowerCase());
               $('#mdlstatus').modal('hide');
             alertify.log('Member status updated succesfully', 'success', 5000);
        });
    }

    $(document).ready(function () {
          $("#table").on("click", ".stupdater", function (e) {
            e.preventDefault();
             var statusid = $(this).data("statusid");
             var memberId = $(this).data("memberid");

                   $("#mid").val(memberId);
          $("#mstatusid").val(statusid);
        $('#mstatusid').selectpicker('refresh');
        $('#mdlstatus').modal('show');

        });



         $("#table").on("click", ".cview", function (e) {
            e.preventDefault();
            var skills = $(this).data("skills");
              if (skills.indexOf(",") != -1) {
            var strArr = skills.split(",")  // split using space_or_no_space comma space_or_no_space
            var tr = "";
            var j = 0;
            for (var i = 0; i < strArr.length; i++) {
                tr = tr + " <div class='col-md-3'>" + strArr[i] + "</div>";
                j = j + 1;
                if (j >= 4) {

                    j = 0;
                    tr = tr + " <div class='clearfix'></div>";
                }
            }
            $("#skilldiv").html(tr);
              } else {
                   if (skills == "--") {
                skills = "N/A";
            }
             $("#skilldiv").html(skills);
        }
       $('#mdlview').modal('show');
        });
         $("#skills").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Skills';
            },});
    /*For Delete Department*/
        $("#table").on("click", ".cdelete", function(e){
   e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete","members")";
                    window.location.href = _url + "?token=" + id;
                }
            });
});


        $("#srcid").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Category';
        },
        });

        //


          get_city("@city",'@stateid');
         function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }

      $("#state_filter_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
                            }
                        });
            } else {
                $('#city_filter_id').multiselect('destroy');
                $("#city_filter_id").html('');
                 $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
              //  $("#city_id").html('<option value="0">Select city</option>').attr('disabled',true);
                }
            });
    });
     function update(deptid, deptname) {
            $('#mdlupdate').modal('show');
            $("#deptname").val(deptname);
            $("#deptid").val(deptid);
    }


       function Viewfile(skills) {
        if (skills.indexOf(",") != -1) {
            var strArr = skills.split(",")  // split using space_or_no_space comma space_or_no_space
            var tr = "";
            var j = 0;
            for (var i = 0; i < strArr.length; i++) {  // iterate through each split string

                tr = tr + " <div class='col-md-3'>" + strArr[i] + "</div>";
                j = j + 1;
                if (j >= 4) {

                    j = 0;
                    tr = tr + " <div class='clearfix'></div>";
                }
            }
            $("#skilldiv").html(tr);
        } else {
             $("#skilldiv").html(skills);
        }

          $('#mdlview').modal('show');

    }

</script>