﻿@{
    int roleid = Request.Cookies["_pid"] == null ? 0 : Convert.ToInt16(Request.Cookies["_pid"].Value.ToString());
    int userid = Request.Cookies["_xid"] == null ? 0 : Convert.ToInt16(Request.Cookies["_xid"].Value.ToString());
    hrm.Database.roleservices _ser = new hrm.Database.roleservices();
    string admin = "";
    List<int> _permissions = _ser.get_all_active_permissions_byroleid(roleid, ref admin);
    var type =_ser.getmembertype(userid);
    bool permit = _permissions.Contains(5088);
}
<!DOCTYPE html>
<html lang="en" class="no-mobile no-mac">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Convo-@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap3-wysihtml5.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-select.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/datatables.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css?v=2.3")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.css")">
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-select.min.js")"></script>
    
    <style>
        /*.responsive
        {
           overflow-x: hidden;
            max-width:100%;

        }*/
        .thumbnail
        {
            width:200px;
        }
        .filter_table > tbody > tr > td, .filter_table > tbody > tr > th, .filter_table > tfoot > tr > td, .filter_table > tfoot > tr > th, .filter_table > thead > tr > td, .filter_table > thead > tr > th {
            padding: 5px !important;
        }

        .slimScrollBar {
            width: 12px !important;
        }

        .filter_table td .btn-default {
            padding: 9px 21px !important;
        }

        .bootstrap-select.btn-group .dropdown-toggle .caret {
            right: 5px !important;
        }

        .multiselect .caret {
            right: 5px;
            position: absolute;
            top: 47%;
        }

        table.dataTable.table-condensed > thead > tr > th:first-child, table.dataTable.table-condensed > tbody > tr > td:first-child {
            padding-left: 20px;
        }
        .maincolorlayout {
        color: #30DDBC !important;
    }

    .layoutmainbgcolor {
        background-color: #30DDBC !important;
    }

        .layoutfnt300 {
            font-weight: 500 !important;
    font-size: 23px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".has-sub>a").on("click", function () {

                if ($(".has-sub").hasClass("sub-open")) {

                    $(".slimScrollBar").css("display", "block");
                } else {
                    $(".slimScrollBar").css("display", "none");
                }

            });
        });
    </script>
</head>
<body class="has-left-bar has-top-bar" style="" cz-shortcut-listen="true">
    <nav id="left-nav" class="left-nav-bar">
        <div class="nav-top-sec">
            <div class="app-logo">
                @*<img src="@Url.Content("~/Content/images/logo.png")" alt="logo" class="bar-logo">*@
                <a href="https://taskayak.com/" class="maincolorlayout layoutfnt300">TasKayaK</a>
            </div>
            <a href="#" id="bar-setting" class="bar-setting"><i class="fa fa-bars"></i></a>
        </div>

        <div class="nav-bottom-sec">
            <ul class="left-navigation" id="left-navigation">
                @if (_permissions.Contains(1))
                {
                    <li><a href="@Url.Action("index", "home")"><span class="menu-text">Dashboard</span> <span class="menu-thumb"><i class="fa fa-dashboard"></i></span></a></li>
                }


                @if (_permissions.Contains(2))
                {
                    if (type == "S")
                    {
                        <li><a href="https://taskayak.com/company/index/"><span class="Company">Companies</span> <span class="menu-thumb"><i class="fa fa-building-o"></i></span></a></li>
                    }
                    else
                    {

                        <li class="has-sub ">
                            <a href="#"><span class="menu-text">Companies</span> <span class="arrow"></span><span class="menu-thumb"><i class="fa fa-building-o"></i></span></a>
                            <ul class="sub">
                                @if (_permissions.Contains(5074))
                                {
                                    <li><a href="https://taskayak.com/client/index"><span class="menu-text">Clients</span> <span class="menu-thumb"><i class="fa fa-handshake-o"></i></span></a></li>
                                }
                                    @if (_permissions.Contains(5075))
                                    {
                                        <li><a href="https://taskayak.com/company/index"><span class="menu-text">IT Companies</span> <span class="menu-thumb"><i class="fa fa-user-plus"></i></span></a></li>
                                    }
                                </ul>
                        </li>


                    }
                }
                @if (_permissions.Contains(6))
                {
                    <li><a href="@Url.Action("index", "users")"><span class="menu-text">Users</span> <span class="menu-thumb"><i class="fa fa-users"></i></span></a></li>
                }
                @if (_permissions.Contains(7))
                {
                    <li><a href="@Url.Action("index", "jobs")"><span class="menu-text">Jobs</span> <span class="menu-thumb"><i class="fa fa-suitcase"></i></span></a></li>
                }
                @if (_permissions.Contains(3064))
                {
                    <li><a href="@Url.Action("index", "offer")"><span class="menu-text">Offers</span> <span class="menu-thumb"><i class="fa fa-vcard"></i></span></a></li>
                }
                @if (_permissions.Contains(8))
                {
                    <li><a href="@Url.Action("index", "Members")"><span class="menu-text">Members</span> <span class="menu-thumb"><i class="fa fa-list"></i></span></a></li>
                }
                @if (_permissions.Contains(9))
                {if (type !="ST")
                    {
                    <li><a href="@Url.Action("index", "pay")"><span class="menu-text">Pay</span> <span class="menu-thumb"><i class="fa fa-dollar"></i></span></a></li>
                    }
                }
                @if (_permissions.Contains(1056))
                {
                    <li><a href="@Url.Action("index", "notice_board")"><span class="menu-text">Messages</span> <span class="menu-thumb"><i class="fa fa-sticky-note"></i></span></a></li>
                }
                @if (_permissions.Contains(53))
                {
                    <li class="has-sub ">
                        <a href="#"><span class="menu-text">Settings</span> <span class="arrow"></span><span class="menu-thumb"><i class="fa fa-cogs"></i></span></a>
                        <ul class="sub">
                            @if (_permissions.Contains(3))
                            {
                                <li><a href="https://taskayak.com/departments/"><span class="menu-text">Departments</span> <span class="menu-thumb"><i class="fa fa fa-sitemap"></i></span></a></li>
                            }
                            @if (_permissions.Contains(4))
                            {
                                <li><a href="https://taskayak.com/designations/"><span class="menu-text">Designations</span> <span class="menu-thumb"><i class="fa fa-black-tie"></i></span></a></li>
                            }
                            @if (_permissions.Contains(5))
                            {
                                <li><a href="@Url.Action("index", "skills")"><span class="menu-text">Skills</span> <span class="menu-thumb"><i class="fa fa-graduation-cap"></i></span></a></li>
                            }
                            @if (_permissions.Contains(52))
                            {
                                <li><a href="@Url.Action("index", "roles")"><span class="menu-text">Roles</span> <span class="menu-thumb"><i class="fa fa-user-secret"></i></span></a></li>
                            }
                            @if (_permissions.Contains(4064))
                            {
                                <li><a href="@Url.Action("index", "template")"><span class="menu-text">Template</span> <span class="menu-thumb"><i class="fa fa-file-text"></i></span></a></li>
                            }
                            @if (_permissions.Contains(5077))
                            {
                                <li><a href="@Url.Action("index", "tool_type")"><span class="menu-text">Tool Types</span> <span class="menu-thumb"><i class="fa fa-gavel"></i></span></a></li>
                            }
                            @if (_permissions.Contains(5076))
                            {
                                <li><a href="@Url.Action("index", "tools")"><span class="menu-text">Tools</span> <span class="menu-thumb"><i class="fa fa-wrench"></i></span></a></li>
                            }
                            @if (_permissions.Contains(5078))
                            {
                                <li><a href="@Url.Action("index", "document")"><span class="menu-text">Document Types</span> <span class="menu-thumb"><i class="fa fa-clipboard"></i></span></a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>

    </nav>
    <main id="wrapper" class="wrapper">
        <div class="top-bar clearfix">
            <div class="navbar-right">
                <div class="clearfix">
                    @Html.Action("getprofile", "home",new { isnotificationpermission=permit})
                </div>

            </div>
        </div>
        <section class="wrapper-bottom-sec">
            @RenderBody()
        </section>
    </main>
    <style>
        .alertify-logs {
            z-index: 999999999 !important;
        }
    </style>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js?v=1.2")"></script>
    <script src="@Url.Content("~/Scripts/smoothscroll.min.js?v=1.2")"></script>
    <script src="@Url.Content("~/Scripts/alertify.js")"></script>
    <script src="@Url.Content("~/scripts/wysihtml5x-toolbar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/handlebars.runtime.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap3-wysihtml5.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/datatables.min.js?v=1.2")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js?v=1.3")"></script>
    <script src="@Url.Content("~/Scripts/scripts.js?v=2.5")"></script>
    <script src="@Url.Content("~/Scripts/form-elements-page.js?v=1.3")"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $("table").on("click", ".disabledbtn", function () {
                var messgae = $(this).data('msg');
                alertify.log(messgae, 'error', 5000);
            });
            $(".ratetext").on("change", function () {
                var _val = $(this).val();
                var res = $.trim(_val).replace(/\$/g, "");
                if (res != '') {
                    var isnumeric = $.isNumeric(res);
                    if (isnumeric == false) {
                        alertify.log('Rate must be numeric', 'error', 5000);
                        $(this).val("");
                        $(this).focus();
                    } else {
                        var value = parseFloat(res).toFixed(2);
                        $(this).val("$" + value);
                        // $(".phonenumber").focus();
                    }
                }
            });


            $(".phonenumber").on("change", function () {
                var _val = $(this).val();
                var res = $.trim(_val).replace(/\-/g, "");

                if (res != '') {
                    res = res.replace(".", "");
                    res = res.replace("(", "");
                    res = res.replace(")", "");
                    res = res.replace(" ", "");

                    var isnumeric = $.isNumeric(res);
                    if (isnumeric == false) {
                        alertify.log('Phone number must be numeric', 'error', 5000);
                        $(this).val("");
                        $(this).focus();
                    } else {
                        if ($.trim(res).length < 10 || $.trim(res).length > 10) {

                            alertify.log('Phone number must be 10 digits', 'error', 5000);
                            $(this).focus();
                        } else {
                            res = res.replace(/(\d\d\d)(\d\d\d)(\d\d\d\d)/, "$1-$2-$3");
                            $(this).val(res);
                        }
                    }
                }
            });
        });

        $(window).load(function () {
            $('input, :input, select').attr('autocomplete', 'random');
            $("form").removeAttr("novalidate");
    $("html, body").animate({ scrollTop: 0 }, "fast");
        });
    </script>

</body>
</html>