﻿@model hrm.Models.notificationModal
       @{ int i = 1;}

<style>
    @@media (min-width: 768px) {
        .tablmodal-dialog {
            width: 930px;
            margin: 30px auto;
        }
    }
</style>
@helper getCommentByHelper(string comment, int id,bool read)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    var _oldvalue = comment;//orignal value with html
    var _newvalue = comment;//removing html
    _newvalue = rx.Replace(_oldvalue, "");//html removed
    var text = _newvalue.Count() > 100 ? _newvalue.Substring(0, 100) : _newvalue;// substring
    var text1 = _newvalue.Count() > 100 ? _newvalue.Substring(100) : _newvalue;// substring
    comment = comment.Replace(_newvalue, text);
      comment = rx.Replace(comment, "");//html removed
    _oldvalue = _oldvalue.Replace(_newvalue, text1);
    if (_newvalue.Count() > 100)
    {
        <span data-id="@id" class="parentcomment offer @(!read?"unread":"") ">@Html.Raw(comment)</span>
        <span class="childcommentcomment hide  offer @(!read?"unread":"") ">@Html.Raw(_oldvalue)</span>
    }
    else
    {
        <span data-id="@id" class="parentcomment  offer @(!read?"unread":"")">@Html.Raw(comment)</span>
        <span class="childcommentcomment hide  offer @(!read?"unread":"")"></span>
    }

}
<div class="col-md-12" style="min-height:400px;overflow-y:auto;">
    <table class="table data-table table-hover table-ultra-responsive dataTable no-footer popupdb">
        <thead>
            <tr>
                <th style="width: 24%;">Member</th>
                <th style="width: 50%;">Comment</th>
                <th style="width: 20%;">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.message)
            {
                <tr>
                    <td nowrap style="width: 24%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@item.createdby</td>
                    <td style="width: 50%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@getCommentByHelper(item.body, item.msgitem,item.isread)</td>
                    <td nowrap style="width: 20%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@item.createdDate</td>
                    <td nowrap style="width: 20%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);"><a href="#" onclick="OpenRow('tr_@i','tr1_@i','@item.msgitem','@i')"><i class="fa fa-mail-reply"></i></a></td>
                </tr>
                <tr id="tr1_@i" class="hdntextare" style="display:none">
                    <td style="display:none;border:0px !important;"></td>
                    <td style="display:none;border:0px !important;"></td>
                    <td style="display:none;border:0px !important;"></td>
                    <td colspan="4" align="center" style="border:0px !important;padding: 5px;">
                        <div id="div_@i">
                            <table class="table table-hover table-ultra-responsive dataTable no-footer">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr id="tr_@i" class="hdntextare" style="display:none">
                    <td style="display:none;border:0px !important;"></td>
                    <td style="display:none;border:0px !important;"></td>
                    <td colspan="3" align="center" style="border:0px !important;">
                        <textarea id="txtarea_@i" class="form-control" style="width:100%;" rows="3" placeholder="Type reply here"></textarea>
                    </td>
                    <td style="border:0px !important;"><a onclick="SendReply('txtarea_@i','@item.msgitem','1','div_@i')" href="#">Reply</a></td>
                </tr>
                i = i + 1;
            }
        </tbody>
    </table>

</div>
<div>

</div>
<script>
     function OpenRow(id,tr1,parentid,count) {
        $(".hdntextare").css("display","none");
        $("#" + id).css("display", "table-row");
         $("#" + tr1).css("display", "table-row");
         var _url = "@Url.Action("getreply","offer")";
         $.get(_url, { 'mainid': parentid }, function (data) {
             $("#div_" + count + " table tbody").html(data);
         });
    }
    var jobid = "@Model.mainind";
    $(".parentcomment").on("click", function () {
        var msgid = $(this).data("id");
        updateread(msgid);
        $(".childcommentcomment").css("display", "none");
        $(this).removeClass("unread");
        if ($(this).next('.childcommentcomment').hasClass("hide")) {

            $(this).next('.childcommentcomment').removeClass("hide").addClass("show").removeClass("unread");
        } else {
            $(this).next('.childcommentcomment').removeClass("show").addClass("hide").removeClass("unread");
        }
        var _count = parseInt($("#commentbadge_" + jobid).html()) - 1;
        if (_count > 0) {
            $("#commentbadge_" + jobid).html(_count);
        } else {
             $("#outside_" + jobid).html('--').removeClass("glyphicon").removeClass("glyphicon-comment").removeClass("outside").removeClass("notification");
             $("#commentbadge_" + jobid).remove();
        }

    });
     $(document).ready(function () {
        $('.popupdb').DataTable({
            'bSort': false, "pageLength": 10, "bFilter": false,
            "bLengthChange": false
        });
    });
    function updateread(id) {
        var _url = "@Url.Action("update_readstatus","offer")";
        $.get(_url, { 'jobid': id }, function (

        ) { });
    }

</script>