﻿@model hrm.Models.notificationModal
       @{ int i = 1;}

<style>
    @@media (min-width: 768px) {
        .tablmodal-dialog {
            width: 930px;
            margin: 30px auto;
        }
    }
</style>
@helper getCommentByHelper(string comment, int id,bool isread)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    var _oldvalue = comment;//orignal value with html
    var _newvalue = comment;//removing html
    _newvalue = rx.Replace(_oldvalue, "");//html removed
    var text = _newvalue.Count() > 100 ? _newvalue.Substring(0, 100) : _newvalue;// substring
    var text1 = _newvalue.Count() > 100 ? _newvalue.Substring(100) : _newvalue;// substring
    comment = comment.Replace(_newvalue, text);
      comment = rx.Replace(comment, "");//html removed
    _oldvalue = _oldvalue.Replace(_newvalue, text1);
    if (_newvalue.Count() > 100)
    {
        <span data-id="@id" class="parentcomment  offer @(!isread?"unread":"") ">@Html.Raw(comment)</span>
        <span class="childcommentcomment hide  offer @(!isread?"unread":"") ">@Html.Raw(_oldvalue)</span>
    }
    else
    {
        <span data-id="@id" class="parentcomment  offer @(!isread?"unread":"") ">@Html.Raw(comment)</span>
        <span class="childcommentcomment hide  offer @(!isread?"unread":"") "></span>
    }

}
<div class="col-md-12" style="max-height:400px;overflow-y:auto;">
    <table class="table data-table table-hover table-ultra-responsive dataTable no-footer popupdb">
        <thead>
            <tr>
                <th style="width: 25%;">Member</th>
                <th style="width: 55%;">Comment</th>
                <th style="width: 20%;">Date</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.message)
            {
                <tr>
                    <td nowrap style="width: 25%;">@item.createdby</td>
                    <td style="width: 55%;">@getCommentByHelper(item.body, item.msgitem,item.isread)</td>
                    <td nowrap style="width: 20%;">@item.createdDate</td>
                    
                </tr>
               
                i = i + 1;
            }
        </tbody>
    </table>

</div>
<div>

</div>
<script>
     $(document).ready(function () {
        $('.popupdb').DataTable({
            'bSort': false, "pageLength": 10, "bFilter": false,
            "bLengthChange": false
        });
    });
     function OpenRow(id,tr1) {
        $(".hdntextare").css("display","none");
        $("#" + id).css("display", "table-row");
         $("#" + tr1).css("display","table-row");
    }
    var jobid = "@Model.mainind";
    $(".parentcomment").on("click", function () {
        var msgid = $(this).data("id");
        updateread(msgid);
        $(".childcommentcomment").css("display", "none");
        $(this).removeClass("unread");
        if ($(this).next('.childcommentcomment').hasClass("hide")) {

            $(this).next('.childcommentcomment').removeClass("hide").addClass("show").removeClass("unread");
        } else {
            $(this).next('.childcommentcomment').removeClass("show").addClass("hide").removeClass("unread");
        }
        var _count = parseInt($("#commentbadge_" + jobid).html()) - 1;
        if (_count > 0) {
            $("#commentbadge_" + jobid).html(_count);
        } else {
             $("#outside_" + jobid).html('--').removeClass("glyphicon").removeClass("glyphicon-comment").removeClass("outside").removeClass("notification");
             $("#commentbadge_" + jobid).remove();
        }

    });

    function updateread(id) {
        var _url = "@Url.Action("update_readstatus","offer")";
        $.get(_url, { 'jobid': id }, function (

        ) { });
    }

</script>