﻿<style>
    @@page {
        margin: 0 0cm;
    }
</style>

<table style="width:100%;margin-top:-8px!important;padding-top:0px !important;border-collapse: collapse;font-family: Times New Roman;" cellpadding="10" cellspacing="5">
    <thead>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="text-align:center;padding-bottom: 30px;font-weight:400;height:100px;">
                <h2 style="font-size: 18px;"> W9 Form</h2>
            </td>
            <td style="width:50px;"></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Tax entity type : <label> $entity</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:20px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Social Security Number (SSN) :<label> $EIN</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Full name associated with SSN
                <label> $SSN1</label>

            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Doing Business As - Optional
                : <label> $Business</label>

            </td>
            <td style="width:20px;"></td>
        </tr>

        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">

                Address Line 1: <label> $add1</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 40px;height:30px;">
                Address Line 2 :<label> $add2</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 40px;height:30px;">
                City :<label> $city</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 40px;height:30px;">
                State :<label> $state</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 40px;height:30px;">
                Zip :<label> $zip</label>
            </td>
            <td style="width:50px;"></td>
        </tr>

        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:50px;">
                Under penalties of perjury, I certify that:
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:50px;">
                1. The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me); and
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:50px;">
                2. I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue
                Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am
                no longer subject to backup withholding; and
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:50px;">
                3. I am a U.S. citizen or other U.S. person (defined below); and
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:50px;">
                4. The FATCA code(s) entered on this form (if any) indicating that I am exempt from FATCA reporting is correct.
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:50px;">
                Certification instructions. You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding because
                you have failed to report all interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage interest paid,
                acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and generally, payments
                other than interest and dividends, you are not required to sign the certification, but you must provide your correct TIN. See the instructions for Part II, later
            </td>
            <td style="width:50px;"></td>
        </tr>

    </tbody>
</table>





