﻿
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.tab = ViewBag.tab == null ? 1 : ViewBag.tab;
    int tab = (int)ViewBag.tab;
    int typeid = 1;
    bool isuncomplete = false;//(bool)ViewBag.isuncomplete;
    var dct = Model._tools.GroupBy(a => a.typename).ToDictionary(a => a.Key, a => a.ToList());
    var filedct = Model._docs.OrderBy(a => a.mainorder).GroupBy(a => a.Filetypename).ToDictionary(a => a.Key, a => a.ToList());
    bool istermsrequire = Model.accepttermsrqud;
    bool istech = (bool)ViewBag.istech;

}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
@model hrm.Models.membermodal

<style>
    img#loading-image {
        position: absolute;
        top: 30%;
        left: 32%;
        z-index: 100;
    }

    div#loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.8;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }

    .form-grouppop .inner {
        height: 32vh;
    }

    #left_form {
        padding-top: 128px !important;
        padding-right: 32px;
        padding-left: 36px;
    }

    .feelable {
        margin-top: -1px;
        /* font-weight: 300!important; */
        margin-bottom: 30px;
        width: 100%;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: .5px;
    }
    /*.wrapper-bottom-sec {
            background: white !important;
        }*/

    .pb-13 {
        margin-bottom: 20px !important;
    }

    .cuschk {
        cursor: pointer;
    }

    .lbwdth {
        width: 100%;
    }

    .active a {
        font-weight: 700;
    }

   
    #pleftform {
        background: #00BCD4;
        color: white;
        height: 607px;
    }

    h3.main_question {
        margin: 0 0 20px;
        padding: 0;
        font-weight: 400;
        font-size: 26px;
    }

    #left_form h4 a {
        color: white !important;
    }

    #divForm {
        height: 630px;
        width: 1000px;
    }

    #maindiv {
        background: white;
        height: 607px;
        padding: 58px;
    }
     .nav-tabs .active a {
        font-weight: 400;
    }
    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 17px;
        left: 1px;
        position: absolute;
        top: 5px;
        width: 17px;
    }
     .round {
        position: relative;
        padding-bottom: 17px;
    }

   

    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 12px;
    }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 0px;
    }

    .hdr {
        background: #F7F8FA;
        color: black;
        margin-bottom: 10px;
        border: 1px solid rgba(230, 230, 230, 0.7);
    }

    .tab-content .p-20 {
        padding-left: 0px !important;
    }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: #30DDBC;
            border-color: #30DDBC;
        }

    .bck {
        background-color: #30DDBC !important;
        border-color: #30DDBC !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 3px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 3px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }



    #amount:hover {
        background-color: #F1F9FF;
    }

    /*.panel-heading {
            padding-bottom: 12px !important;
        }*/

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-toggle, .btn-group {
        width: 100% !important;
        text-align: left !important;
    }

    .btnn {
        padding-top: 212px !important;
        padding-right: 38px !important;
    }

    #left_form h4 {
        font-size: 17px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .f11 {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: .5px;
        margin-bottom: 0px !important;
    }

    .headingtool {
        margin-bottom: 6px !important;
        margin-top: 10px;
    }

    .btn-group > .dropdown-toggle, .btn-group > .dropdown-toggle:hover {
        background-color: white !important;
        color: black !important;
    }
    /*.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-

    default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-

    default.focus {
            background-color: white !Important;
            border-color: grey !important;
            color: #626262 !important;
            height: 42px;
        }*/
    .tdupper {
        font-weight: 600 !important;
        font-size: 15px !important;
        background: #f7f8fa !important;
    }

    .btn-circle {
        padding: 0px;
        border-radius: 50px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .mrgtop0 {
        margin-top: 0px;
    }

    .btmhr {
        border-bottom: 1px solid #eee;
    }

    .text-gray {
        color: gray !important
    }

    #termsForm {
        height: 424px;
        width: 881px;
        background: white !important;
        padding: 60px !important;
        padding-top: 57px !important;
        font-size: 23px;
    }

        #termsForm a {
            font-weight: 300;
        }

    .mr-60 {
        margin-bottom: 24px;
    }

        .mr-60 > label {
            font-size: 15px;
            padding-top: 70px;
        }
</style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }


    <div class="row" style="display:none" id="divForm">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="pleftform">
            <div id="left_form">
                <h3 class="text-justify">
                    PERSONAL INFORMATION
                </h3>
                <h4 class="text-justify m-t-40 pb-13 1h4" style="@(Model.isma?"display:none":"display:block")">
                    <a id="1h4" href="#">Mailing address</a>

                </h4>
                <h4 class="text-justify pb-13 2h4 @(Model.isma?"m-t-40":"")" style="@(Model.isrtw?"display:none":"display:block")">

                    <a id="2h4" href="#"> Right to work</a>
                </h4>
                <h4 class="text-justify pb-13 3h4 @(Model.isrtw?"m-t-40":"")" style="@(Model.isw9?"display:none":"display:block")">

                    <a id="3h4" href="#">  W9 form</a>
                </h4>
                <h4 class="text-justify pb-13 4h4 @(Model.isw9?"m-t-40":"")" style="@(Model.isdd?"display:none":"display:block")">
                    <a id="4h4" href="#"> Direct deposit</a>

                </h4>
                <hr class="pb-13 @(Model.isdd?"m-t-40":"")" />
                <h4 class="text-justify pb-13 5h4">
                    <a href="#"> Profile picture</a>
                </h4>
            </div>
        </div>
        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 " id="maindiv">


            <!-- /Wizard container -->
        </div>
    </div><!-- /Row -->

    <div class="row" style="display:none" id="termsForm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                The Taskayak application legal terms and conditions has been updated.

                You can proceed using the system once you agree to the updated terms and conditions.

            </p>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mr-60">
            <label><input type="checkbox" id="termscheck" /> <a target="_blank" href="https://taskayak.com/legal">Agree to Taskayak terms and conditions</a></label>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <a href="#" onclick="declineterms()" class="btn btn-sm pull-left btn-default btn-default1">DECLINE</a>

            <a onclick="acceptterms()" href="#" class="btn btn-sm  btn-success pull-right">AGREE</a>
        </div>
    </div><!-- /Row -->
    <div id="compnaymodel" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Company</h4>
                </div>
                @using (Html.BeginForm("addcompany", "account", FormMethod.Post, new { @id = "companyfrm" }))
                {<div class="modal-body">
                        <div class="form-group  col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Company Name</label>
                            <input type="text" name="name" id="cname" class="form-control capitalize" required />
                            <input type="hidden" id="cuserid" value="@Model.userid" name="cuserid" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Primary Contact</label>
                            <input type="text" name="primarycontactname" id="cprimarycontactname" class="form-control capitalize" required />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Website</label>
                            <input type="text" name="website" id="cwebsite" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Rate</label>
                            <span class="help">e.g. "10"</span>
                            <input type="text" name="rate" id="crate" class="form-control ratetext" />
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Email Address</label>
                            <input type="email" name="email" id="cemail" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Phone</label>
                            <input type="text" name="phone" id="cphone" class="form-control phonenumber" required maxlength="12" />
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label for="el3">City</label>

                            <input type="text" name="city" id="companycity_id" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>State</label>
                            <select id="companystate_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Address</label>
                            <input type="text" name="address" id="caddress" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Zipcode</label>
                            <input type="text" name="zipcode" id="czipcode" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>

    </div>

    <div id="mdlupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
                </div>
                @using (Html.BeginForm("password_update", "account", FormMethod.Post, new { @id = "passwordfrm" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="hidden" name="curpass" value="@Model.password" />
                            <input type="text" class="form-control" required="" id="newpass" name="newpass" placeholder="******">

                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>

                            <input type="text" class="form-control" required="" id="oldpass" name="oldpass" placeholder="******">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                    </div>
                }
            </div>
        </div>

    </div>
    <div id="toolupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tool</h4>
                </div>
                @using (Html.BeginForm("add_tools", "account", FormMethod.Post, new { @id = "toolfrm" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Tool Type</label>
                            <input type="hidden" name="tooltype1" id="tooltype1" />
                            <input type="text" class="form-control" id="_tooltype1" readonly="readonly">

                        </div>
                        <div class="form-group">
                            <label>Tool</label>
                            <input type="text" class="form-control" required="" id="toolname1" name="toolname1" placeholder="Enter tool name">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                }
            </div>
        </div>

    </div>

    <div id="docupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
                </div>
                @using (Html.BeginForm("edit_doc", "account", FormMethod.Post, new { @id = "docsendsms", @enctype = "multipart/form-data" }))
                {<div class="modal-body">
                        @Html.HiddenFor(a => a.userid, new { @id = "docuserid" })
                        <div class="form-group">
                            <label>Document Type</label>  <select class="selectpicker form-control" name="_dctype">
                                <option value="0">Document type</option>
                                @foreach (var item in Model._dctype)
                                {
                                    <option value="@item.typeid">@item.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Document Title</label>
                            <span class="help">e.g. "Resume, Joining Letter,Certification etc"</span>
                            <input type="text" class="form-control" required="" name="doc">
                        </div>
                        <div class="form-group">
                            <label>Select Document</label>
                            <div class="input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-success btn-file">
                                        Browse <input required type="file" class="form-control" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-plus"></i>Add</button>
                    </div>
                }


            </div>
        </div>

    </div>
    <div id="mdlupdate1" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Photo</h4>
                </div>
                @using (Html.BeginForm("edit_image", "account", FormMethod.Post, new
                {
                    @id = "imgsendsms",
                    @enctype = "multipart/form-data"

                }))
                {<div class="modal-body" style="height:300px;">
                        <div class="col-md-12">
                            <div style="height:200px;width:200px;background-color:lightgray;">
                                <img id="output" style="width:200px;height:200px;" src="https://taskayak.com/content/images/default.webp" />
                            </div>

                        </div>
                        <div class="col-md-7" style="margin-top:10px;">
                            <div class="form-group input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-success btn-file" style="padding-bottom: 7px;">
                                        Browse <input type="file" class="form-control" required name="file" accept="image/*"
                                                      onchange="loadFile(event)">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Update</button>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body p-t-20" style="background: white;padding-right: 0px;">
                    <div class="col-md-12">
                        <h3 class="panel-title" style="margin-bottom: 24px;padding-left: 17px;">
                            ID: @Model.member_id
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    @using (Html.BeginForm("edit", "account", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="col-md-5">
                            <div class="pull-left col-md-5">
                                <div class="thumbnail m-b-none">
                                    <img src="@(Model.image == "default" ? Url.Content("~/content/images/default.webp") : Url.Content(Model.image))" alt="Profile Page" style="width:200px;height:200px">
                                </div>

                            </div>

                            <div class="pull-left col-md-7">
                                <div class="form-group">
                                    <h3 class="bold font-color-1">@(Model.FirstName + ' ' + Model.lastname)</h3>
                                </div>
                                <div class="form-group">
                                    <span>User name: @Model.email</span>
                                </div>
                                <div class="form-group">
                                    <span>Password: xxxxxx</span>
                                </div>
                                <div class="form-group">
                                    <a href="#" onclick="reset()">Reset password</a>
                                </div>

                            </div>
                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="pull-left col-md-12">
                                <a href="#" onclick="resetphoto()">Update Photo</a>
                            </div>

                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="form-group col-md-6">
                                <label>First name</label>
                                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control capitalize", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(a => a.FirstName)
                                @Html.HiddenFor(a => a.userid, new { @id = "mainuserid" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last name</label>
                                @Html.TextBoxFor(a => a.lastname, new { @class = "form-control capitalize", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(a => a.lastname)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Company</label>
                                @Html.TextBoxFor(a => a.company, new { @class = "form-control", @placeholder = "Company" })
                                @if (Model.companyid == 0 && istech)
                                {
                                    <a href="#" id="compnaymodelopen"> Register your company </a>
                                }
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email address</label>
                                @Html.TextBoxFor(a => a.email, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(a => a.email)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                @Html.TextBoxFor(a => a.phone, new { @class = "form-control phonenumber", @placeholder = "Phone Number" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Alternative phone</label>
                                @Html.TextBoxFor(a => a.alertnative_phone, new
                                {
                                    @class = "form-control phonenumber",
                                    @placeholder = "Alternative Phone"
                                })

                            </div>
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                @Html.TextBoxFor(a => a.address, new
                                {
                                    @placeholder = "Address",
                                    @class = "form-control",
                                    @id = "mainaddress"
                                })
                            </div>
                            <div class="form-group col-md-6">
                                <label>State</label>
                                <select class="selectpicker form-control" data-live-search="true" name="state_id" id="state_id">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>City</label>
                                <select class="selectpicker form-control" disabled="disabled" data-live-search="true" name="city_id"
                                        id="city_id">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Zipcode</label>
                                @Html.TextBoxFor(a => a.zip, new { @class = "form-control", @placeholder = "Zipcode", @id = "mainzip" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Background</label>
                                <select class="selectpicker form-control" data-live-search="false" name="background">
                                    <option @(Model.background == "" ? "selected" : "") value="">Background</option>
                                    <option @(Model.background == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.background == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.background == "Pending" ? "selected" : "") value="Pending">Pending</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    Drug tested
                                </label>
                                <select class="selectpicker form-control" data-live-search="false" name="drugtested">
                                    <option @(Model.drugtested == "" ? "selected" : "") value="">
                                        Drug tested
                                    </option>

                                    <option @(Model.drugtested == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.drugtested == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.drugtested == "Pending" ? "selected" : "") value="Pending">Pending</option>

                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Hourly rate</label>
                                @Html.TextBoxFor(a => a.hourlyrate, new { @class = "form-control ratetext" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Overtime rate</label>
                                @Html.TextBoxFor(a => a.tax, new { @class = "form-control ratetext" })

                            </div>


                            <div class="form-group col-md-6">
                                <label>Driving Distance</label>
                                @Html.TextBoxFor(a => a.drivingdistance, new { @class = "form-control", @placeholder = "Driving distance" })
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-sm pull-left">
                                        <i class="fa fa-save"></i> Update

                                    </button>
                                </div>
                            </div>

                        </div>
                    }
                    <div class="col-md-7">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="@(tab == 1 ? "active" : "")">
                                <a href="#document" aria-controls="messages"
                                   role="tab" data-toggle="tab" aria-expanded="false">Document</a>
                            </li>
                            <li role="presentation" class="@(tab == 2 ? "active" : "")">
                                <a href="#personal_details" aria-controls="home"
                                   role="tab" data-toggle="tab" aria-expanded="true">Skill</a>
                            </li>
                            <li role="presentation" class="@(tab == 3 ? "active" : "")">
                                <a href="#bank_information" aria-controls="profile"
                                   role="tab" data-toggle="tab" aria-expanded="false">Tool</a>
                            </li>
                            <li role="presentation" class="@(tab == 4 ? "active" : "")">
                                <a href="#Screening" aria-controls="Screening"
                                   role="tab" data-toggle="tab" aria-expanded="false">Screening</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane @(tab == 1 ? "active" : "")" id="document">
                                <div class="panel">
                                    <div class="panel-heading" style="padding-left:20px;padding-bottom: 73px;padding-top: 24px">
                                        <h3 class="panel-title">
                                            <a class="btn btn-success btn-sm pull-right" style="font-weight:500;" href="#" onclick="adddoc()">
                                                <i class="fa fa-plus"></i> Add New Document
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="panel-body p-none">


                                        <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer"
                                               id="tbldoc">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Download</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item1 in filedct)
                                                {
                                                    <tr>
                                                        <td class="tdupper" colspan="3">@item1.Key</td>
                                                        <td style="display:none;"></td>
                                                        <td style="display:none;"></td>
                                                    </tr>
                                                    foreach (var item in filedct[item1.Key].Where(a => a.Filetile != "").OrderBy(a => a.Filetypename))
                                                    {
                                                        <tr>
                                                            <td>@item.Filetile</td>
                                                            <td>
                                                                <a href="@item.url.Replace("App_Data", "formfiles")" download target="_blank"
                                                                   class="btn btn-success btn-xs pull-left">
                                                                    <i class="fa fa-download"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="btn btn-danger btn-xs tFileDelete" data-
                                                                   memberid="@Model.member_id" id="@item.filetoken"><i class="fa fa-trash"></i></a>

                                                            </td>
                                                        </tr>

                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(tab == 2 ? "active" : "")" id="personal_details">
                                @using (Html.BeginForm("edit_skills", "account", FormMethod.Post, new
                                {
                                    @id = "skillsendsms",
                                    @enctype = "multipart/form-data"
                                }))
                                {
                                    int cnt = 1;
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                        @foreach (var item in Model._skills)
                                        {
                                            if (Model.skills != null && Model.skills.Contains(item.id))
                                            {
                                                <div class="col-md-4 round f11 col-sm-6 col-xs-6">

                                                    <input type="checkbox" name="skills" id="s_@item.id" value="@item.id" checked="checked" /> @item.name
                                                    <label for="checkbox" class="cuschk bck" data-id="s_@item.id"></label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-4 round col-sm-6 col-xs-6 f11">

                                                    <input type="checkbox" name="skills" id="s_@item.id" value="@item.id" /> @item.name
                                                    <label for="checkbox" class="cuschk" data-id="s_@item.id"></label>
                                                </div>
                                            }
                                            cnt = cnt + 1;
                                            if (cnt > 3)
                                            {
                                                cnt = 1;
                                                <div class="clearfix"></div>
                                            }
                                        }
                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="col-md-12" style="margin-top:20px;">
                                        <hr />
                                        @Html.HiddenFor(a => a.userid, new { @id = "skillserid" })
                                        <button type="submit" class="btn btn-success btn-sm pull-right">
                                            <i class="fa fa-save"></i> Update

                                        </button>

                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane  p-20 @(tab == 3 ? "active" : "")" id="bank_information"
                                 style="height:100vh;">
                                @using (Html.BeginForm("edit_tools", "account", FormMethod.Post, new
                                {
                                    @id = "toolssendsms",
                                    @enctype = "multipart/form-data"
                                }))
                                {
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">

                                        @foreach (var item in dct)
                                        {
                                            typeid = 0;
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 hdr">
                                                <div class="form-group headingtool">
                                                    <label>@item.Key</label>
                                                    <a href="#" class="text-gray pull-right" onclick="gettoolwindow('@item.Key')">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                @foreach (var item1 in dct[item.Key].Where(a => a.name != "").OrderBy(a => a.name))
                                                {
                                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                                        <div class="form-group round f11">
                                                            @if (Model.tools != null && Model.tools.Contains(item1.id))
                                                            {
                                                                <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.id"
                                                                       value="@item1.id" checked="checked" /> @item1.name
                                                                    <label for="checkbox" class="cuschk bck" data-id="t_@item1.id"></label>

                                                                }
                                                                else
                                                                {
                                                                    <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.id"
                                                                           value="@item1.id" /> @item1.name
                                                                        <label for="checkbox" class="cuschk" data-id="t_@item1.id"></label>
                                                                    }
                                                        </div>
                                                    </div>
                                                    typeid = typeid + 1;
                                                    if (typeid > 3)
                                                    {
                                                        typeid = 0;
                                                        <div class="clearfix"></div>
                                                    }
                                                }

                                            </div>
                                        }


                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="margin-top:34px;">
                                        <hr />
                                        <div class="clearfix"></div>
                                        @Html.HiddenFor(a => a.userid, new { @id = "toolsuserid" })
                                        <button type="submit" class="btn btn-success btn-sm pull-right">
                                            <i class="fa fa-save"></i> Update

                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(tab == 4 ? "active" : "")" id="Screening" style="height:100vh;">
                                @using (Html.BeginForm("add_bck", "account", FormMethod.Post, new
                                {
                                    @id = "backgroundsendsms",
                                    @enctype = "multipart/form-data"
                                }))
                                {

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Sterling standard background check
                                            </label>
                                        </div>

                                        <label class="feelable">
                                            Technician fee $40.00 (required)
                                        </label>

                                        <button class="btn btn-success btn-sm" type="button"><i class="fa  fa-dollar"></i> Pay fee</button>
                                        <label class="help lbwdth m-t-30">Amount paid</label>
                                        <hr class="mrgtop0" />
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Sterling  standard drug test
                                            </label>
                                        </div>
                                        <label class="feelable">
                                            Technician fee $40.00(required)
                                        </label>
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa  fa-dollar"></i> Pay fee</button>
                                        <label class="help lbwdth m-t-30">Amount paid</label>
                                        <hr class="mrgtop0 " />
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Start the required  background check
                                            </label>
                                        </div>
                                        <button class="btn btn-success btn-sm" type="button">
                                            <i class="fa fa-hourglass-start"></i> Start

                                            test
                                        </button>

                                        <label class="feelable m-t-30">
                                            Result
                                        </label>
                                        <label class="help lbwdth m-t-20">pending</label>
                                        <hr class="mrgtop0 btmhr" />
                                        <div class="clearfix"></div>
                                        <div class="form-group" style="margin-top:10px;">
                                            <label>UPLOAD EXISTING BACKGROUND CHECK DOC</label>
                                            <div class="input-group input-group-file">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-success btn-file" style="padding-bottom: 7px;">
                                                        Browse <input required type="file" class="form-control" name="file">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" readonly="">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-sm pull-right">
                                            <i class="fa fa-plus"></i> Add

                                        </button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Start the required  background check
                                            </label>
                                        </div>
                                        <button class="btn btn-success btn-sm" type="button">
                                            <i class="fa fa-hourglass-start"></i> Start

                                            test
                                        </button>

                                        <label class="feelable  m-t-30">
                                            Result
                                        </label>
                                        <label class="help lbwdth m-t-20">pending</label>
                                        <div class="clearfix"></div>
                                        <hr class="mrgtop0 btmhr" />
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6" style="font-size: 21px;">
                                        <hr class="btmhr" />
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label class="bcklabel">  Go to enhance screening</label>
                                            <label class="">
                                                <a href="#">
                                                    <i style="font-size: 15px;color:#30DDBC;" class="fa fa-arrow-right"></i>
                                                </a>
                                            </label>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!isuncomplete && !istermsrequire)
{<a style="display:none;" href="#divForm" id="btnForm" class="btnForm">

    </a>
    <script>
        $(window).load(function () {

            $('#btnForm').fancybox({
                touch: false,
                clickOutside: false,
                dblclickContent: false,
                dblclickSlide: false,
                dblclickOutside: false,
                clickSlide: false,
                afterClose: function () {
                    location.href = "https://taskayak.com/account/edit";
                }
            });
            $("#btnForm").trigger("click");

            if ('@Model.isma.ToString().ToLower()' == 'false') {
                getmailing();
            } else if ('@Model.isrtw.ToString().ToLower()' == 'false') {
                rtw();
            }
            else if ('@Model.isw9.ToString().ToLower()' == 'false') {
                w9f();
            }
            else if ('@Model.isdd.ToString().ToLower()' == 'false') {
                dd();
            }
            else  {
                pp();
            }
            });

    </script>
}

@if (istermsrequire)
{<a style="display:none;" href="#termsForm" id="btntermsForm" class="btntermsForm">

    </a>
    <script>
        $(window).load(function () {

            $('#btntermsForm').fancybox({
                touch: false,
                clickOutside: false,
                dblclickContent: false,
                dblclickSlide: false,
                dblclickOutside: false,
                clickSlide: false,
                afterClose: function () {
                    location.href = "https://taskayak.com/account/edit";
                }
            });
            $("#btntermsForm").trigger("click");
            $(".fancybox-close-small").css("display", "none");
        });
    </script>
}


<script>
    $("#compnaymodelopen").on("click", function () {
          $("#cname").val('');
        $("#cprimarycontactname").val('');
        $("#cemail").val('');
        $("#cphone").val('');
        $("#companystate_id").val(0).selectpicker('refresh');
        $("#companycity_id").val('');
        $("#crate").val('');
        $("#caddress").val('');
        var cmpnyname = $("#company").val();
        var fname = $("#FirstName").val();
        var lname = $("#lastname").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var zip = $("#mainzip").val();
        var stateid = $("#state_id").val();
        var crate = $("#hourlyrate").val();
          var caddress = $("#mainaddress").val();
          $("#caddress").val(caddress);
        $("#cname").val(cmpnyname);
        $("#cprimarycontactname").val(fname+' '+lname);
        $("#cemail").val(email);
        $("#cphone").val(phone);
        $("#czipcode").val(zip);
        $("#companystate_id").val(stateid).selectpicker('refresh');
       var cvalue= $("#city_id option:selected").text();
        $("#companycity_id").val(cvalue);
        $("#crate").val(crate);
        $("#compnaymodel").modal("show");
    });
    function getloader() {
       $("#maindiv").append('<div id="loading"><img id="loading-image" src="http://taskayak.com/fancybox/wait.gif" alt="Loading..."></div>');
    }
    function getloader2() {
       $("#termsForm").append('<div id="loading"><img id="loading-image" src="http://taskayak.com/fancybox/wait.gif" alt="Loading..."></div>');
    }
    function gettoolwindow(item) {
            $("#toolupdate").modal("show");
            $("#tooltype1").val(item);
              $("#_tooltype1").val(item);
        }
    var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    function pp() {
              getloader();
              $("h4").removeClass("active");
              var url = "@Url.Action("pp","account")";
            $.get(url, function (data) {
                $("#maindiv").html(data);
                $(".5h4").addClass("active");
                $(".fancybox-close-small").css("display", "none");
            });
    }
    function dd() {
             getloader();
              $("h4").removeClass("active");
              var url = "@Url.Action("dd","account")";
            $.get(url, function (data) {
                $("#maindiv").html(data);
                $(".4h4").addClass("active");
                $(".fancybox-close-small").css("display", "none");
            });
    }
    function w9f() {
            getloader();
            $("h4").removeClass("active");
            var url = "@Url.Action("w9f","account")";
            $.get(url, function (data) {
                $("#maindiv").html(data);
                $(".3h4").addClass("active");
                $(".fancybox-close-small").css("display", "none");
            });
        }
    function rtw() {
        getloader();
              $("h4").removeClass("active");
            var url = "@Url.Action("rtw","account")";
            $.get(url, function (data) {
                $("#maindiv").html(data);
                $(".2h4").addClass("active");
                $(".fancybox-close-small").css("display", "none");
            });
        }
    function getmailing() {
             getloader();
            $("h4").removeClass("active");
            var url = "@Url.Action("getmailing","account")";
            $.get(url, function (data) {
                $("#maindiv").html(data);
                $(".1h4").addClass("active");
                $(".fancybox-close-small").css("display", "none");
            });
    }
    function acceptterms() {
         var radios = $("#termscheck").prop("checked");
        if (radios==false) {
             alertify.log("Please select check to Agree to Taskayak terms and conditions", 'error', 5000);
            return false;
        }
        getloader2();
            var url = "@Url.Action("accept","account")";
            $.get(url, function (data) {
                  location.href = "https://taskayak.com/account/edit";
            });
    }
    function declineterms() {
        getloader2();
       var url = "@Url.Action("declineterms","account")";
            $.get(url, function (data) {
                  location.href = "https://taskayak.com/account/edit";
            });
    }
    function fnsmain() {
         getloader();
        location.href = "https://taskayak.com/account/edit";
    }
    function fns() {
         getloader();
        var formData = new FormData();
        formData.append('file', $('#ppfile')[0].files[0]);
        var Imageurl = "@Url.Action("uploadimage","account")";
        $.ajax({
            type:'POST',
            url: Imageurl,
            data:formData,
            cache:false,
            contentType: false,
            processData: false,
            success:function(data){

            },
            error: function(data){

            }
        });
         var url = "@Url.Action("complete","account")";
            $.get(url,function (data) {
                  $("#maindiv").html(data);
                //$("#left_form").html("<h3 class='text-justify' style='padding-top: 42px;font-size: 38px;'>Profile Completed!</h3>");
                $(".fancybox-close-small").css("display", "block");
            });
    }
    function submotrtw() {
        var chkauth = false;
    var citizen = $("input[name='citizen']:checked");
        if (citizen.length < 1) {
             alertify.log("Please select all fields", 'error', 5000);
            return false;
        }
        var age = $("input[name='age']:checked");
        if (age.length < 1) {
             alertify.log("Please select all fields", 'error', 5000);
            return false;
        }
         var felony = $("input[name='felony']:checked");
        if (felony.length < 1) {
             alertify.log("Please select all fields", 'error', 5000);
            return false;
        }
        var chkcitizen = $("input[name='citizen']:checked").val();
        if (chkcitizen == "false") {
            var authorized = $("input[name='authorized']:checked");
            if (authorized.length < 1) {
                alertify.log("Please select all fields", 'error', 5000);
                return false;
            }
            chkauth = $("input[name='authorized']:checked").val();
        } else {
            chkauth = true;
        }
       
        var url = "@Url.Action("rtwsubmit","account")";
        var chkage = $("input[name='age']:checked").val();
        var chkfealony = $("input[name='felony']:checked").val();
        var felony =$("#explainfelony").val();
        if (chkfealony == "true") {
            if ($.trim(felony)== "") {
                alertify.log("Please explain if you ever been convicted of a felony ", 'error', 5000);
                return false;
            }
        }
         getloader();
         $("h4").removeClass("active");
        $.get(url, {'explainfelony':felony,'fealony':chkfealony,'auth':chkauth,'age':chkage,'citizen':chkcitizen}, function (data) {
            if ('@Model.isw9.ToString().ToLower()' == 'false') {
                w9f();
            } else if ('@Model.isdd.ToString().ToLower()' == 'false') {
                dd();
            } else {
                pp();
            }

            });
    }
    function submitgottortw() {
            var address = $("#address").val();
            var stateid = $("#stateid").val();
            var cityid = $("#cityid").val();
            var zipcode = $("#zipcode").val();
            var travldistance = $("#travldistance").val();
            var hrlyrate = $("#hrlyrate").val();
            if ($.trim(address) == "") {
                alertify.log("Address can't be empty", 'error', 5000);
                return false;
            }
             if (stateid == 0) {
                 alertify.log("State must be selected", 'error', 5000);
                  return false;
            }
             if (cityid == 0) {
                 alertify.log("City must be selected", 'error', 5000);
                  return false;
            }
              if ($.trim(zipcode) == "") {
                alertify.log("Zipcode can't be empty", 'error', 5000);
                return false;
            }
            if ($.trim(travldistance) == "") {
                alertify.log("Travel distance can't be empty", 'error', 5000);
                return false;
            }
             if ($.trim(hrlyrate) == "") {
                alertify.log("Hourly rate can't be empty", 'error', 5000);
                return false;
            }
         getloader();
             var url = "@Url.Action("updatemailing","account")";
            $.get(url,{'address':address,'stateid':stateid,'cityid':cityid,'zipcode':zipcode,'travldistance':travldistance,'hrlyrate':hrlyrate},function () {
                 if ('@Model.isrtw.ToString().ToLower()' == 'false') {
               rtw();
            } else
                 if ('@Model.isw9.ToString().ToLower()' == 'false') {
                w9f();
            } else if ('@Model.isdd.ToString().ToLower()' == 'false') {
                dd();
            } else {
                pp();
            }

            });
    }
    function submitdd() {
        var Typeofaccount = $("#Typeofaccount").val();
        var bankname = $("#bankname").val();
        var Accountcitystate = $("#Accountcitystate").val();
        var routingnumber = $("#routingnumber").val();
        var account_number = $("#account_number").val();
        var account_name = $("#account_name").val();
         if (routingnumber == ""||account_number== ""||account_name==""||Typeofaccount == ""||bankname== ""||Accountcitystate=="") {
             alertify.log("All fielda are required", 'error', 5000);
            return false;
        }
        var bank_authorization = $("#lblbank_authorization").hasClass("bck");

         if (bank_authorization==false) {
             alertify.log("All fielda are required", 'error', 5000);
            return false;
        }
        getloader();
             var url = "@Url.Action("updatddinfo","account")";
        $.get(url,{'bank_authorization':bank_authorization,'account_number':account_number,'routingnumber':routingnumber,'Accountcitystate':Accountcitystate,'bankname':bankname,'Typeofaccount':Typeofaccount,'account_name':account_name},function () { pp();        });
    }
    function submitw9() {
        var entity = $("#entity").val();
        var EIN1 = $("#EIN1").val();
        var EIN2 = $("#EIN2").val();
        var EIN3 = $("#EIN3").val();
          var EIN4 = $("#EIN4").val();
        var SSN1 = $("#SSN1").val();
        var SSN2 = $("#SSN2").val();
        var SSN3 = $("#SSN3").val();
        var SSN4 = $("#SSN4").val();
        var Business1 = $("#Business1").val();
        var Business2 = $("#Business2").val();
          var Business3 = $("#Business3").val();
        var Business4 = $("#Business4").val();
        var taxclass = $("#SSN5").val();
        if (entity == 1) {
             if (EIN1 == ""||SSN1== "") {
             alertify.log("All fielda are required", 'error', 5000);
            return false;
        }
        }
          else if (entity == 2) {
             if (EIN2 == ""||SSN2== "") {
             alertify.log("All fielda are required", 'error', 5000);
            return false;
        }
        }
         else if (entity == 3) {
             if (EIN3 == ""||SSN3== "") {
             alertify.log("All fielda are required", 'error', 5000);
            return false;
        }
        }
         else if (entity == 4) {
             if (EIN4 == ""||SSN4== ""||taxclass=="") {
             alertify.log("All fielda are required", 'error', 5000);
            return false;
        }
        }
          var cityid = $("#ppcity").val();
          var stateid = $("#ppstate").val();
        var zip = $("#zip").val();
        var Address2 = $("#Address2").val();
        var Address1 = $("#Address1").val();
        if (zip == "") {
             alertify.log("Zipcode can't be empty", 'error', 5000);
            return false;
        }
        //if (Address2 == "") {
        //       alertify.log("Address Line2 can't be empty", 'error', 5000);
        //    return false;
        //}
        if (Address1 == "") {
                alertify.log("Address Line1 can't be empty", 'error', 5000);
            return false;
        }
        if (stateid == "") {
                alertify.log("State can't be empty", 'error', 5000);
            return false;
        }
        if (cityid == "") {
              alertify.log("City can't be empty", 'error', 5000);
            return false;
        }
        getloader();
             var url = "@Url.Action("updatw9info","account")";
            $.get(url,{'ssn5':taxclass,'Address2':Address2,'zip':zip,'Address1':Address1,'state':stateid,'city':cityid,'Business4':Business4,'Business3':Business3,'Business2':Business2,'Business1':Business1,'SSN4':SSN4,'SSN3':SSN3,'SSN2':SSN2,'entity':entity,'EIN1':EIN1,'EIN2':EIN2,'EIN3':EIN3,'EIN4':EIN4,'SSN1':SSN1},function () {
            if ('@Model.isdd.ToString().ToLower()' == 'false') {
                dd();
            } else {
                pp();
            }
            });
    }
    function reset() {
         $("#mdlupdate").modal("show");
    }
    function adddoc()
    {$("#docupdate").modal("show");

    }
    function resetphoto() {
         $("#mdlupdate1").modal("show");
    }
    $(".elink").on("click", function () {
        var bankid = $(this).data('bankid');
        $("#bankid").val(bankid);
        var pan = $(this).data('pan');
        $("#pan_number").val(pan);
        var ifsccode = $(this).data('ifsc');
        $("#ifsc_code").val(ifsccode);
        var acnumber = $(this).data('acnumber');
        $("#account_number").val(acnumber);
        var acc_name = $(this).data('acc_name');
        $("#account_name").val(acc_name);
        var brnchname = $(this).data('brnchname');
        $("#branch_name").val(brnchname);
        var bname = $(this).data('bname');
        $("#bank_name").val(bname);
        $("#mdlupdate").modal("show");
    });
    var email_exist = "False";
    var memberid_exist =  "False";
    var username_exist =  "False";
    $("#email").on("change", function () {
        var _val = $("#email").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 1, 'value': _val }, function (data) {
                email_exist = data;
            });
        }
    });
    $("#member_id").on("change", function () {
        var _val = $("#member_id").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 2, 'value': _val }, function (data) {
                memberid_exist = data;
            });
        }
    });
    $('#passwordfrm').submit(function (e) {
        var oldpass = $("#oldpass").val();
        var newpass =$("#newpass").val();
        if (oldpass != newpass) {
            alertify.log("Password and confirm password mustmatch", 'error', 5000);
            return false;
        }
        else {
                return true;
            }

        });
    $(document).ready(function () {
         $(".tFileDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('memberid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_doc","account")";
                    window.location.href = _url + "?memberid=0&id="+id;
                }
            });
         });
         $(".tbankDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('memberid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_bank","member")";
                    window.location.href = _url + "?mtoken=" + client_id+"&token="+id;
                }
            });
         });
        $("#skills").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Skills';
            },});
       $('.data-table').DataTable({ 'bSort': false, "pageLength": 25 ,"bFilter" : false,"bLengthChange": false });

      get_Manager_selectbyid('@Model.Managerid');
      function get_Manager_selectbyid(id) {
            var dataString = 'optvalue=Manager&memberid='+id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Managerid").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
      get_state('@Model.state_id', 'state_id');
      get_state('0','companystate_id');
      get_city('@Model.city_id','@Model.state_id','city_id');
      function get_state(state_id,id) {
            var dataString = 'ismulti=0&stateid='+state_id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_state","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+id).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
      function get_city(city_id,state_id,id) {
             var dataString = 'id=' + state_id+"&cityid="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+id).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
      $("#state_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=0";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#city_id").html(data).removeAttr('disabled').selectpicker('refresh');

                            }
                        });
            } else {
               $("#city_id").html('<option value="0">City</option>').attr('disabled',true);
                }
          });
      $("#department_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'deptid=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_designation_by_deptid","member")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#designation").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#designation").html('<option value="0">Designation</option>').attr('disabled',true).selectpicker('refresh');
                }
            });
    });
    $(".cuschk").on("click", function () {
        var id = $(this).data("id");
         if ($(this).hasClass("bck")) {
             $("#" + id).attr("checked", false);
             $(this).removeClass("bck");
  } else {
             $("#" + id).attr("checked", true);
             $(this).addClass("bck");
  }

    });
    $(document).ready(function () {
         $('body').on('click', '[data-fancybox-close]', function() {
   location.href = "https://taskayak.com/account/edit";
});
    });
</script>
<style>
    .fancybox-content {
        background: #fff;
        display: inline-block;
        margin: 0;
        max-width: 1000px !important;
        overflow: hidden !important;
        -webkit-overflow-scrolling: touch;
        padding: 12px !important;
        position: relative;
        text-align: left;
        vertical-align: middle;
        background: #E4EDF2 !important;
    }

    .btn-default {
        background-color: #E4EDF2 !important;
        color: black !important;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        color: #8F9098 !important;
    }

    .inner > .selected > a {
        color: white !important;
    }

    .modal-body .inner > .selected > a {
        color: #8F9098 !important;
    }

    .btn-default:hover {
        background-color: #30DDBC !important;
        color: white !important;
        /*// border-bottom: 2px solid #30DDBC !important;*/
    }
</style>







