﻿
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
}

@model hrm.Models.clientmodal_item

<div class="p-10">
    @*<h2 class="page-title">
            Edit Client

        </h2>*@

</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }


    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Edit Client (<b>@Model.name</b>)

                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="https://taskayak.com/client/index">
                            <i class="fa fa-arrow-left"></i> Client List
                        </a>
                    </div>

                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("update", "client", FormMethod.Post, new { @id = "frmsendsms" }))
                    {

                        <div class="form-group">
                            <label>Client Name</label>
                            @Html.TextBoxFor(a => a.name, new { @class = "form-control capitalize" })
                            @Html.ValidationMessageFor(a => a.name)
                            @Html.HiddenFor(a => a.clientid)
                        </div>
                        <div class="form-group">
                <label>Primary Contact</label>
                @Html.TextBoxFor(a => a.primarycontactname, new { @class = "form-control capitalize" })
                @Html.ValidationMessageFor(a => a.primarycontactname)
                </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            @Html.TextBoxFor(a => a.email, new { @class = "form-control", @type = "email" })
                            @Html.ValidationMessageFor(a => a.email)
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            @Html.TextBoxFor(a => a.phone, new { @class = "form-control phonenumber", @maxlength = "12" })
                            @Html.ValidationMessageFor(a => a.phone)
                        </div>
                        <div class="form-group">
                            <label>Rate</label>
                            <span class="help">e.g. "10"</span>
                            @Html.TextBoxFor(a => a.rate, new { @class = "form-control ratetext" })
                            @Html.ValidationMessageFor(a => a.rate)
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            @Html.TextBoxFor(a => a.address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.address)
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <select id="state_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                                @foreach (var item in state)
                                {
                                    if (Model.state_id == item.Key)
                                    {
                                        <option selected value="@item.Key">@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="el3">City</label>
                            @Html.TextBoxFor(a => a.city, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Zipcode</label>
                            @Html.TextBoxFor(a => a.zipcode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.zipcode)
                        </div>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update </button>
                    }
                </div>
            </div>
        </div>


    </div>

</div>
