﻿@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = (List<int>)ViewBag.permissions;
}

@model hrm.Models.clientmodal
<div class="p-10">
    <h2 class="page-title">
    </h2>

</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Clients</h4>
                </div>
                @using (Html.BeginForm("client", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label style="width:100%">Upload a CSV formatted file:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/client.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-cloud-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            All Clients
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(11))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "client")">
                                <i class="fa fa-plus"></i> ADD CLIENT
                            </a>
                        }
                        @if (permission.Contains(10))
                        {
                            <a class="btn btn-success btn-sm pull-right m-r-8" onclick="Uploadfile()" href="#">
                                <i class="fa fa-cloud-upload"></i> UPLOAD
                            </a>
                        }
                    </div>

                </div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive custompadding-table">
                        <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Primary contact</th>
                                    <th>Rate</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<script>
    var pageSize = 25;
    var otable;
    var viewpermission = '@permission.Contains(13).ToString().ToUpper()';
    var editpermission = '@permission.Contains(12).ToString().ToUpper()';
    var deletepermission ='@permission.Contains(14).ToString().ToUpper()';
   
    $(document).ready(function () {

        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        },
            "iDisplayLength": 25,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "ajax": {
                "url": "@Url.Action("Fetchclients", "client")"
            },
            "aoColumns": [
                {
                    bSortable: false,
                    mRender: function (data, type, full) {

                        if (editpermission == "TRUE") {
                            return '<a href="/client/view?token=' + full.token + '">' + full.name + '</a>';

                        }
                        else {
                            return '<a href="#" class="disabledbtn" data-msg="you are not authorized to view selected client">' + full.name + '</a>';
                        }
                    }
                },
                 { mData: "primarycontactname" },
                { mData: "rate" },
                { mData: "email" },
                { mData: "phone" },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        var tbl = '<div class="btn-group pos-static"><a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fn21"></i> </a><div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px);will-change: transform;position: absolute;left: 0px; display: none;">';
                        if (viewpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-primary btn-xs" href="/client/view?token=' + full.token + '"><i class="fa fa-search"></i> View</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-primary btn-xs" data-msg="you are not authorized to view selected client"><i class="fa fa-search"></i> View</a>';
                        }
                         if (editpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-success btn-xs" href="/client/edit?token=' + full.token + '"><i class="fa fa-edit"></i> Edit</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-success btn-xs" data-msg="you are not authorized to edit selected client"><i class="fa fa-edit"></i> Edit</a>';
                        }
                         if (deletepermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-danger btn-xs cdelete" id="' + full.token + '"><i class="fa fa-trash"></i> Delete</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-danger btn-xs" data-msg="you are not authorized to delete selected client"><i class="fa fa-trash"></i> Delete</a>';
                        }
                        tbl = tbl + '</div></div>';
                        return tbl;
                    }
                }

            ]
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#table").on("click", ".cdelete", function(e){
                 e.preventDefault();
                 var id = this.id;
                 bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        var _url = "@Url.Action("delete","client")";
                        window.location.href = _url + "?token=" + id;
                    }
                });
        });
    });

    function update(deptid, deptname)
    {
            $('#mdlupdate').modal('show');
            $("#deptname").val(deptname);
            $("#deptid").val(deptid);
     }
    function Uploadfile()
    {
         $('#upload').modal('show');
     }

</script>