﻿
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = (List<int>)ViewBag.permissions;
    int i = 1;
}
@*<link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>*@
<script src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
@model hrm.Models.noticemodel
<style>
    .modal-dialog {
        width: 70%;
    }
</style>

<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }

    <div class="row">

        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading" style="padding-left:20px;">
                    <h3 class="panel-title">
                        Message
                        @if (permission.Contains(1057))
                        {
                            <a class="btn btn-success btn-sm pull-right" onclick="addnotice()"><i class="fa fa-plus"></i> Add New Message</a>
                        }

                    </h3>
                </div>

                <div class="panel-body p-none">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table data-table nowrap table-hover table-ultra-responsive dataTable no-footer" id="table">
                                <thead>
                                    <tr role="row">
                                        <th>SL</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model._list)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                @if (permission.Contains(1058))
                                                {

                                                    <a onclick="editnotice('@item.id','@item.titile','@item.descripion','@item.statusid')" href="#"> @item.titile</a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="disabledbtn" data-msg="you are not authorized to edit selected message"> @item.titile</a>

                                                }
                                            </td>
                                            <td id="lbl_@item.id">
                                                <span data-sid="@item.statusid" data-nid="@item.id" class="nstatus @(item.statusid==1?"text-success":"text-danger")">@(item.statusid == 1 ? "Published" : "Unublished")</span>
                                            </td>

                                            <td>
                                                <div class="btn-group pos-static">
                                                    <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-v fn21"></i>
                                                    </a>
                                                    <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-96px, -18px, 0px);will-change: transform;position: absolute;left: 0px;">

                                                        @if (permission.Contains(1058))
                                                        {
                                                            <a class="btn btn-success btn-xs" onclick="editnotice('@item.id','@item.titile','n','@item.statusid')" href="#"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-success btn-xs disabledbtn" data-msg="you are not authorized to edit selected message"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        @if (permission.Contains(1059))
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.id"><i class="fa fa-trash"></i> Delete</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="you are not authorized to delete selected message"><i class="fa fa-trash"></i> Delete</a>
                                                        }
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        i = i + 1;
                                    }

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Publish Status</h4>
                    </div>
                    @using (Html.BeginForm("update_pay", "pay", FormMethod.Post, new { @id = "frmsendsms" }))
                    {<div class="modal-body">

                            <div class="form-group">
                                <input type="hidden" name="nid" id="nid" />
                                <label>Message STATUS</label>
                                <select class="selectpicker form-control " data-live-search="true" name="pstatusid" id="pstatusid">
                                    <option value="1">Published</option>
                                    <option value="2">Unpublished</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="updatestatus()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade" id="add-new-task" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Message</h4>
                    </div>
                    @using (Html.BeginForm("add", "notice_board", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                    {

                        <div class="modal-body">

                            <div class="form-group">
                                <label>Message TITLE</label>
                                @Html.TextBoxFor(a => a.titile, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.titile)
                            </div>
                            <div class="form-group">
                                <label>Message STATUS</label>
                                <select class="selectpicker form-control " data-live-search="true" name="statusid" id="statusid">
                                    <option value="1">Published</option>
                                    <option value="2">Unpublished</option>
                                </select>
                            </div>
                            <div class="form-group" id="fileuploader1">

                            </div>
                            <span id="eventsmessage1"></span>
                            <div class="form-group">
                                <label>DESCRIPTION</label>
                                @Html.TextAreaFor(a => a.descripion, new { @class = "ckeditor form-control", @rows = "15", @style = "height:400px !important", @id = "addeditir" })

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                        </div>
                    }
                </div>
            </div>
        </div>


        <div class="modal fade" id="edit-task" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update Message</h4>
                    </div>
                    @using (Html.BeginForm("edit", "notice_board", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                    {

                        <div class="modal-body">

                            <div class="form-group">
                                <label>Message TITLE</label>
                                @Html.TextBoxFor(a => a.titile, new { @class = "form-control", @id = "titleupdate" })
                                @Html.ValidationMessageFor(a => a.titile)
                                <input type="hidden" id="noticeid" name="id" />
                            </div>
                            <div class="form-group">
                                <label>Message STATUS</label>
                                <select class="selectpicker form-control " data-live-search="true" name="statusid" id="statusidupdate">
                                    <option value="1">Published</option>
                                    <option value="2">Unpublished</option>
                                </select>
                            </div>
                            <div class="form-group" id="fileuploader">

                            </div>
                            <span id="eventsmessage"></span>
                            <div class="form-group">
                                <label>DESCRIPTION</label>
                                @Html.TextAreaFor(a => a.descripion, new { @class = "ckeditor form-control", @rows = "15", @style = "height:400px !important", @id = "descriptionupdate" })

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>
@*Ajax data table code*@
<script>
    var pageSize = 25;
    var otable;

</script>

<script>


    $("#table").on("click",".nstatus",function (e) {

        var statusid = $(this).data('sid');
        var noticeid = $(this).data('nid');
        $("#nid").val(noticeid);
          $("#pstatusid").val(statusid);
        $('#pstatusid').selectpicker('refresh');
        $('#mdlstatus').modal('show');

    });

     function updatestatus() {
        var nid = $("#nid").val();
        var nsid = $("#pstatusid").val();
        var _url = "@Url.Action("update_notice_status","notice_board")";
        $.get(_url, { 'noticeid': nid, 'noticestatusid': nsid }, function () {
            var _txt = $("#pstatusid").find("option:selected").text();
            var _cls = nsid == 1 ? "text-success" : "text-danger";
              $("#lbl_" + nid).html('');
            var _span = '<span  data-sid="'+nsid+'" data-nid="'+nid+'" class="nstatus '+_cls+'">'+_txt+'</span>';
               $("#lbl_" + nid).append(_span);
               $('#mdlstatus').modal('hide');
             alertify.log('Publish status updated succesfully', 'success', 5000);
        });
    }

    $(document).ready(function () {
        $('.data-table').DataTable({
            "bSort": false, "pageLength": 25
        });
$("#table").on("click",".cdelete",function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","notice_board")";
                    window.location.href = _url + "?id=" + id;
                }
            });
        });
    });

      function editnotice(noticeid,title,description,statusid) {
          $('#edit-task').modal('show');
          $("#titleupdate").val(title);
          $("#noticeid").val(noticeid);
          var _url = "@Url.Action("get_des_byid","notice_board")";
          $.get(_url, { 'id': noticeid }, function (data) {
                 CKEDITOR.instances['descriptionupdate'].setData(data);
              // $('iframe').contents().find('.wysihtml5-editor').html(data);
          });

          $("#statusidupdate").val(statusid);
          $('.selectpicker').selectpicker('refresh');
    }


     function addnotice() {
          $('#add-new-task').modal('show');
          $("#titile").val('');
          //$('iframe').contents().find('.wysihtml5-editor').html('');
         CKEDITOR.instances['addeditir'].setData('');
         $("#eventsmessage1").html('');
          $("#statusid").val(1);
          $('.selectpicker').selectpicker('refresh');
    }


</script>
