﻿@{
    Layout = null;
    //Model.rememberme = Model.rememberme ?? false;
}
@model hrm.Models.resetmodal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Convo - Reset Password</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.css")">
    <style>
        .jumbo-container {
            padding-top: 29px !important;
            padding-bottom: 80px !important;
        }

        .app-logo-inner {
            margin-bottom: 9px !important;
        }

        .bar-logo {
            width: 93px !important;
        }
           .maincolor {
        color: #30DDBC !important;
    }

    .mainbgcolor {
        background-color: #30DDBC !important;
    }
    
    .fnt300 {
        font-weight: 400 !important;
        font-size: 24px !important;
    }
    </style>
</head>
<body style="" cz-shortcut-listen="true">
    <main id="wrapper" class="wrapper">
        @*<a href="https://hrm.coderpixel.com/apply-job" class="btn btn-success pull-right m-30">Apply Job</a>*@
        <div class="container jumbo-container">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="app-logo-inner text-center">
                        <a href="https://taskayak.com/" class="maincolor fnt300">TasKayaK</a>
                    </div>
                    <div class="panel panel-30">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">RESET YOUR PASSWORD</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("reset_password", "home", FormMethod.Post, new { @id = "frmsendsms" }))
                            {
                                <div class="form-group form-group-default required">
                                    <label for="el1">New Password</label>
                                    @Html.TextBoxFor(a => a.password, new { @class = "form-control", @placeholder = "New Password" ,@type="password"})
                                    @Html.ValidationMessageFor(a => a.password)
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="el1">Confirm Password</label>
                                    @Html.TextBoxFor(a => a.confirmpassword, new { @class = "form-control", @placeholder = "Re-type Password",@type="password" })
                                    @Html.ValidationMessageFor(a => a.confirmpassword)
                                </div>
                                <input type="submit" class="btn btn-success btn-block btn-lg" value="Reset">

                            }
                            <br>
                            @if (!string.IsNullOrEmpty(Model.error_text))
                            {
                                <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    @Model.error_text
                                </div>

                            }

                        </div>
                    </div>
                    <div class="panel-other-acction">
                        <div class="text-sm text-center">
                            <a href="@Url.Action("login","account")">Back To Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js")"></script>

    <script src="@Url.Content("~/Scripts/alertify.js")"></script>

    <script src="@Url.Content("~/Scripts/scripts.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @*<div style="display:none">
            <a href="https://kasma.net/" title="instagram web view">instagram web view</a>
            <a href="https://kasma.net/" title="instagram online viewer">instagram online viewer</a>
            <a href="https://kiminbu.com/" title="whois">whois</a>
            <a href="https://kiminbu.com/" title="domain sorgulama">domain sorgulama</a>
        </div>*@
    <script>

        $(document).ready(function () {
            $('.coder-checkbox').click(function () {
                if ($("#co-check-ui").prop("checked") == true) {
                    $("#co-check-ui").attr("value", true);
                }
                else {
                    $("#co-check-ui").attr("value", false);
                }
            });
        });
    </script>
</body>
</html>

