﻿
@{
    ViewBag.Title = "Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    int type = (int)ViewBag.type;
}
@model hrm.Models.job
<div class="p-10">

</div>

<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div class="row">


        <div class="col-lg-12">
            <div class="tab-content panel p-20">
                <div role="tabpanel" class="tab-pane active" id="personal_details">
                    @using (Html.BeginForm("update_job", "offer", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h3 class="panel-title">
                                Edit  Offer
                            </h3>
                        </div>
                        <div class="col-md-6 col-sm-6 topbuttondiv">
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","offer",new {type=type })">
                                <i class="fa fa-arrow-left"></i>  Offer List
                            </a>
                            <a class="btn btn-complete btn-sm pull-right m-r-8" href="@Url.Action("view", "offer", new { token = Model.token })"><i class="fa fa-eye"></i> View</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label>Offer Id</label>
                            @Html.TextBoxFor(a => a.JobId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.JobId)
                            @Html.HiddenFor(a => a._jobid, new { @id = "mainjobid" })
                            <input type="hidden" name="type" value="@type" />
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label>Offer Title</label>
                            @Html.TextBoxFor(a => a.title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.title)
                        </div>
                        <div class="form-group m-none col-md-4 col-sm-12">
                            <label for="e20">Status</label>
                            <select name="Status" class="form-control selectpicker">
                                <option @(Model.Status == 1 ? "selected" : "") value="1">New</option>
                                <option @(Model.Status == 2 ? "selected" : "") value="2">Offered</option>
                                <option @(Model.Status == 1002 ? "selected" : "") value="1002">Assigned</option>
                                <option @(Model.Status == 4 ? "selected" : "") value="4">Standby</option>
                                <option @(Model.Status == 5 ? "selected" : "") value="5">Cancelled</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label>Client</label>
                            <select class="selectpicker form-control " data-live-search="true" name="client_id" id="client">
                                <option value="0">Client</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label>Client Rate</label>
                            @Html.TextBoxFor(a => a.Client_rate, new { @class = "form-control ratetext", id = "c_techrate" })

                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label>Rate</label>
                            @Html.TextBoxFor(a => a.Pay_rate, new { @class = "form-control ratetext", id = "techrate" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label>Dispatcher</label>
                            <select class="selectpicker form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                <option value="0">Dispatcher</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-4  com-sm-12">
                            <label>Project Manager</label>
                            <select class="selectpicker form-control"  data-live-search="true" name="mgr_id1" id="Project_manager1">
                                <option value="0">Manager</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-4  com-sm-12">
                            <label>Client Manager</label>
                            <select class="selectpicker form-control" disabled data-live-search="true" name="mgr_id" id="Project_manager">
                                <option value="0">Manager</option>
                            </select>
                            <input type="hidden" name="Technician" value="0" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group  col-md-4  com-sm-12">
                            <label>Date</label>
                            @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                            @Html.ValidationMessageFor(a => a.sdate)
                        </div>
                        <div class="form-group  col-md-4  com-sm-12">
                            <label>Start Time</label>
                            @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.stime)
                        </div>
                        <div class="form-group  col-md-4  com-sm-12">
                            <label>End Time</label>
                            @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.etime)
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Expense</label>
                            @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                            @Html.ValidationMessageFor(a => a.Expense)
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-md-4  com-sm-12">
                            <label>Address</label>
                            @Html.TextBoxFor(a => a.street, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4  com-sm-12">
                            <label>City</label>
                            @Html.TextBoxFor(a => a.city, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4  com-sm-12">
                            <label>State</label>

                            <select id="state_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                                <option value="0">State</option>
                                @foreach (var item in state)
                                {
                                    if (item.Key == Model.state_id)
                                    {
                                        <option selected value="@item.Key">@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-4  com-sm-12">
                            <label>ZipCode</label>
                            @Html.TextBoxFor(a => a.zip, new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-12  com-sm-12">
                            <label>Description</label>
                            @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })


                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success pull-right"> <i class="fa fa-save"></i> Update</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      get_projectmgr_byclient('@Model.mgr_id1')
     function get_projectmgr_byclient(id) {
            var dataString = 'ismulti=0&id='+id;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_mebertypeprojectmanager","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager1").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
    $("#JobId").on("change", function (e) {
        var _url = "@Url.Action("validatejobIdEdit","jobs")";
        var jobid = $("#JobId").val();
        var mainid = $("#mainjobid").val();
        $.get(_url, { 'Jobid': jobid,'id': mainid}, function (data) {
            if (data == 'True') {
                return true;
            } else {
                 alertify.log('OfferId '+jobid+' already in use', 'error', 5000);
              $("#JobId").val('');
                return false;
            }
        });
    });


       function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$1");
        }
    }
    function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }
    var email_exist = "False";
    var memberid_exist =  "False";
    var username_exist =  "False";

    $("#email").on("change", function () {
        var _val = $("#email").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 1, 'value': _val }, function (data) {
                email_exist = data;
            });
        }
    });
     $("#member_id").on("change", function () {
        var _val = $("#member_id").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 2, 'value': _val }, function (data) {
                memberid_exist = data;
            });
        }
    });

    $("#uname").on("change", function () {
        var _val = $("#uname").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 3, 'value': _val }, function (data) {
                username_exist = data;
            });
        }
    });


    //$('form').submit(function (e) {

    //    if ($("form").validate()) {
    //        debugger;
    //        if (email_exist=="True") {
    //             bootbox.alert("Email already assigned");
    //            $("#email").focus();
    //            email_exist = false;
    //            return false;
    //        }
    //        else if (memberid_exist=="True") {
    //            bootbox.alert("Memberid already assigned");
    //            $("#member_id").focus();
    //             memberid_exist = false;
    //            return false;
    //        }
    //       else if (username_exist=="True") {
    //            bootbox.alert("Username already assigned");
    //            $("#uname").focus();
    //             username_exist = false;
    //             return false;
    //        } else {
    //            return true;
    //        }
    //        }
    //    });
    $(document).ready(function () {
    /*For Designation Loading*/
          get_client('client','@Model.client_id');
        function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+client).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

    }
    get_mgr_byclient('Project_manager', '@Model.mgr_id', '@Model.client_id');
    function get_mgr_byclient(mgr,mgrid,clientid) {
            var dataString = 'ismulti=0&id='+clientid+"&clientid="+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+mgr).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
                  getClientrate('client', 'c_techrate');
            });

          @*get_Manager_selectbyid('Technician', 'Technician','@Model.Technician','T');*@
          get_Manager_selectbyid('Dispatcher', 'Dispatcher','@Model.Dispatcher','D');

         function get_Manager_selectbyid(cntrl,_val,id,type) {
            var dataString = 'optvalue='+_val+"&memberid="+id+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cntrl).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
     
     


        });
</script>






