﻿
@{
    ViewBag.Title = "Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    bool hidecolumn = (bool)ViewBag.hiderate;
    var date = (string)ViewBag.date;
    int state_filter_id = (int)ViewBag.state_filter_id;
    int cclient = (int)ViewBag.cclient;
    string city = (string)ViewBag.city;
    int cTechnician = (int)ViewBag.cTechnician;
    int cDispatcher = (int)ViewBag.cDispatcher;
    int Status = (int)ViewBag.Status;
}
@model hrm.Models.job
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }

    .datePicker, .timePicker {
        position: relative;
        z-index: 1000;
    }

    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
        left: 264px !important;
        right: unset !important;
    }
</style>

<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Jobs</h4>
                </div>
                @using (Html.BeginForm("job", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label style="width:100%">client</label>
                                    <select class="selectpicker form-control " data-live-search="true" name="uplodclient" id="uplodclient">
                                        <option value="0">Client</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Rate</label>
                                    <input type="text" class="form-control" required name="upclientRate" value="$0.00" id="upclientRate" />
                                </div>
                                <div class="form-group">
                                    <label>Project Manager</label>

                                    <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager" id="uploadProject_manager">
                                        <option value="0">Manager</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Upload a CSV formatted file:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/job.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>

        </div>

    </div>

    <div id="assigntech" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="assigntechModalLabel">
        <div class="modal-dialog modal-dialog-custom " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="assigntechModalLabel">ASSIGN TECHNICIAN</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>State</label>
                                <select id="assignstate_id" data-live-search="true" name="assignstate_id" class="selectpicker form-control">
                                    <option value="0">State</option>
                                    @foreach (var item in state)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                                <input type="hidden" id="assignjobid" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                            <div class="form-group">
                                <label>City</label>
                                <select class="selectpicker form-control" disabled data-live-search="true" name="assigncity_id" id="assigncity_id">
                                    <option value="0">City</option>
                                </select>
                            </div>


                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                            <div class="form-group">
                                <label>Technician</label>
                                <select class="selectpicker form-control " onchange="getrate()" data-live-search="true" name="assignTechnician" id="assignTechnician">
                                    <option value="0">Technician</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Rate</label>
                                <input type="text" class="form-control ratetext" id="assignmemberrate" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="assignjob()" class="btn btn-success"><i class="fa fa-save"></i> Assign</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>

            </div>

        </div>

    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="panel m-b-0">
                <div class="panel-heading panel-heading-job">

                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Job List
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(1061))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "jobs", new { type = 2 })">
                                <i class="fa fa-calendar"></i> Calendar View
                            </a>
                        }
                        @if (permission.Contains(38))
                        {<a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" data-toggle="modal" data-target="#add-new-task"><i class="fa fa-plus"></i> Add New Job </a>
                        }
                        @if (permission.Contains(41))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                <i class="fa fa-cloud-upload"></i> Upload
                            </a>
                        }

                    </div>

                </div>

                @if (permission.Contains(55))
                {
                    <div class="panel-body p-none">

                        <div class="custom-col-md-12">

                            @using (Html.BeginForm("index", "jobs", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table_job filter_table nowrap no-footer table-ultra-responsive-custome">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <input type="text" name="date1" class="form-control dateRangePicker" style="width:200px;" />
                                                    <input type="hidden" id="date" name="date" />
                                                </div>
                                            </td>
                                            <td>
                                                <select id="state_filter_id" data-live-search="true" name="state_filter_id" class="selectpicker form-control">
                                                    <option value="0">State</option>
                                                    @foreach (var item in state)
                                                    {
                                                        <option @(state_filter_id == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" disabled name="city_filter_id" id="city_filter_id">
                                                    <option value="0">City</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectpicker form-control " data-live-search="true" name="cclient" id="cclient">
                                                    <option value="0">Client</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectpicker form-control " data-live-search="true" name="cTechnician" id="cTechnician">
                                                    <option value="0">Technician</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectpicker form-control " data-live-search="true" name="cDispatcher" id="cDispatcher">
                                                    <option value="0">Dispatcher</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select name="Status" class="form-control selectpicker">
                                                    <option @(Status == 0 ? "selected" : "") value="0">Status</option>
                                                    <option @(Status == 1 ? "selected" : "") value="1">New</option>
                                                    <option @(Status == 3 ? "selected" : "") value="3">In progress</option>
                                                    <option @(Status == 2 ? "selected" : "") value="2">Dispatched</option>
                                                    <option @(Status == 4 ? "selected" : "") value="4">Completed</option>
                                                    <option @(Status == 5 ? "selected" : "") value="5">Approved</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("index", "jobs")" class="btn btn-default pull-right">Clear search</a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            }
                        </div>

                    </div>
                }
                <div class="clearfix"></div>
                <div class="panel-body p-none">

                    <div class="table-ultra-responsive" style="overflow-y: scroll;">
                        <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Technician</th>
                                    <th>City</th>
                                    <th>State</th>
                                    @if (!hidecolumn)
                                    {
                                        <th>Manager</th>
                                    }
                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    @if (!hidecolumn)
                                    {
                                        <th>Rate</th>
                                    }
                                    <th>Pay rate</th>
                                    <th>Hours </th>
                                    @*<th>Est. hours</th>

                                        <th>Expense</th>*@
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model._jobs)
                                {
                                    <tr role="row">
                                        <td>@item.Job_ID</td>
                                        <td>
                                            @if (permission.Contains(56))
                                            {
                                                <a href="@Url.Action("view", "jobs", new { id = item.JobID })">  @item.Title</a>
                                            }
                                            else
                                            { <a class="disabledbtn" data-msg="you are not authorized to view selected job" href="#"> @item.Title</a>

                                        }
                                        </td>
                                        <td id="member_@item.JobID">
                                            @if (item.Technician.ToLower() == "n/a")
                                            {
                                                <p>

                                                    <a href="#" onclick="assigntech('@item.JobID')">Unassign</a>
                                                </p>
                                            }
                                            else
                                            {
                                                <p>@item.Technician</p>
                                            }
                                        </td>
                                        <td>@item.cityname</td>
                                        <td>@item.statename</td>
                                        @if (!hidecolumn)
                                        {
                                            <td>@item.Project_manager</td>
                                        }
                                        <td>@Convert.ToDateTime(item.sdate).ToString("yyyy-MM-dd")</td>
                                        <td>@Convert.ToDateTime(item.sdate).ToString("hh:mm tt")</td>
                                        <td>@(Convert.ToDateTime(item.endate).ToString("hh:mm tt"))</td>
                                        @if (!hidecolumn)
                                        {
                                            <td>@item.Client_rate</td>
                                        }
                                        <td id="rate_@item.JobID">@item.Pay_rate</td>
                                        @*<td>@item.Est_hours</td>

                                            <td>@item.Expense</td>*@
                                        <td>@item.hours </td>
                                        <td>
                                            <span class="@(item.Status.ToLower().Replace(" ",""))"> @item.Status</span>
                                       
                                        
                                        </td>
                                        <td>
                                            <div class="btn-group pos-static">
                                                <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v fn21"></i>
                                                </a>
                                                <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-36px, 14px, 0px);will-change: transform;position: absolute;left: 0px;">

                                                    @if (permission.Contains(56))
                                                    {<a class="btn btn-complete btn-xs" href="@Url.Action("view", "jobs", new { id = item.JobID })"><i class="fa fa-eye"></i> View</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="btn btn-complete btn-xs disabledbtn" data-msg="you are not authorized to view selected job"><i class="fa fa-eye"></i> View</a>
                                                    }
                                                    @if (permission.Contains(39))
                                                    {
                                                        <a class="btn btn-success btn-xs" href="@Url.Action("edit", "jobs", new { id = item.JobID })"><i class="fa fa-edit"></i> Edit</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-success btn-xs disabledbtn" data-msg="you are not authorized to edit selected job" href="#"><i class="fa fa-edit"></i> Edit</a>
                                                    }
                                                    @if (permission.Contains(40))
                                                    {
                                                        <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.JobID"><i class="fa fa-trash"></i> Delete</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-success btn-xs disabledbtn" data-msg="you are not authorized to delete selected job" href="#"><i class="fa fa-trash"></i> Delete</a>
                                                    }
                                                    </div></div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>




        <!-- Modal -->
        <div class="modal fade" id="add-new-task" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Job</h4>
                    </div>
                    @using (Html.BeginForm("add", "jobs", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                    {

                        <div class="modal-body">

                            <div class="form-group">
                                <label>Job Id</label>
                                @Html.TextBoxFor(a => a.JobId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.JobId)
                            </div>
                            <div class="form-group">
                                <label>Job Title</label>
                                @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                                @Html.ValidationMessageFor(a => a.title)
                            </div>
                            <div class="form-group">
                                <label>Client</label>
                                <select class="selectpicker form-control " data-live-search="true" name="client_id" id="client">
                                    <option value="0">Client</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Client Rate</label>
                                <input type="text" class="form-control ratetext" id="c_techrate" name="clientrate" />
                            </div>
                            <div class="form-group">
                                <label>Project Manager</label>
                                <select class="selectpicker form-control" disabled data-live-search="true" name="mgr_id" id="Project_manager">
                                    <option value="0">Manager</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Technician</label>
                                <select class="selectpicker form-control " onchange="getrateTechnician()" data-live-search="true" name="Technician" id="Technician">
                                    <option value="0">Technician</option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label>Rate</label>
                                <input type="text" class="form-control ratetext" id="techrate" name="techrate" />
                            </div>
                            <div class="form-group">
                                <label>Dispatcher</label>
                                <select class="selectpicker form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                    <option value="0">Dispatcher</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Street</label>
                                <input type="text" class="form-control" name="add" />
                            </div>

                            <div class="form-group">
                                <label>State</label>
                                <select id="state_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                                    <option value="0">State</option>
                                    @foreach (var item in state)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <select class="selectpicker form-control" disabled data-live-search="true" name="city_id" id="city_id">
                                    <option value="0">City</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Zipcode</label>
                                <input type="text" class="form-control" name="zip" />
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(a => a.sdate)
                            </div>
                            <div class="form-group">
                                <label>Start Time</label>
                                @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.stime)
                            </div>
                            <div class="form-group">
                                <label>End Time</label>
                                @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.etime)
                            </div>
                            <div class="form-group">
                                <label>Expense</label>
                                @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                                @Html.ValidationMessageFor(a => a.Expense)
                            </div>
                            <div class="form-group m-none">
                                <label for="e20">Status</label>
                                <select name="Status" class="form-control selectpicker">
                                    <option value="1">New</option>
                                    <option value="2">Dispatched</option>
                                    <option value="3">In progress</option>
                                    <option value="4">Completed</option>
                                    <option value="5">Approved</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                        </div>
                    }
                </div>
            </div>
        </div>


    </div>

</div>
<script>

     //validatejobId

    $("#JobId").on("change", function (e) {
        var _url = "@Url.Action("validatejobId","jobs")";
        var jobid = $("#JobId").val();
        $.get(_url, { 'id': jobid }, function (data) {
            if (data == 'True') {
                return true;
            } else {
                 alertify.log('JobId '+jobid+' already in use', 'error', 5000);
              $("#JobId").val('');
                return false;
            }
        });
    });

    function assignjob() {
        var cityid = $("#assigncity_id").val();
        var techid = $("#assignTechnician").val();
       var jobid=  $('#assignjobid').val();
      var rate=  $("#assignmemberrate").val();
        var stateid = $("#assignstate_id").val();
        if (stateid == 0) {
            alertify.log("Please select State", "error", 2000);
            return false;
        }
        if (cityid == 0) {
              alertify.log("Please select City", "error", 2000);
            return false;
        }
        if (techid == 0) {
              alertify.log("Please select Technician", "error", 2000);
            return false;
        }
        if ($.trim(rate)=="") {
              alertify.log("Please enter Technician rate", "error", 2000);
            return false;
        }
        //int memberid,int jobid,string rate
        var _url = "@Url.Action("updateassign","jobs")";
        $.post(_url, { 'memberid': techid, 'jobid': jobid, 'rate': rate }, function (data) {
            $("#rate_" + jobid).text(rate);
            $("#member_" + jobid).text(data);
            alertify.log("Job assign to " + data, "success", 2000);
            $('#assigntech').modal('hide');

        });

    }
     function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$0.00");
        }
    }
    function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }

    $(document).ready(function () {
            $("#table").on("click", ".cdelete", function(e){
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","jobs")";
                    window.location.href = _url + "?id=" + id;
                }
            });
});
        $('.data-table').DataTable({
            "bSort": false,
            "pageLength": 25
        });
          get_client('cclient','@cclient');
        get_client('client', 0);
         get_client('uplodclient', 0);

        function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+client).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
                getClientrate('client', 'c_techrate');
            });

         $("#uplodclient").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#uploadProject_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#uploadProject_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
            });

          //Project_manager

          get_Manager_selectbyid('Technician', 'Technician',0,'T');
           get_Manager_selectbyid('Technician', 'cTechnician','@cTechnician','T');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher',0,'D');
           get_Manager_selectbyid('Dispatcher', 'cDispatcher','@cDispatcher','D');

         function get_Manager_selectbyid(_val,cntrlId,memberid,type) {
            var dataString = 'optvalue='+_val+"&memberid="+memberid+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cntrlId).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
        get_city("@city",'@state_filter_id');
         function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }
            $("#state_filter_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
                            }
                        });
            } else {
                $('#city_filter_id').multiselect('destroy');
                $("#city_filter_id").html('');
                 $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
              //  $("#city_id").html('<option value="0">City</option>').attr('disabled',true);
                }
            });


     $("#state_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#city_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#city_id").html('<option value="0">City</option>').attr('disabled',true).selectpicker('refresh');
                }
            });
          $("#assignstate_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#assigncity_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#assigncity_id").html('<option value="0">City</option>').attr('disabled',true).selectpicker('refresh');
                }
          });
        $("#assigncity_id").on("change", function () {
              var id = $(this).val();
                if (id != 0) {
                    var dataString = 'cityid=' + id+"&optvalue=Technician";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_selcted_member_bycity","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#assignTechnician").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled',true).selectpicker('refresh');
                }
        });


    });

        function getrate() {
        var memberid = $("#assignTechnician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")"+"?id="+memberid;
            $.get(_url, function (data) {
                $("#assignmemberrate").val(data);
            });
        } else {
            $("#assignmemberrate").val("$0");
        }
    }
      function Uploadfile() {
              $('#upload').modal('show');
    }

    function assigntech(jobid) {
            $('#assignjobid').val(jobid);
        $("#assignmemberrate").val('');
         $("#assigncity_id").html('<option value="0">City</option>').attr('disabled',true).selectpicker('refresh');
         $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled',true).selectpicker('refresh');
        $('#assigntech').modal('show');
        }

</script>

@if (!string.IsNullOrEmpty(date))
{
    <script>
        var d = '@date';
        var ds = d.split('-');
    function cb(start, end) {
        $('.dateRangePicker').val(start + ' - ' + end);
         //$("#date").val(start + ' - ' + end);
    }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);
      cb(ds[0],ds[1]);
         $('.dateRangePicker').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
             $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
         });

    </script>
}
else
{
    <script>
        var start = moment();
        var end = moment().add(30, 'days');
        function cb(start, end) {
            $('.dateRangePicker').val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
            //$("#date").val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
        }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);

        cb(start, end);
        $('.dateRangePicker').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

    </script>


}