﻿
@{
    ViewBag.Title = "Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    bool hidecolumn = (bool)ViewBag.hiderate;
    var date = (string)ViewBag.date;
    int state_filter_id = (int)ViewBag.state_filter_id;
    int cclient = (int)ViewBag.cclient;
    string city = (string)ViewBag.city;
    //int cTechnician = (int)ViewBag.cTechnician;
    int cDispatcher = (int)ViewBag.cDispatcher;
    int Status = (int)ViewBag.Status;
    bool isactivefilter = (bool)ViewBag.isfilter;
    bool membertype = (bool)ViewBag.issubcontractor;
    int i = 1;
}
@model hrm.Models.job
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }

    .datePicker, .timePicker {
        position: relative;
        z-index: 1000;
    }

    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
        left: 264px !important;
        right: unset !important;
    }

    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    .techdiv {
        overflow-y: scroll;
        max-height: 250px;
        height: 250px;
    }

    .inputbox {
        width: 24px;
        height: 17px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
</style>

<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">



    <div id="filterpopup" style="display:@(isactivefilter == true?"block":"none")" class="alert alert-success alert-dismissible" role="alert">

        Filter is Active
    </div>
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Offer</h4>
                </div>
                @using (Html.BeginForm("offer", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label style="width:100%">client</label>
                                    <select class="selectpicker form-control " data-live-search="true" name="uplodclient" id="uplodclient">
                                        <option value="0">Client</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Rate</label>
                                    <input type="text" class="form-control ratetext" required name="upclientRate" value="$0.00" id="upclientRate" />
                                </div>
                                <div class="form-group">
                                    <label>Project Manager</label>

                                    <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager" id="uploadProject_manager">
                                        <option value="0">Manager</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Upload a CSV formatted file:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/offer.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>

        </div>

    </div>

    <div id="messagemodal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog tablmodal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Notification</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="mainjid" />
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control textarea-wysihtml5" rows="6" id="messagebox" placeholder="Please write text here...."></textarea>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-12 text-right m-t-10">
                            <button type="button" onclick="sendMessage()" class="btn btn-success"><i class="fa fa-send"></i> Post</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" id="notificationmodal">
                       
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel m-b-0">
                <div class="panel-heading panel-heading-job">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Offer List
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(3072))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "offer", new { type = 2 })">
                                <i class="fa fa-calendar"></i> Calendar View
                            </a>
                        }
                        @if (!membertype)
                        {
                        if (permission.Contains(3065))
                        {<a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" data-toggle="modal" data-target="#add-new-task"><i class="fa fa-plus"></i> Add New Offer </a>
                        }
                        if (permission.Contains(3068))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                <i class="fa fa-cloud-upload"></i> Upload
                            </a>
                        }
                        }
                    </div>
                </div>
                @if (permission.Contains(3070))
                {
                    <div class="panel-body p-none">
                        <div class="custom-col-md-12">
                            @using (Html.BeginForm("index", "offer", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table_job filter_table nowrap no-footer table-ultra-responsive-custome">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <input type="text" name="date1" class="form-control dateRangePicker" style="width:200px;" />
                                                    <input type="hidden" id="date" name="date" />
                                                </div>
                                            </td>
                                            <td>
                                                <select id="state_filter_id" data-live-search="true" name="state_filter_id" class="selectpicker form-control">
                                                    <option value="0">State</option>
                                                    @foreach (var item in state)
                                                    {
                                                        <option @(state_filter_id == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" disabled name="city_filter_id" id="city_filter_id">
                                                    <option value="0">City</option>
                                                </select>
                                            </td>
                                            @if (!membertype)
                                            {
                                                <td>
                                                    <select class="selectpicker form-control " data-live-search="true" name="cclient" id="cclient">
                                                        <option value="0">Client</option>
                                                    </select>
                                                </td>
                                                @*<td>
                <select class="selectpicker form-control " data-live-search="true" name="cTechnician" id="cTechnician">
                    <option value="0">Technician</option>
                </select>
            </td>*@
                                                <td>
                                                    <select class="selectpicker form-control " data-live-search="true" name="cDispatcher" id="cDispatcher">
                                                        <option value="0">Dispatcher</option>
                                                    </select>
                                                </td>
                                            }
                                                <td>
                                                    <select name="Status" class="form-control selectpicker" id="Status">
                                                        <option @(Status == 0 ? "selected" : "") value="0">Status</option>
                                                        <option @(Status == 1 ? "selected" : "") value="1">New</option>
                                                        <option @(Status == 2 ? "selected" : "") value="2">Offered</option>
                                                        <option @(Status == 1002 ? "selected" : "") value="2">Assigned</option>
                                                        <option @(Status == 4 ? "selected" : "") value="4">Standby</option>
                                                        <option @(Status == 5 ? "selected" : "") value="5">Cancelled</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button class="btn btn-default" type="button" onclick="FilterTable()"><i class="fa fa-search"></i></button>
                                                </td>
                                                <td>
                                                    <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>
                                                </td>
                                            </tr>
                                    </tbody>

                                </table>
                            }
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive" style="overflow-y: hidden;overflow-x:scroll">
                        <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Dispatcher</th>
                                    <th>City</th>
                                    <th>State</th>

                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Message</th>
                                    <th>Pay rate</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="add-new-task" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Offer</h4>
                    </div>
                    @using (Html.BeginForm("add", "Offer", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                    {

                        <div class="modal-body">

                            <div class="form-group">
                                <label>Offer Id</label>
                                @Html.TextBoxFor(a => a.JobId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.JobId)
                            </div>
                            <div class="form-group">
                                <label>Offer Title</label>
                                @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                                @Html.ValidationMessageFor(a => a.title)
                            </div>
                            <div class="form-group">
                                <label>Client</label>
                                <select class="selectpicker form-control " data-live-search="true" name="client_id" id="client">
                                    <option value="0">Client</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Client Rate</label>
                                <input type="text" class="form-control ratetext" id="c_techrate" name="clientrate" />
                            </div>
                            <div class="form-group">
                                <label>Project Manager</label>
                                <select class="selectpicker form-control" disabled data-live-search="true" name="mgr_id" id="Project_manager">
                                    <option value="0">Manager</option>
                                </select>
                                <input type="hidden" name="Technician" value="0" />
                            </div>
                            @*<div class="form-group">
                                    <label>Technician</label>
                                    <select class="selectpicker form-control " onchange="getrateTechnician()" data-live-search="true" name="Technician" id="Technician">
                                        <option value="0">Technician</option>
                                    </select>

                                </div>*@

                            <div class="form-group">
                                <label>Rate</label>
                                <input type="text" class="form-control ratetext" id="techrate" name="techrate" />
                            </div>
                            <div class="form-group">
                                <label>Dispatcher</label>
                                <select class="selectpicker form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                    <option value="0">Dispatcher</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Street</label>
                                <input type="text" class="form-control" name="add" />
                            </div>

                            <div class="form-group">
                                <label>State</label>
                                <select id="state_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                                    <option value="0">State</option>
                                    @foreach (var item in state)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <select class="selectpicker form-control" disabled data-live-search="true" name="city_id" id="city_id">
                                    <option value="0">City</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Zipcode</label>
                                <input type="text" class="form-control" name="zip" />
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(a => a.sdate)
                            </div>
                            <div class="form-group">
                                <label>Start Time</label>
                                @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.stime)
                            </div>
                            <div class="form-group">
                                <label>End Time</label>
                                @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.etime)
                            </div>
                            <div class="form-group" style="display:none;">
                                <label>Expense</label>
                                @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                                @Html.ValidationMessageFor(a => a.Expense)
                            </div>
                            <div class="form-group m-none">
                                <label for="e20">Status</label>
                                <select name="Status" class="form-control selectpicker">
                                    <option value="1">New</option>
                                    <option value="2">Offered</option>
                                    <option  value="1002">Assigned</option>
                                    <option  value="4">Standby</option>
                                    <option  value="5">Cancelled</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageSize = 25;
    var otable;
    var viewpermission = '@permission.Contains(3071).ToString().ToUpper()';
    var editpermission = '@permission.Contains(3066).ToString().ToUpper()';
    var deletepermission ='@permission.Contains(3067).ToString().ToUpper()';
    var citySelected = "";
    var searchtype = 0;
    function ClearFilter() {
        citySelected = "";
        searchtype = 2;
           $('#city_filter_id').multiselect('deselectAll', false);
      $("#date").val('');
     $("#state_filter_id").val('0');
      $("#cclient").val('0');
       //$("#cTechnician").val('0');
        $("#cDispatcher").val('0');
       $("#Status").val('0');
        $('.selectpicker').selectpicker('refresh');
        $("#filterpopup").css("display", "none");
        otable.draw(true);
    }

    function FilterTable() {
        $("#filterpopup").css("display", "block");
        searchtype = 1;
           citySelected = "";
        var _cityselected = $("#city_filter_id").find("option:selected");
    _cityselected.each(function(){
       citySelected=citySelected+$(this).val()+",";
    });

otable.draw(true);

    }

    $(document).ready(function () {
    var _cityselected = $("#city_filter_id").find("option:selected");
    _cityselected.each(function(){
       citySelected=citySelected+$(this).val()+",";
    });
        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        },
            "iDisplayLength": 25,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "ajax": {
                "url": "@Url.Action("Fetchuserjobs", "offer")",
                  "data": function (d) {
                        d.date = $("#date").val();
                        d.type = 1;
                        d.state_filter_id = $("#state_filter_id").val();
                        d.cclient = $("#cclient").val();
                        d.cDispatcher = $("#cDispatcher").val();
                        d.Status = $("#Status").val();
                        d.city_filter_id = citySelected + "0";
                        d.searchtype = searchtype;
                    }
            },
            "aoColumns": [
              {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        return '<span>' + full.Job_ID + '</span>';
                    }
                },
                 {
                    bSortable: false,
                    mRender: function (data, type, full) {
                    if (viewpermission == "TRUE"&&full.Status =="Available") {
                            return '<a  href="/offer/view?token=' + full.token + '">' + full.Title+'</a>';
                        }
                        else {
                            return '<a href="#" class="disabledbtn" data-msg="you are not authorized to view selected offer as its already dispatched">'+ full.Title+'</a>';
                        }
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                            return '<p id="member_'+full.JobID+'">'+full.Dispatcher+'</p>';

                    }
                },
                { mData: "cityname" },
                { mData: "statename" },
               
                { mData: "sdate" },
                { mData: "stime" },
                            { mData: "etime" },
             {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                     var _chatbody = "<span id='commentbadge_"+full.JobID +"' class='notification' data-id='" + full.JobID + "'>"+full.commentCount+"</span>";
                        if (full.commentCount=="0") {
                            _chatbody = "<span id='commentbadge_"+full.JobID +"' class='notification' data-id='" + full.JobID + "'>--</span>";
                        }
                            return _chatbody;
                   },
                    className: "centertext",
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                            return "<span id='rate_"+full.JobID+"'>"+full.Pay_rate+"</span>";
                    }
                },

                 {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                        return "<span id='spn_" + full.JobID + "' data-statusid='" + full.status_id + "' data-memberid='" + full.JobID + "' class='stupdater " + full.Status.replace(" ", "").toLowerCase()+"'>"+full.Status+"</span>";
                    }
                }

            ]
        });
    });
</script>
<script>
    $("#JobId").on("change", function (e) {
        var _url = "@Url.Action("validatejobId","offer")";
        var jobid = $("#JobId").val();
        $.get(_url, { 'id': jobid }, function (data) {
            if (data == 'True') {
                return true;
            } else {
                 alertify.log('OfferId '+jobid+' already in use', 'error', 5000);
              $("#JobId").val('');
                return false;
            }
        });
    });
     function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$1");
        }
    }
    function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$0.00");
        }
    }
       function updatestatus() {
        var nid = $("#mid").val();
           var nsid = $("#mstatusid").val();
           if (nsid == 0) {
               alertify.log('please select Offer status', 'error', 5000);
               return false;
           }
        var _url = "@Url.Action("update_status","offer")";
        $.get(_url, { 'id': nid, 'statusid': nsid }, function () {
            var _txt = $("#mstatusid").find("option:selected").text();
        var cls=$("#spn_" + nid).html();
              $("#spn_" + nid).html(_txt);
               $("#spn_" + nid).removeClass(cls.replace(" ", "").toLowerCase()).addClass(_txt.toLowerCase().replace(" ", "").toLowerCase());
               $('#mdlstatus').modal('hide');
             alertify.log('Offer status updated succesfully', 'success', 5000);
        });
    }

    $(document).ready(function () {
        $("#table").on("click", ".cdelete", function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","offer")";
                    window.location.href = _url + "?id=" + id;
                }
            });
        });
        $("#table").on("click", ".stupdater", function (e) {
            e.preventDefault();
            var statusid = $(this).data("statusid");
            var memberId = $(this).data("memberid");

            $("#mid").val(memberId);
            $("#mstatusid").val(statusid);
            $('#mstatusid').selectpicker('refresh');
            $('#mdlstatus').modal('show');

        });
        $("#table").on("click", ".notification", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            var _url = "@Url.Action("getnotificationsmember","offer")";
            $.get(_url, { 'jobid': id }, function (data) {
                $("#notificationmodal").html(data);
                $("#mainjid").val(id);
                $('#messagemodal').modal('show');
            });
        });
            $("#table").on("click", ".assign", function (e) {
            e.preventDefault();
            var jobid = $(this).data("jobid");
            $('#assignjobid').val(jobid);
            $("#assignmemberrate").val('');
            $("#assigncity_id").html('<option value="0">City</option>').attr('disabled', true).selectpicker('refresh');
            $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled', true).selectpicker('refresh');
            $('#assigntech').modal('show');
        });
    
            get_client('cclient', '@cclient');
            get_client('client', 0);
            get_client('uplodclient', 0);

            function get_client(client, clientid) {
                var dataString = 'ismulti=0&clientid=' + clientid;
                $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("get_all_clients","default")',
                        data: dataString,
                        cache: false,
                        success: function (data) {
                            $("#" + client).html(data).removeAttr('disabled').selectpicker('refresh');
                        }
                    });

            }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                    $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled', true).selectpicker('refresh');
                }
                getClientrate('client', 'c_techrate');
            });

            $("#uplodclient").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#uploadProject_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                    $("#uploadProject_manager").html('<option value="0">Manager</option>').attr('disabled', true).selectpicker('refresh');
                }
                getClientrate('uplodclient', 'upclientRate');
            });

            get_Manager_selectbyid('Dispatcher', 'Dispatcher', 0, 'D');
            get_Manager_selectbyid('Dispatcher', 'cDispatcher', '@cDispatcher', 'D');

            function get_Manager_selectbyid(_val, cntrlId, memberid, type) {
                var dataString = 'optvalue=' + _val + "&memberid=" + memberid + "&type=" + type;
                $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("get_all_member","default")',
                        data: dataString,
                        cache: false,
                        success: function (data) {
                            $("#" + cntrlId).html(data).removeAttr('disabled').selectpicker('refresh');
                        }
                    });

            }

            get_city("@city", '@state_filter_id');
            function get_city(city_id, state_id) {
                var dataString = 'id=' + state_id + "&ismulti=1&city=" + city_id;
                $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("get_all_city_by_stateid","default")',
                        data: dataString,
                        cache: false,
                        success: function (data) {
                           // $('#city_filter_id').multiselect('destroy');
                            $("#city_filter_id").html('');
                            $("#city_filter_id").html(data).removeAttr('disabled');
                            $("#city_filter_id").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
                                enableCaseInsensitiveFiltering: true, enableFiltering: true, buttonText: function (options, select) {
                                    return 'City';
                                },
                            });

                        }
                    });

            }
            $("#state_filter_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    // $("#city_id").html('');
                    var dataString = 'id=' + id + "&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                //$('#city_filter_id').multiselect('destroy');
                                $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                $("#city_filter_id").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
                                    enableCaseInsensitiveFiltering: true, enableFiltering: true, buttonText: function (options, select) {
                                        return 'City';
                                    },
                                });
                            }
                        });
                } else {
                   // $('#city_filter_id').multiselect('destroy');
                    $("#city_filter_id").html('');
                    $("#city_filter_id").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
                        enableCaseInsensitiveFiltering: true, enableFiltering: true, buttonText: function (options, select) {
                            return 'City';
                        },
                    });
                    //  $("#city_id").html('<option value="0">City</option>').attr('disabled',true);
                }
            });
            $("#state_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#city_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                    $("#city_id").html('<option value="0">City</option>').attr('disabled', true).selectpicker('refresh');
                }
            });

            $("#assignstate_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#assigncity_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                    $("#assigncity_id").html('<option value="0">City</option>').attr('disabled', true).selectpicker('refresh');
                }
            });
            $("#assigncity_id").on("change", function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'cityid=' + id + "&optvalue=Technician";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_selcted_member_bycity","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#assignTechnician").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                    $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled', true).selectpicker('refresh');
                }
            });

        });
   

        function getrate() {
        var memberid = $("#assignTechnician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")"+"?id="+memberid;
            $.get(_url, function (data) {
                $("#assignmemberrate").val(data);
            });
        } else {
            $("#assignmemberrate").val("$0");
        }
    }
      function Uploadfile() {
              $('#upload').modal('show');
    }



</script>

@if (!string.IsNullOrEmpty(date))
{
    <script>
        var d = '@date';
        var ds = d.split('-');
    function cb(start, end) {
        $('.dateRangePicker').val(start + ' - ' + end);
         //$("#date").val(start + ' - ' + end);
    }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);
      cb(ds[0],ds[1]);
         $('.dateRangePicker').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
             $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
         });

    </script>
}
else
{
    <script>
        var start = moment();
        var end = moment().add(30, 'days');
        function cb(start, end) {
            $('.dateRangePicker').val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
            //$("#date").val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
        }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);

        cb(start, end);
        $('.dateRangePicker').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

    </script>


}
