﻿
@{
    ViewBag.Title = "Offer View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int type = ViewBag.type == null ? 1 : (int)ViewBag.type;
    int viewtype = ViewBag.viewtype == null ? 1 : (int)ViewBag.viewtype;
    int i = 1;
}
@model hrm.Models.job_items1

@helper getCommentByHelper(string comment, int id, int jobid, bool isread)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    if (!string.IsNullOrEmpty(comment))
    {
        var _oldvalue = comment;//orignal value with html
        var _newvalue = comment;//removing html
        //_newvalue = rx.Replace(_oldvalue, "");//html removed
        var text = _newvalue.Count() > 100 ? _newvalue.Substring(0, 100) : _newvalue;// substring
        var text1 = _newvalue.Count() > 100 ? _newvalue.Substring(100) : _newvalue;// substring
        comment = comment.Replace(_newvalue, text);
        comment = rx.Replace(comment, "");//html removed
        _oldvalue = _oldvalue.Replace(_newvalue, text1);
        if (_newvalue.Count() > 100)
        {
            <span class="parentcomment @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(_oldvalue)</span>
        }
        else
        {
            <span class="parentcomment @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid"></span>

        }
    }
    else
    {

    }

}
<div class="p-10">
    @*<h2 class="page-title">Manage Job
        </h2>*@
</div>
<div class="p-30 p-t-none p-b-100">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div class="row">

        <div class="col-lg-3">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Offer Basic Info
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("edit","offer",new {token=Model.token })">
                            <i class="fa fa-pencil"></i> Edit Offer
                        </a>

                    </div>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("edit", "offer", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                    {

                        <div class="form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(a => a.sdate, new { @class = "form-control", @readonly = "" })
                            @Html.HiddenFor(a => a.JobID)
                        </div>

                        <div class="form-group">
                            <label>Start Time</label>
                            @Html.TextBoxFor(a => a.stime, new { @class = "form-control", @readonly = "" })

                        </div>
                        <div class="form-group">
                            <label>End Time</label>
                            @Html.TextBoxFor(a => a.etime, new { @class = "form-control", @readonly = "" })
                        </div>
                        <div class="form-group">
                            <label>Client</label>
                            <select class="selectpicker form-control " data-live-search="true" id="client" name="client_id">
                                <option value="0">Client</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Client Rate</label>
                            @Html.TextBoxFor(a => a.Client_rate, new { @class = "form-control ratetext", id = "c_techrate" })
                        </div>
                        <div class="form-group">
                            <label>Client Manager</label>
                            <select class="selectpicker form-control" disabled data-live-search="true" name="mgr_id" id="Project_manager">
                                <option value="0">Manager</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Project Manager</label>
                            <select class="selectpicker form-control" disabled data-live-search="true" name="mgr_id1" id="Project_manager1">
                                <option value="0">Manager</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Rate</label>
                            @Html.TextBoxFor(a => a.pay_rate, new { @class = "form-control ratetext", id = "techrate" })
                        </div>
                        <div class="form-group">
                            <label>Dispatcher</label>
                            <select class="selectpicker form-control " data-live-search="true" name="Dispatcherid" id="Dispatcher">
                                <option value="0">Dispatcher</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Expense</label>
                            @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                        </div>
                        <div class="form-group m-none">
                            <label for="e20">Status</label>
                            <select name="Status" class="form-control selectpicker" data-live-search="true">
                                <option @(Model.Status == 1 ? "selected" : "") value="1">New</option>
                                <option @(Model.Status == 2 ? "selected" : "") value="2">Offered</option>
                                <option @(Model.Status == 1002 ? "selected" : "") value="1002">Assigned</option>
                                <option @(Model.Status == 4 ? "selected" : "") value="4">Standby</option>
                                <option @(Model.Status == 5 ? "selected" : "") value="5">Cancelled</option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-edit"></i> Update</button>
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-9">

            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Offer Management
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","offer",new {type=viewtype })">
                            <i class="fa fa-arrow-left"></i> Offer List
                        </a>
                    </div>
                </div>

                <div class="p-30 p-t-none p-b-none">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="@(type==1?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                                <li role="presentation" class="@(type==2?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Discussion <span style="display:@(Model.msgcount>0?"inline-block":"none")" class="badge badge-danger"> @Model.msgcount</span></a></li>
                                <li role="presentation" class="@(type==3?"active":"")"><a href="#task_files" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">File</a></li>
                                <li role="presentation" class="@(type==4?"active":"")"><a href="#task_offers" aria-controls="offers" role="tab" data-toggle="tab" aria-expanded="false"> Technician <span style="display:@(Model.acceptedCount>0?"inline-block":"none")" class="badge badge-danger"> @Model.acceptedCount</span></a></li>
                            </ul>
                            <div class="tab-content p-20">
                                <div role="tabpanel" class="tab-pane @(type==1?"active":"")" id="task_details">
                                    <div class="form-group">
                                        <label>Offer Id</label>
                                        <p> @Model.Job_ID</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <p> @Model.address</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Offer Title</label>
                                        <p> @Model.Title</p>
                                    </div>

                                    <div class="form-group">
                                        <label>Offer Description</label>
                                        <p>@(string.IsNullOrEmpty(Model.description) ? Html.Raw("<p></p>") : Html.Raw(Model.description))</p>
                                    </div>
                                    <br />
                                    <hr />
                                    <div class="form-group">
                                        <label>Assigned dispatcher</label>
                                        <p>   <a href="@Url.Action("edit","users",new {token=Model.distoken })" class="label label-success">@Model.Dispatcher</a></p>
                                    </div>

                                </div>


                                <div role="tabpanel" class="tab-pane @(type==2?"active":"")" id="task_discussion">
                                    @using (Html.BeginForm("update", "offer", FormMethod.Post, new { @id = "frmsendsms" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label>Leave Comment</label>
                                                @Html.TextAreaFor(a => a.Comment, new { @class = "textarea-wysihtml5 form-control", @rows = "7" })
                                                <input type="hidden" name="type" value="2" />
                                                @Html.HiddenFor(a => a.JobID)
                                                <input type="hidden" name="isadminpost" value="True" />
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" value="Post" class="btn btn-success pull-right">
                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-hover table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;">User</th>
                                                <th style="width: 55%;">Comment</th>
                                                <th style="width: 20%;">Last Update</th>
                                                <th style="width: 10%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._Comments)
                                            {
                                            <tr>
                                                <td onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')" nowrap style="width: 24%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@item.createdby</td>
                                                <td onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')" style="width: 50%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@getCommentByHelper(item.Comment, item.Commentid, Model.JobID, item.isread)</td>
                                                <td onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')" nowrap style="width: 20%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@item.CreatedDate</td>
                                                <td nowrap style="width: 20%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);"><a href="#" onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')"><i class="fa fa-mail-reply"></i></a></td>
                                            </tr>

                                                <tr id="tr1_@i" class="hdntextare" style="display:none">
                                                    <td style="display:none;border:0px !important;"></td>
                                                    <td style="display:none;border:0px !important;"></td>
                                                    <td style="display:none;border:0px !important;"></td>
                                                    <td colspan="4" align="center" style="border:0px !important;">
                                                        <div id="div_@i">
                                                            <table class="table table-hover table-ultra-responsive dataTable no-footer">
                                                                <tbody>
                                                                    @foreach (var chlditem in Model._childComments.Where(a => a.Parentid == item.Commentid))
                                                                    {
                                                                        <tr>
                                                                            <td nowrap style="width: 24%;padding:0px;border:0px !important;color: lightgray;">@chlditem.createdby</td>
                                                                            <td style="width: 50%;padding:0px;border:0px !important;color: lightgray;">@Html.Raw(chlditem.Comment)</td>
                                                                            <td nowrap style="width: 20%;padding:0px;border:0px !important;color: lightgray;">@chlditem.CreatedDate</td>
                                                                            <td nowrap style="width: 20%;padding:0px;border:0px !important;color: lightgray;"></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr id="tr_@i" class="hdntextare" style="display:none;">
                                                    <td style="display:none;"></td>
                                                    <td style="display:none;"></td>
                                                    <td colspan="3" align="center">
                                                        <textarea id="txtarea_@i" class="form-control" style="width:100%;" rows="3" placeholder="Type reply here"></textarea>
                                                    </td>
                                                    <td><a onclick="SendReply('txtarea_@i','@item.Commentid','@Model.JobID','div_@i')" href="#">Reply</a></td>
                                                </tr>

                                                i = i + 1;
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div role="tabpanel" class="tab-pane @(type==3?"active":"")" id="task_files">

                                    @using (Html.BeginForm("update", "offer", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label>File Title</label>
                                                <input type="text" required name="file_title" class="form-control">
                                                <input type="hidden" name="type" value="3" />
                                                @Html.HiddenFor(a => a.JobID)
                                            </div>
                                            <div class="form-group">
                                                <label>Select File</label>
                                                <div class="input-group input-group-file">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-primary btn-file">
                                                            Browse <input type="file" class="form-control" required name="file">
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly="">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" value="Upload" class="btn btn-success pull-right">
                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">Files</th>
                                                <th style="width: 10%;">Size</th>
                                                <th style="width: 20%;">Date</th>
                                                <th style="width: 20%;">Upload By</th>
                                                <th style="width: 30%;">Download</th>
                                                <th style="width: 30%;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._files)
                                            {
                                                <tr>
                                                    <td style="width: 25%;">@item.Filetile</td>
                                                    <td style="width: 15%;">@item.Size</td>
                                                    <td style="width: 20%;">@item.Createddate</td>
                                                    <td style="width: 25%;">@item.createdby</td>
                                                    <td style="width: 40%;">
                                                        <a href="@item.url" download target="_blank" class="btn btn-success btn-xs pull-left">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger btn-xs tFileDelete" data-jobid="@Model.token" id="@item.filetoken"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div role="tabpanel" class="tab-pane @(type==4?"active":"")" id="task_offers">

                                    <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">Id</th>
                                                <th style="width: 10%;">Name</th>
                                                <th style="width: 20%;">City</th>
                                                <th style="width: 20%;">State</th>
                                                <th style="width: 30%;">Rate</th>
                                                <th style="width: 30%;">Status</th>
                                                <th style="width: 30%;">Submited</th>
                                                <th style="width: 30%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._offers)
                                            {
                                                <tr>
                                                    <td style="width: 25%;">
                                                        <a onclick="assignsubmitjob('@item.jobid','@item.id','@item.tech')" href="#">@item.jobindexid</a>
                                                    </td>
                                                    <td style="width: 15%;">@item.tech</td>
                                                    <td style="width: 20%;">@item.city</td>
                                                    <td style="width: 25%;">@item.state</td>
                                                    <td style="width: 20%;">@item.rate</td>
                                                    <td style="width: 25%;">@item.status</td>
                                                    <td style="width: 25%;">@item.createddate</td>
                                                    <td>
                                                        <div class="btn-group pos-static">
                                                            <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-ellipsis-v fn21"></i>
                                                            </a>
                                                            <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-96px, -18px, 0px);will-change: transform;position: absolute;left: 0px;">
                                                                <a class="btn btn-primary btn-xs" href="@Url.Action("update_subjob","offer",new {Jtoken=item.jobtoken,type=4,token=item.offertoken,btn=0 })"><i class="fa fa-plus"></i> Assign job</a>
                                                                <a class="btn btn-success btn-xs" href="@Url.Action("update_subjob","offer",new {Jtoken=item.jobtoken,type=4,token=item.offertoken,btn=1 })"><i class="fa fa-send"></i> Re-submit</a>
                                                                <a class="btn btn-danger btn-xs" href="@Url.Action("update_subjob","offer",new {Jtoken=item.jobtoken,type=4,token=item.offertoken,btn=2 })"><i class="fa fa-recycle"></i> Remove</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>

    function SendReply(textid, commentid,jobid,divid) {
        var _val = $("#" + textid).val();
        if (_val == '') {
            alertify.log('Reply can not be empty', 'error', 5000);
            return false;
        }
        var _url = "@Url.Action("add_comment","offer")";
        $.get(_url, { 'txt': _val, 'cmntid': commentid,'jobid':jobid }, function (data) {
            alertify.log('Reply Sent', 'success', 5000);
            $("#" + textid).val('');
            $("#" + divid + " table tbody").append(data);
        });
    }

   
      function OpenRow(id,tr1,parentid,count) {
        $(".hdntextare").css("display","none");
        $("#" + id).css("display", "table-row");
         $("#" + tr1).css("display", "table-row");
         var _url = "@Url.Action("getreply1","offer")";
         $.get(_url, { 'mainid': parentid }, function (data) {
             $("#div_" + count + " table tbody").html(data);
         });
    }

    function assignsubmitjob(jobid, offerid, tech) {
         bootbox.confirm("Are you sure to assign job to "+tech+" ?", function (result) {
                if (result) {
                    var _url = "@Url.Action("update_subjob","offer")";
                    window.location.href = _url + "?btn=0&type=4&JobID=" + jobid+"&offerid="+offerid;
                }
            });
    }

        function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$0.00");
        }
    }
   function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","users")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }
         get_Manager_selectbyid('Technician', 'Technician','@Model.Technicianid','T');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher','@Model.Dispatcherid','D');

         function get_Manager_selectbyid(cntrl,_val,id,type) {
            var dataString = 'optvalue='+_val+"&memberid="+id+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cntrl).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }

         $(document).ready(function () {
            var table = $('.data-table').DataTable({
                 'bSort': false, "pageLength": 25, "bFilter": false,
     "bLengthChange": false//,
    //             "drawCallback": function( settings ) {
    //  $(".hdntextare").css("display", "none");
    //}
             });

           // table.on('draw', function () {  });

         $(".tFileDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('jobid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_file","offer")";
                    window.location.href = _url + "?jobid=" + client_id+"&id="+id;
                }
            });
         });  });

       get_client('client','@Model.Client_id');
        function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+client).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

    }
     get_projectmgr_byclient('@Model.mgr_id1')
     function get_projectmgr_byclient(mgrid) {
            var dataString = 'ismulti=0&id='+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_mebertypeprojectmanager","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager1").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
    get_mgr_byclient('Project_manager', '@Model.mgr_id', '@Model.Client_id');
    function get_mgr_byclient(mgr,mgrid,clientid) {
            var dataString = 'ismulti=0&id='+clientid+"&clientid="+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+mgr).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
                 getClientrate('client', 'c_techrate');
            });
</script>

