﻿@{
    ViewBag.Title = "Leads";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    int statusId = (int)ViewBag.statusId;
    int stateid = (int)ViewBag.stateid;
    int[] skills = (int[])ViewBag.jobstatus;
    string city = (string)ViewBag.city;
    int[] sourceid = (int[])ViewBag.paymentstatus;
}
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn .caret {
        /*margin-left: 0;
        float: right;
        vertical-align: middle;
        margin-top: 5%;*/
    }

    .btn-group, .dropdown-toggle {
        width: 100%;
        text-align: left;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }
</style>

@model hrm.Models.leadmodal

<div class="p-10">
   
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Leads</h4>
                </div>
                @using (Html.BeginForm("leads", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">

                                <div class="form-group">
                                    <label>Upload a CSV formatted file:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label>Select State</label>
                                    <select id="state_modal_id" data-live-search="true" name="state_modal_id" class="selectpicker form-control">
                                        <option value="0">State</option>
                                        @foreach (var item in state)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label>Select City</label>
                                    <select class="form-control selectpicker" data-live-search="true" disabled name="city_modal_id" id="city_modal_id">
                                        <option value="0">City</option>
                                    </select>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/leads.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-cloud-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>

        </div>

    </div>

    <div id="mdlview" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">View Skills</h4>
                </div>
                @using (Html.BeginForm("update", "Skills", FormMethod.Post, new { @id = "frmsendsms" }))
                {<div class="modal-body">
                        <div class="row" id="skilldiv">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                }
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">

                    <div class="col-md-6 col-sm-6">

                        <h3 class="panel-title">
                            All Leads

                        </h3>

                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(42))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "leads")">
                                <i class="fa fa-plus"></i> Add Leads
                            </a>
                        }
                        @if (permission.Contains(45))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                <i class="fa fa-cloud-upload"></i> Upload
                            </a>
                        }

                    </div>

                </div>


                @if (permission.Contains(57))
                {
                    <div class="panel-body p-none">

                        <div class="custom-col-md-12">
                            @using (Html.BeginForm("index", "leads", FormMethod.Post, new { @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table nowrap no-footer table-ultra-responsive-custome">

                                    <tbody>
                                        <tr>
                                            <td>

                                                <select name="statusId" id="statusid" class="selectpicker form-control">
                                                    <option @(statusId == 0 ? "selected" : "") value="">Status</option>
                                                    <option @(statusId == 1 ? "selected" : "") value="1">New</option>
                                                    <option @(statusId == 2 ? "selected" : "") value="2">Contacted</option>
                                                    <option @(statusId == 3 ? "selected" : "") value="3">Interviewed</option>
                                                    <option @(statusId == 4 ? "selected" : "") value="4">Converted</option>
                                                    <option @(statusId == 5 ? "selected" : "") value="5">Declined</option>
                                                </select>
                                            </td>


                                            <td>
                                                <select id="state_filter_id" data-live-search="true" name="stateid" class="selectpicker form-control">
                                                    <option value="0">State</option>
                                                    @foreach (var item in state)
                                                    {
                                                        <option @(stateid == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" disabled name="cityId" id="city_filter_id" multiple>
                                                    <option value="0">City</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select name="sourceid" multiple id="srcid" class="form-control">
                                                    <option @(sourceid.Contains(0) ? "selected" : "") value="">All</option>
                                                    <option @(sourceid.Contains(1) ? "selected" : "") value="1">Online</option>
                                                    <option @(sourceid.Contains(2) ? "selected" : "") value="2">Direct</option>
                                                    <option @(sourceid.Contains(3) ? "selected" : "") value="3">Others</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select multiple class="form-control" id="skills" name="skills">
                                                    <option @(skills.Contains(0) ? "selected" : "") value="">All</option>
                                                    @foreach (var item in Model._skills)
                                                    {
                                                        <option @(skills.Contains(item.id) ? "selected" : "") value="@item.id">@item.name</option>
                                                    }
                                                </select>
                                            </td>


                                            <td>
                                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>


                                            </td>

                                            <td>

                                                <a href="@Url.Action("index","leads")" class="btn btn-default pull-right">Clear search</a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>

                    </div>
                }
                <div class="panel-body p-none">

                    <div class="table-ultra-responsive">
                        <table class="table data-table  table-condensed  table-hover nowrap table-ultra-responsive dataTable no-footer" id="table">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Rate</th>
                                    <th>Skills</th>
                                    <th>Source</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model._leads)
                                {

                                    <tr>
                                        <td>

                                            @if (permission.Contains(43))
                                            {
                                                <a href="@Url.Action("edit", "leads", new { id = item.leadid })">@item.fullname</a>
                                            }
                                            else
                                            {
                                                <p>@item.fullname</p>
                                            }

                                        </td>
                                        <td><p>@item.phone</p></td>
                                        <td><p>@item.email</p></td>
                                        <td><p>@item.city</p></td>
                                        <td><p>@item.state</p></td>
                                        <td><p>@item.rate</p></td>
                                        <td><a href="#" onclick="Viewfile('@item.skills')" class="btn btn-xs btn-primary"><i class="fa fa-search"></i></a> </td>
                                        <td><p>@item.source</p></td>
                                        <td><span class="@(item.status.ToLower())">@item.status</span></td>
                                        <td>
                                            <div class="btn-group pos-static">
                                                <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v fn21"></i>
                                                </a>
                                                <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-36px, 14px, 0px);will-change: transform;position: absolute;left: 0px;">

                                                    @if (permission.Contains(43) && item.status != "Converted")
                                                    {
                                                        <a class="btn btn-success btn-xs" href="@Url.Action("edit", "leads", new { id = item.leadid })"><i class="fa fa-edit"></i> Edit</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-success btn-xs disabledbtn" data-msg="you are not authorized to edit selected lead" href="#"><i class="fa fa-edit"></i> Edit</a>
                                                    }
                                                    @if (permission.Contains(44))
                                                    {
                                                        <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.leadid"><i class="fa fa-trash"></i> Delete</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="you are not authorized to delete selected lead"><i class="fa fa-trash"></i> Delete</a>

                                                    }
                                                    </div></div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<script>

        function Uploadfile() {
              $('#upload').modal('show');
        }

    $(document).ready(function () {
        $('.data-table').DataTable({ 'bSort': false, "pageLength": 25 });
        //$(".responsive").floatingScroll();
         $("#skills").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Skills';
            },});
    /*For Delete Department*/
        $("#table").on("click", ".cdelete", function(e){
   e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete","leads")";
                    window.location.href = _url + "?id=" + id;
                }
            });
});


        $("#srcid").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Source';
        },
        });

        //
         $("#state_modal_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#city_modal_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#city_modal_id").html('<option value="0">City</option>').attr('disabled',true).selectpicker('refresh');
                }

         });

          get_city("@city",'@stateid');
         function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }

      $("#state_filter_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
                            }
                        });
            } else {
                $('#city_filter_id').multiselect('destroy');
                $("#city_filter_id").html('');
                 $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
              //  $("#city_id").html('<option value="0">Select city</option>').attr('disabled',true);
                }
            });
    });
     function update(deptid, deptname) {
            $('#mdlupdate').modal('show');
            $("#deptname").val(deptname);
            $("#deptid").val(deptid);
    }
    //  function Viewfile(skills) {
    //      $('#mdlview').modal('show');
    //      $("#skill_names").html(skills);
    //}

       function Viewfile(skills) {
        if (skills.indexOf(",") != -1) {
            var strArr = skills.split(",")  // split using space_or_no_space comma space_or_no_space
            var tr = "";
            var j = 0;
            for (var i = 0; i < strArr.length; i++) {  // iterate through each split string

                tr = tr + " <div class='col-md-3'>" + strArr[i] + "</div>";
                j = j + 1;
                if (j >= 4) {

                    j = 0;
                    tr = tr + " <div class='clearfix'></div>";
                }
            }
            $("#skilldiv").html(tr);
        } else {
             $("#skilldiv").html(skills);
        }

          $('#mdlview').modal('show');

    }

</script>