	input.search {
		font-size:14px;
		padding:5px;	
	}
	select.search {
		overflow:hidden;
	} 
	span.filter {
		margin-left:10px;
		padding-right:10px;
		border:1px solid #3F980E;
		-webkit-border-radius:5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 3px 3px 2px #888;
		-webkit-box-shadow: 3px 3px 2px #888;
		box-shadow: 3px 3px 2px #888;
		color:white;
		background-color:#3D9400;
		padding:5px;	
		z-index:-1;	
	}
	
	span.filter .close {
		background:-webkit-gradient(linear,left top,left bottom,from(#77BB4E),to(#57A02F));		
		background-image: url(/css/images/ui-icons_222222_256x240.png);
		background-repeat: no-repeat;
		background-position: -31px -192px;
		display:inline-block;
		width:15px;
	}
	
	.ui-autocomplete-category {
			font-weight: bold;
			font-size:14px;
			padding: .2em .4em;
			padding-left:20px;
			text-align:left;
			line-height: 1.5;
			border-bottom:thin solid #ccc;
		}
	.ui-menu .ui-menu-item a.ui-state-hover {
		font-weight: bold;
	}	
	.ui-menu .ui-menu-item span.more {
		font-weight: bold;
		font-size:12px;
		padding-bottom:5px;
	}
	.ui-menu .ui-menu-item span.moreImage {
		background-image: url(/css/images/ui-icons_222222_256x240.png);
		background-repeat: no-repeat;
		background-position: -62px -194px;
		display:inline-block;
		width:20px;
		
	}
	.hide {
		display:none;
	}
	
	.show { 
		display: block;
	}	
	#searchfilters_label {
		font-size:18px;
		padding-top:5px;
		top:4px;
		position:relative;
	}
	
	#supersearch_help {
		font-size:14px;
		margin: 10px 12px;
		width:650px;
		padding: 5px 20px;
		line-height:200%;
		background:#f5f5f5;
		border:1px solid #ccc;
		
	}
	.more {
		display:none;
	}
	#supersearch_help h2 { 
		font-family: 'Helvetica Neue', Helvetica, Arial;
		letter-spacing: normal;
		font-weight: bold;
		margin-bottom: 0;
	}
	#supersearch_help h3 { 
		margin-top: 0.5em;
	}
	#supersearch_help .helpimage>img {
		position: relative;
		margin: 10px auto;
		border: 1px solid #ccc;
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
	}
	
	#search_advanced_toggle {
		background-color:white;
		background-repeat:no-repeat;
		border-top:0px;
		border-bottom:0px;
		border-right:0px;
		width:20px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		height:100%;
		margin-bottom:5px;
		display:inline-block;
		background-position:top;
		left:-29px;
		top:2px;
		position:relative;
	}
	#search_advanced {
		border: solid thin #ccc; 
		width:474px;
		padding:20px;
		padding-bottom:0px;
		background-color:white;
		z-index:10;
	}
	#search_advanced div {
		margin-bottom:10px;
	}
	#search_advanced div label {
		font-weight:bold;
	}
	#search_advanced div input[type="text"] {
		padding:4px;
		width:280px;
	}	
	#search_advanced div select {
		padding:4px;
	}
