﻿
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    bool hidecolumn = (bool)ViewBag.hiderate;
    int userid = (int)ViewBag.userid;
    var date = (string)ViewBag.date;
    int state_filter_id = (int)ViewBag.state_filter_id;
    int cclient = (int)ViewBag.cclient;
    string city = (string)ViewBag.city;
    int cTechnician = (int)ViewBag.cTechnician;
    int cDispatcher = (int)ViewBag.cDispatcher;
    int Status = (int)ViewBag.Status;
    bool isactivefilter = (bool)ViewBag.isfilter;
    bool subcntrcter = (bool)ViewBag.issubcontractor;
}
@model hrm.Models.job
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }
     @@media (min-width: 768px) {
        .modal-dialog {
            width: 870px;
            margin: 30px auto;
        }
    }
    .fc-center > h2 {
        font-size: 23px;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .fc-popover {
        background: gainsboro;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }
</style>

<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
<script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css" media="print" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css" />
<style>
    .mrl {
        margin-right: 3px !important;
    }
</style>
<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    <div id="filterpopup" style="display:@(isactivefilter == true?"block":"none")" class="alert alert-success alert-dismissible" role="alert">

        Filter is Active
    </div>
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Jobs</h4>
                </div>
                @using (Html.BeginForm("job", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label style="width:100%">client</label>
                                    <select class="selectpicker form-control " data-live-search="true" name="uplodclient" id="uplodclient">
                                        <option value="0">Client</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Rate</label>
                                    <input type="text" class="form-control ratetext" required name="upclientRate" value="$0.00" id="upclientRate" />
                                </div>
                                <div class="form-group">
                                    <label>Client Manager</label>

                                    <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager" id="uploadProject_manager">
                                        <option value="0">Manager</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Project Manager</label>
                                    <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager1" id="uploadProject_manager1">
                                        <option value="0">Manager</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Upload a CSV formatted file:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/job.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                    <input type="hidden" name="type" value="2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>

        </div>

    </div>

    <div id="viewmodal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span id="action"></span></h4>
                </div>
                @using (Html.BeginForm("job", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <a class="btn btn-complete btn-sm" onclick="view()" href="#"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                            @if(!subcntrcter){
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <a class="btn btn-success btn-sm" onclick="edit()" href="#"><i class="fa fa-pencil"></i> Edit</a>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <a class="btn btn-danger btn-sm" onclick="deletejob()" href="#"><i class="fa fa-remove"></i> Delete</a>
                                </div>
                            </div>
                            }
                            <input type="hidden" id="eventid" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
                    </div>
                }
            </div>

        </div>

    </div>

    <div class="modal fade" id="add-new-task" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Job</h4>
                </div>
                @using (Html.BeginForm("add", "jobs", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Job Id</label>
                                @Html.TextBoxFor(a => a.JobId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.JobId)
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Job Title</label>
                                @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                                @Html.ValidationMessageFor(a => a.title)
                            </div>
                            <div class="form-group m-none col-md-4 col-lg-4 col-sm-12">
                                <label for="e20">Status</label>
                                <select name="Status" class="form-control selectpicker">
                                    <option  value="1">New</option>
                                    <option  value="2">Dispatched</option>
                                    <option value="3">In progress</option>
                                    <option  value="4">Completed</option>
                                    <option  value="6">Under review</option>
                                    <option value="5">Approved</option>
                                    <option  value="7">Rescheduled</option>
                                    <option value="8">Cancelled</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Client</label>
                                <select class="selectpicker form-control " data-live-search="true" name="client_id" id="client">
                                    <option value="0">Client</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Client Rate</label>
                                <input type="text" class="form-control ratetext" id="c_techrate" name="clientrate" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Technician</label>
                                <select class="selectpicker form-control " onchange="getrateTechnician()" data-live-search="true" name="Technician" id="Technician">
                                    <option value="0">Technician</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Rate</label>
                                <input type="text" class="form-control ratetext" id="techrate" name="techrate" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Expense</label>
                                @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                                @Html.ValidationMessageFor(a => a.Expense)
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Dispatcher</label>
                                <select class="selectpicker form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                    <option value="0">Dispatcher</option>
                                </select>

                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Project Manager</label>
                                <select class="selectpicker form-control" data-live-search="true" name="mgr_id1" id="Project_manager1">
                                    <option value="0">Manager</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Client Manager</label>
                                <select class="selectpicker form-control" disabled data-live-search="true" name="mgr_id" id="Project_manager">
                                    <option value="0">Manager</option>
                                </select>
                            </div>

                        </div>
                        <div class="clearfix"></div>

                        <div class="row">

                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Date</label>
                                @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(a => a.sdate)
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Start Time</label>
                                @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.stime)
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>End Time</label>
                                @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.etime)
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Address</label>
                                <input type="text" class="form-control" name="add" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>City</label>
                                @Html.TextBoxFor(a => a.city, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>State</label>
                                <select id="state_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                                    <option value="0">State</option>
                                    @foreach (var item in state)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="clearfix"></div>

                        <div class="row">

                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Zipcode</label>
                                <input type="text" class="form-control" name="zip" />
                            </div>

                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                                <label>Description</label>
                                @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa fa-close"></i> Close</button>

                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading" style="padding-left:20px;padding-bottom: 23px !important;">
                    <h3 class="panel-title">
                        Job List
                        @if (permission.Contains(1062))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "jobs", new { type = 1 })">
                                <i class="fa fa-list"></i> List View
                            </a>
                        }
                        @if (permission.Contains(38))
                        {
                            <button class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" data-toggle="modal" data-target="#add-new-task"><i class="fa fa-plus"></i> ADD NEW JOB</button>

                        }
                        @if (permission.Contains(41))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                <i class="fa fa-cloud-upload"></i> Upload
                            </a>

                        }


                    </h3>
                </div>
                @if (permission.Contains(55))
                {
                    <div class="panel-body p-none">

                        <div class="custom-col-md-12">
                            <table class="table table-hover filter_table_job filter_table nowrap no-footer table-ultra-responsive-custome">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="">
                                                <input type="text" name="date1" id="date1" class="form-control dateRangePicker" style="width:200px;" />
                                                <input type="hidden" name="date" id="date" />
                                            </div>
                                        </td>
                                        <td>
                                            <select id="state_filter_id" data-live-search="true" name="state_filter_id" class="selectpicker form-control">
                                                <option value="0">State</option>
                                                @foreach (var item in state)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" disabled name="city_filter_id" id="city_filter_id">
                                                <option value="0">City</option>
                                            </select>
                                        </td>
                                        @if (!subcntrcter)
                                        {
                                            <td>
                                                <select class="selectpicker form-control " data-live-search="true" name="cclient" id="cclient">
                                                    <option value="0">Client</option>
                                                </select>
                                            </td>
                                        }
                                        <td>
                                            <select class="selectpicker form-control " data-live-search="true" name="cTechnician" id="cTechnician">
                                                <option value="0">Technician</option>
                                            </select>
                                        </td>
                                        @if (!subcntrcter)
                                        {
                                            <td>
                                                <select class="selectpicker form-control " data-live-search="true" name="cDispatcher" id="cDispatcher">
                                                    <option value="0">Dispatcher</option>
                                                </select>
                                            </td>
                                        }
                                            <td>
                                                <select id="Status" name="Status" class="form-control selectpicker">
                                                    <option @(Status == 0 ? "selected" : "") value="0">Status</option>
                                                    <option @(Status == 1 ? "selected" : "") value="1">New</option>
                                                    <option @(Status == 2 ? "selected" : "") value="2">Dispatched</option>
                                                    <option @(Status == 3 ? "selected" : "") value="3">In progress</option>
                                                    <option @(Status == 4 ? "selected" : "") value="4">Completed</option>
                                                    <option @(Status == 6 ? "selected" : "") value="6">Under review</option>
                                                    <option @(Status == 5 ? "selected" : "") value="5">Approved</option>
                                                    <option @(Status == 7 ? "selected" : "") value="7">Rescheduled</option>
                                                    <option @(Status == 8 ? "selected" : "") value="8">Cancelled</option>


                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-default" type="button" onclick="getjobCalenderFilter('@userid')"><i class="fa fa-search"></i></button>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("index", "jobs",new { type=2,srch=2})" class="btn btn-default pull-right">Clear search</a>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                }
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" id="jobcalendar">

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Modal -->


    </div>

</div>
<script>

       $("#JobId").on("change", function (e) {
        var _url = "@Url.Action("validatejobId","jobs")";
        var jobid = $("#JobId").val();
        $.get(_url, { 'id': jobid }, function (data) {
            if (data == 'True') {
                return true;
            } else {
                  alertify.log('JobId '+jobid+' already in use', 'error', 5000);
              $("#JobId").val('');
                return false;
            }
        });
    });
    function edit() {
        var id = $("#eventid").val();
        var _url = "@Url.Action("edit", "jobs")";
        location.href = _url + "?type=2&token=" + id;
    }

    function deletejob() {
        var id = $("#eventid").val();
        bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","jobs")";
                    window.location.href = _url + "?type=2&token=" + id;
                }
            });
    }

     function view() {
        var id = $("#eventid").val();
        var _url = "@Url.Action("view", "jobs")";
        location.href = _url + "?viewtype=2&token=" + id;
    }


 function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$1");
        }
    }
    function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }

      var searchtype = 0;
    getjobCalender('@userid',0);
    function getjobCalender(userid,_searchtype) {
        var maxDate1 = moment(new Date()).format("YYYY-MM-DD");
        $("#jobcalendar").fullCalendar({
            theme: true,
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month,agendaDay,agendaWeek'
            },
            fixedWeekCount: false,
               allDaySlot:false,
              contentHeight: 600,
            firstDay: 1,
            scrollTime: "07:00:00",
            defaultDate: maxDate1,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            //defaultView: 'agendaDay',
            editable: false,
            eventClick: function (event) {
                var id = event.token;
                $("#eventid").val(id);
                $('#viewmodal').modal('show');
                $("#action").html(event.title);
                       },
            events: {
                url: '/jobs/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    id: userid,
                      searchtype:_searchtype
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {


            }, navLinkDayClick: function (date, jsEvent) {
                return false;
            },
            dayRender: function (date, cell) {
                //var maxDate = moment(new Date()).format("YYYY-MM-DD");
                //var newDate = moment(date).format("YYYY-MM-DD");
                //if (newDate < maxDate) {
                //    $(cell).addClass('fc-not-allowed');
                //    $(cell).css('background', 'grey');
                //}
            },

        });

        $(".fc-next-button").html("Next Month").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Month").addClass("btn").addClass("btn-success").addClass("mrl");
        $(".fc-month-button").html("Month").addClass("btn").addClass("btn-success").addClass("mrl");
        $(".fc-agendaDay-button ").html("Day").addClass("btn").addClass("btn-success").addClass("mrl");
        $(".fc-agendaWeek-button").html("Week").addClass("btn").addClass("btn-success");

        $(".fc-month-button").on("click", function () {
  $(".fc-next-button").html("Next Month").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Month").addClass("btn").addClass("btn-success").addClass("mrl");

        });
         $(".fc-agendaDay-button").on("click", function () {
  $(".fc-next-button").html("Next Day").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Day").addClass("btn").addClass("btn-success").addClass("mrl");

         });
         $(".fc-agendaWeek-button").on("click", function () {
  $(".fc-next-button").html("Next Week").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Week").addClass("btn").addClass("btn-success").addClass("mrl");

        });


    }
    function getjobCalenderFilter(userid) {
         $("#filterpopup").css("display", "block");
        $('#jobcalendar').fullCalendar('destroy');
         var selected = $("#city_filter_id").find("option:selected");
    var arrSelected = "";
    selected.each(function(){
       arrSelected=arrSelected+$(this).val()+",";
    });
        var maxDate1 = moment(new Date()).format("YYYY-MM-DD");
        $("#jobcalendar").fullCalendar({
            theme: true,
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month,agendaDay,agendaWeek'
            },
             contentHeight: 600,
             fixedWeekCount: false,
            firstDay: 1,
            scrollTime: "07:00:00",

             allDaySlot:false,
            defaultDate: maxDate1,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            //defaultView: 'agendaDay',
            editable: false,
            eventClick: function (event) {
                var id = event.token;
                $("#eventid").val(id);
                $('#viewmodal').modal('show');
                $("#action").html(event.title);
                       },
            events: {
                url: '/jobs/GetEvents/',
                cache: true,
                type: 'GET',
                data:{
                    id: userid,
                    date: $("#date").val(),
                    type: 2,
                    state_filter_id: $("#state_filter_id").val(),
                    city: arrSelected,
                    cclient: $("#cclient").val(),
                    cTechnician: $("#cTechnician").val(),
                    cDispatcher: $("#cDispatcher").val(),
                    Status: $("#Status").val(),
                    searchtype:1
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {


            }, navLinkDayClick: function (date, jsEvent) {
                return false;
            },
            dayRender: function (date, cell) {
                //var maxDate = moment(new Date()).format("YYYY-MM-DD");
                //var newDate = moment(date).format("YYYY-MM-DD");
                //if (newDate < maxDate) {
                //    $(cell).addClass('fc-not-allowed');
                //    $(cell).css('background', 'grey');
                //}
            },

        });
        $(".fc-next-button").html("Next Month").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Month").addClass("btn").addClass("btn-success").addClass("mrl");
        $(".fc-month-button").html("Month").addClass("btn").addClass("btn-success").addClass("mrl");
        $(".fc-agendaDay-button ").html("Day").addClass("btn").addClass("btn-success").addClass("mrl");
        $(".fc-agendaWeek-button").html("Week").addClass("btn").addClass("btn-success");

        $(".fc-month-button").on("click", function () {
  $(".fc-next-button").html("Next Month").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Month").addClass("btn").addClass("btn-success").addClass("mrl");

        });
         $(".fc-agendaDay-button").on("click", function () {
  $(".fc-next-button").html("Next Day").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Day").addClass("btn").addClass("btn-success").addClass("mrl");

         });
         $(".fc-agendaWeek-button").on("click", function () {
  $(".fc-next-button").html("Next Week").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Week").addClass("btn").addClass("btn-success").addClass("mrl");

         });
        var _d = $("#date").val();
        if ($.trim(_d) != "") {
            var d = _d.split("-");
            $("#jobcalendar").fullCalendar('gotoDate', d[0]);
        }
    }
</script>
<script>
   function getprojectmanagerbymembertype(id) {
             var dataString = 'id=0';
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_mebertypeprojectmanager","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+id).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
        }
    $(window).load(function () {
        getprojectmanagerbymembertype('Project_manager1');
        getprojectmanagerbymembertype('uploadProject_manager1');
    });
    $(document).ready(function () {
        $("#clear").on('click', function () {
        $('#jobcalendar').fullCalendar('destroy');
         $('#city_filter_id').multiselect('deselectAll', false);
      $("#date").val('');
     $("#state_filter_id").val('0');
      $("#cclient").val('0');
       $("#cTechnician").val('0');
        $("#cDispatcher").val('0');
       $("#Status").val('0');
        $('.selectpicker').selectpicker('refresh');
           
            getjobCalender('@userid',2);
        });

        $("#submit").on('click', function () {
           searchtype = 1;
          getjobCalenderFilter('@userid');
        });
    var start = moment();
    var end = moment().add(30, 'days');

    function cb(start, end) {
        $('.dateRangePicker').val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
    }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);
         cb(start, end);
         $('.dateRangePicker').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
              $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
         });

        $('.data-table').DataTable({
        "bSort": false
        });
          get_client('cclient');
        get_client('client');
         get_client('uplodclient', 0);
        function get_client(client) {
            var dataString = 'ismulti=0';
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+client).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                     getClientrate('client', 'c_techrate');
                } else {
                  $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
            });
     $("#uplodclient").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#uploadProject_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#uploadProject_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
         }
           getClientrate('uplodclient', 'upclientRate');
            });
          //Project_manager


          get_Manager_selectbyid('Technician', 'Technician',0,'T','@subcntrcter');
           get_Manager_selectbyid('Technician', 'cTechnician','@cTechnician','T','@subcntrcter');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher',0,'D','false');
           get_Manager_selectbyid('Dispatcher', 'cDispatcher','@cDispatcher','D','false');

         function get_Manager_selectbyid(_val,cntrlId,memberid,type,issubcontractor) {
            var dataString = 'optvalue='+_val+"&memberid="+memberid+"&type="+type+'&issubcontractor='+issubcontractor;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cntrlId).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
         get_city("@city", '@state_filter_id');
     function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }
     $("#state_filter_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
                            }
                        });
            } else {
                $('#city_filter_id').multiselect('destroy');
                $("#city_filter_id").html('');
                 $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
              //  $("#city_id").html('<option value="0">City</option>').attr('disabled',true);
                }
            });
    

    });

      function Uploadfile() {
              $('#upload').modal('show');
        }

</script>