﻿
@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hrm.Models.membermodal

<style>
    #amount:hover {
        background-color: #F1F9FF;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-toggle,.btn-group {
        width: 100% !important;
        text-align: left !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }
</style>


<div class="p-10">
    @*<h2 class="page-title">Add member

        </h2>*@

</div>

<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content panel p-20">
                <div role="tabpanel" class="tab-pane active" id="personal_details">
                    @using (Html.BeginForm("add", "users", FormMethod.Post, new { @id = "frmusers" }))
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <h3 class="panel-title ">
                                    Add User

                                    <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","users")">
                                        <i class="fa fa-arrow-left"></i> Users List
                                    </a>
                                </h3>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control capitalize" })
                                    @Html.ValidationMessageFor(a => a.FirstName)
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(a => a.lastname, new { @class = "form-control capitalize" })
                                    @Html.ValidationMessageFor(a => a.lastname)
                                </div>
                                <div class="form-group">
                                    <label>User id</label>
                                    <span class="help">e.g. "546814" (Unique For every User)</span>
                                    @Html.TextBoxFor(a => a.member_id, new { @class = "form-control", @maxlength = "6", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(a => a.member_id)
                                </div>
                                <div class="form-group">
                                    <label>User Type</label>

                                    <select class="selectpicker form-control" data-live-search="true" name="membertype" id="membertype">
                                        <option value="M">User type</option>
                                        <option value="E">Employee</option>
                                        <option value="D">Dispatcher</option>
                                        <option value="PM">Project manager</option>
                                        <option value="T">Technician</option>
                                        <option value="S">Subcontractor</option>
                                        @*<option value="LT">Lead Technician</option>*@
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label>Manager</label>
                                    <select class="selectpicker form-control" data-live-search="true" name="Managerid" id="Managerid">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    @Html.TextBoxFor(a => a.password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.password)

                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    @Html.TextBoxFor(a => a.confirmpassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.confirmpassword)
                                </div>
                                <div class="form-group">
                                    <label>Company</label>
                                    @Html.TextBoxFor(a => a.company, new { @class = "form-control" })
                                    @Html.HiddenFor(a => a.dob)
                                    <input type="hidden" name="checkbucontracter" value="false" />
                                    @*<label>
            <input type="checkbox" id="checkbucontracter" name="" value="false" /> Do you own a company with employee?</label>*@
                                </div>
                               

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Hourly rate</label>
                                    <span class="help">e.g. "$10"</span>
                                    @Html.TextBoxFor(a => a.hourlyrate, new { @class = "form-control ratetext" })
                                </div>
                                <div class="form-group">
                                    <label>OVERTIME RATE</label>
                                    @Html.TextBoxFor(a => a.tax, new { @class = "form-control ratetext" })
                                </div>

                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="selectpicker form-control" data-live-search="false" name="status">
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                        <option value="1002">Platinum</option>
                                        <option value="1003">Gold</option>
                                        <option value="1004">Silver</option>
                                        <option value="1005">Bronze</option>
                                        <option value="1007">Applicant</option>
                                    </select>
                                </div>

                                <div class="form-group" style="display:none;">
                                    <label for="el3">Designation</label>
                                    <select class="form-control " disabled="" data-live-search="true" name="desid" id="designation">
                                        <option value="0">Designation</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>User Role</label>
                                    <select class="selectpicker form-control" data-live-search="true" name="roleid">
                                        <option value="0">Role</option>
                                        @foreach (var item in Model._roles)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Skills</label>
                                    <select class="form-control" multiple name="skills" id="skills">
                                        @foreach (var item in Model._skills)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Background</label>
                                    <select class="selectpicker form-control" data-live-search="false" name="background">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Drug tested</label>
                                    <select class="selectpicker form-control" data-live-search="false" name="drugtested">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label>Gender</label>
                                    <select class="selectpicker form-control" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="el3">Driving distance</label>
                                    @Html.TextBoxFor(a => a.drivingdistance, new { @class = "form-control" })
                                    <select style="display:none;" class="form-control " data-live-search="true" name="depid" id="department_id">
                                        <option value="0">Department</option>
                                        @foreach (var item in Model._dept)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    @Html.TextBoxFor(a => a.email, new { @type = "email", @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.email)
                                </div>
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    @Html.TextBoxFor(a => a.phone, new { @class = "form-control phonenumber" })
                                </div>
                                <div class="form-group">
                                    <label>Alternative Phone</label>
                                    @Html.TextBoxFor(a => a.alertnative_phone, new { @class = "form-control phonenumber" })
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(a => a.address, new { @class = "form-control" })

                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(a => a.ecity, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="selectpicker form-control" data-live-search="true" name="state_id" id="state_id">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Zip code</label>
                                    @Html.TextBoxFor(a => a.zip, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-12">
                               
                                <button type="submit"  class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>


                    }

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    var email_exist = "False";
    var memberid_exist =  "False";
    var username_exist =  "False";

    $("#email").on("change", function () {
        var _val = $("#email").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","users")";
            $.post(_url, { 'type': 1, 'value': _val }, function (data) {
                email_exist = data;
            });
        }
    });
     $("#member_id").on("change", function () {
        var _val = $("#member_id").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","users")";
            $.post(_url, { 'type': 2, 'value': _val }, function (data) {
                memberid_exist = data;
            });
        }
    });

    @*$("#uname").on("change", function () {
        var _val = $("#uname").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 3, 'value': _val }, function (data) {
                username_exist = data;
            });
        }
    });*@


    $('form').submit(function (e) {
        //var checkbucontracter = $("#checkbucontracter").prop("checked");
        //$("#checkbucontracter").val($("#checkbucontracter").prop("checked"));
        //if (checkbucontracter == true) {
        //    var compny = $("#company").val();
        //    if ($.trim(compny) == "") {
        //         alertify.log('Company name required', 'error', 5000);
        //       return false;
        //    }
        //} 
        if ($("form").validate()) {
            if (email_exist=="True") {
                 alertify.log('Email already assigned', 'error', 5000);
                $("#email").focus();
                email_exist = false;
                return false;
            }
            else if (memberid_exist == "True") {
                    alertify.log('Userid already assigned', 'error', 5000);
                $("#member_id").focus();
                 memberid_exist = false;
                return false;
            }else {
                return true;
            }
            }
        });
    $(document).ready(function () {
    /*For Designation Loading*/
        $("#skills").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Skills';
            },});
           function get_Manager_selectbyid(usertype) {
            var dataString = 'type='+usertype;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_selcted_managers","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Managerid").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
        $("#membertype").on("change", function () {
            var _type = $("#membertype").val();
            get_Manager_selectbyid(_type);
        });
        get_state();
         function get_state() {
            var dataString = 'ismulti=0';
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_state","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#state_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
        

            $("#department_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'deptid=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_designation_by_deptid","users")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#designation").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#designation").html('<option value="0">Designation</option>').attr('disabled',true).selectpicker('refresh');
                }
            });

        });
</script>





