﻿
@{
    ViewBag.Title = "View User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.tab = ViewBag.tab == null ? 1 : ViewBag.tab;
    int tab = (int)ViewBag.tab;
    List<int> _permission = (List<int>)ViewBag.permissions;
    bool phoneView = _permission.Contains(5064);
    bool EmailView = _permission.Contains(5065);
    bool rateView = _permission.Contains(5066);
    bool password = _permission.Contains(5067);
    bool downloaddoc = _permission.Contains(5068);
    bool deletedoc = _permission.Contains(5069);
    bool viewbank = _permission.Contains(5070);
    bool editbank = _permission.Contains(5071);
    bool deletebank = _permission.Contains(5072);
    bool issubcontractor = (bool)ViewBag.issubcontractor;
    int typeid = 0;
    var dct = Model._tools.GroupBy(a => a.typename).ToDictionary(a => a.Key, a => a.ToList());
    var filedct = Model._docs.OrderBy(a => a.mainorder).GroupBy(a => a.Filetypename).ToDictionary(a => a.Key, a => a.ToList());

}
@model hrm.Models.membermodal

<style>
    .wrapper-bottom-sec {
        background: white;
    }

    #amount:hover {
        background-color: #F1F9FF;
    }
    /*.panel-heading {

            padding-bottom: 12px !important;
        }*/
    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-toggle, .btn-group {
        width: 100% !important;
        text-align: left !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-

    default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-

    default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }

    #left_form {
        padding-top: 30px !important;
    }

    .feelable {
        margin-top: -1px;
        /* font-weight: 300!important; */
        margin-bottom: 30px;
        width: 100%;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: .5px;
    }
    /*.wrapper-bottom-sec {
                background: white !important;
            }*/

    .pb-13 {
        margin-bottom: 20px !important;
    }

    .cuschk {
        cursor: pointer;
    }

    .lbwdth {
        width: 100%;
    }

    .active a {
        font-weight: 700;
    }

    .round {
        position: relative;
        padding-bottom: 17px;
    }

    #pleftform {
        background: #00BCD4;
        color: white;
        height: 92vh;
    }

    #left_form h4 a {
        color: white !important;
    }

    #divForm {
        height: 630px;
        width: 1000px;
    }

    #maindiv {
        background: white;
        height: 92vh;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 17px;
        left: 1px;
        position: absolute;
        top: 5px;
        width: 17px;
    }

    .nav-tabs .active a {
        font-weight: 400;
    }

    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 12px;
    }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 18px;
    }

    .hdr {
        background: #F7F8FA;
        color: black;
        margin-bottom: 10px;
        border: 1px solid rgba(230, 230, 230, 0.7);
    }

    .tab-content .p-20 {
        padding-left: 0px !important;
    }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: #30DDBC;
            border-color: #30DDBC;
        }

    .bck {
        background-color: #30DDBC !important;
        border-color: #30DDBC !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 3px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 3px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .btnn {
        padding-top: 212px !important;
        padding-right: 38px !important;
    }

    #left_form h4 {
        font-size: 17px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .f11 {
        font-size: 11px;
        font-weight: 500;
        font-size: 11px;
        letter-spacing: .5px;
        margin-bottom: 0px !important;
    }

    .headingtool {
        margin-bottom: 6px !important;
        margin-top: 10px;
    }

    .btn-group > .dropdown-toggle, .btn-group > .dropdown-toggle:hover {
        background-color: white !important;
        color: black !important;
    }
    /*.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-

    default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-

    default.focus {
                background-color: white !Important;
                border-color: grey !important;
                color: #626262 !important;
                height: 42px;
            }*/
    .tdupper {
        font-weight: 600 !important;
        font-size: 15px !important;
        background: #f7f8fa !important;
    }

    .btn-circle {
        padding: 0px;
        border-radius: 50px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .mrgtop0 {
        margin-top: 0px;
    }

    .btmhr {
        border-bottom: 1px solid #eee;
    }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .text-gray {
        color: gray !important
    }

    #amount:hover {
        background-color: #F1F9FF;
    }
</style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="mdlupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Bank</h4>
                </div>
                @using (Html.BeginForm("bank_update", "users", FormMethod.Post, new { @id = "frmbank" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <span class="help">e.g. "United State Bank"</span>
                            <input type="text" class="form-control" required="" id="bank_name" name="bank_name">
                            <input type="hidden" name="bankid" id="bankid" />
                            <input type="hidden" value="@Model.userid" name="memberid" />
                        </div>

                        <div class="form-group">
                            <label>Routing Name</label>
                            <input type="text" class="form-control" required="" id="branch_name" name="branch_name">
                        </div>

                        <div class="form-group">
                            <label>Account Name</label>
                            <span class="help">e.g. "Abul Kashem Shamim"</span>
                            <input type="text" class="form-control" required="" id="account_name" name="account_name">
                        </div>

                        <div class="form-group">
                            <label>Account Number</label>
                            <span class="help">e.g. "1015463115661214"</span>
                            <input type="text" class="form-control" required="" id="account_number" name="account_number">
                        </div>

                        <div class="form-group" style="display:none">
                            <label>IFSC Code</label>
                            <input type="text" class="form-control" id="ifsc_code" name="ifsc_code">
                        </div>

                        <div class="form-group" style="display:none">
                            <label>PAN Number</label>
                            <input type="text" class="form-control" name="pan_number" id="pan_number">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                }
            </div>
        </div>

    </div>
    <div id="toolupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tool</h4>
                </div>
                @using (Html.BeginForm("add_tools", "users", FormMethod.Post, new { @id = "toolfrm" }))
                {<div class="modal-body">
                        @Html.HiddenFor(a => a.token)
                        <div class="form-group">
                            <label>Tool Type</label>
                            <input type="hidden" name="tooltype1" id="tooltype1" />
                            <input type="text" class="form-control" id="_tooltype1" readonly="readonly">

                        </div>
                        <div class="form-group">
                            <label>Tool</label>
                            <input type="text" class="form-control" required="" id="toolname1" name="toolname1" placeholder="Enter tool name">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                }
            </div>
        </div>

    </div>
    <div id="docupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
                </div>
                @using (Html.BeginForm("edit_doc", "users", FormMethod.Post, new { @id = "frmdocuments", @enctype = "multipart/form-data" }))
                {<div class="modal-body">
                        @Html.HiddenFor(a => a.token)
                        <div class="form-group">
                            <label>Document Type</label>  <select class="selectpicker form-control" name="_dctype">
                                <option value="0">Document type</option>
                                @foreach (var item in Model._dctype)
                                {
                                    <option value="@item.typeid">@item.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Document Title</label>
                            <span class="help">e.g. "Resume, Joining Letter,Certification etc"</span>
                            <input type="text" class="form-control" required="" name="doc">
                        </div>
                        <div class="form-group">
                            <label>Select Document</label>
                            <div class="input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-success btn-file">
                                        Browse <input required type="file" class="form-control" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-plus"></i>Add</button>
                    </div>
                }


            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading" style="padding-left:49px;padding-bottom: 3px;">
                    <h3 class="panel-title">
                        ID: @Model.member_id
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","users")">
                            <i class="fa fa-arrow-left"></i> Users List
                        </a>
                    </h3>
                </div>
                <div class="panel-body p-t-20" style="background: white;padding-right: 0px;">
                    <div class="col-md-12" style="padding-left: 30px;">

                        <h3 class="bold font-color-1">@(Model.FirstName + ' ' + Model.lastname)</h3>

                    </div>
                    @using (Html.BeginForm("edit", "users", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="col-md-5">
                            <div class="pull-left col-md-5">
                                <div class="thumbnail m-b-none">
                                    <img src="@(Model.image == "default" ? Url.Content("~/content/images/default.webp") : Url.Content(Model.image))" alt="Profile Page" style="width:200px;height:200px">
                                </div>
                            </div>
                            <div class="pull-left col-md-7">
                                <div class="form-group">
                                    <label>Status</label>
                                    @if (!issubcontractor)
                                    {
                                        <select class="selectpicker form-control" data-live-search="false" name="status">
                                            <option value="0">Status</option>

                                            <option @(Model.status == 1 ? "selected" : "") value="1">Active</option>
                                            <option @(Model.status == 2 ? "selected" : "") value="2">Inactive</option>

                                            <option @(Model.status == 1002 ? "selected" : "") value="1002">Platinum</option>
                                            <option @(Model.status == 1003 ? "selected" : "") value="1003">Gold</option>
                                            <option @(Model.status == 1004 ? "selected" : "") value="1004">Silver</option>
                                            <option @(Model.status == 1005 ? "selected" : "") value="1005">Bronze</option>
                                            <option @(Model.status == 1007 ? "selected" : "") value="1007">Applicant</option>


                                        </select>
                                    }
                                    else
                                    {
                                        <select class="selectpicker form-control" data-live-search="false" id="status" >
                                            <option value="0">Status</option>
                                            <option @(Model.status != 2 ? "selected" : "") value="1">Active</option>
                                            <option @(Model.status == 2 ? "selected" : "") value="2">Inactive</option>
                                        </select>
                                        <input type="hidden" value="@Model.status" name="status" />
                                    }
                                </div>
                                @if (!issubcontractor)
                                {
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="selectpicker form-control" data-live-search="true" name="roleid">
                                            <option value="0">Role</option>
                                            @foreach (var item in Model._roles)
                                            {
                                                if (Model.roleid == item.id)
                                                {
                                                    <option selected value="@item.id">@item.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.id">@item.name</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    if (Model.termstatus)
                                    {
                                        <div class="form-group">
                                            <label><span class="text-success fa fa-check"> </span> Terms Accepted: @Model.termdate</label>
                                        </div>
                                    }
                                    else if (Model.declineterms)
                                    {
                                        <div class="form-group">
                                            <label><span class="text-danger fa fa-exclamation-triangle"> </span> Terms Declined: @Model.termdate</label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <input type="hidden" name="roleid" value="@Model.roleid" />
                                }
                            </div>


                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="form-group col-md-6">
                                <label>First name</label>
                                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control capitalize", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(a => a.FirstName)
                                @Html.HiddenFor(a => a.userid)
                                @Html.HiddenFor(a => a.member_id)
                                @Html.HiddenFor(a => a.password)
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last name</label>
                                @Html.TextBoxFor(a => a.lastname, new { @class = "form-control capitalize", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(a => a.lastname)
                            </div>
                            <div class="form-group col-md-6">
                                <label>Company</label>
                                @Html.TextBoxFor(a => a.company, new { @class = "form-control", @placeholder = "Company" })
                                <input type="hidden" name="checkbucontracter" value="false" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email address</label>
                                @Html.TextBoxFor(a => a.email, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(a => a.email)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                @Html.TextBoxFor(a => a.phone, new { @class = "form-control phonenumber", @placeholder = "Phone Number" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Alternative phone</label>
                                @Html.TextBoxFor(a => a.alertnative_phone, new
                                {
                                    @class = "form-control phonenumber",
                                    @placeholder = "Alternative Phone"
                                })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Hourly rate</label>
                                @Html.TextBoxFor(a => a.hourlyrate, new { @class = "form-control ratetext" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Overtime rate</label>
                                @Html.TextBoxFor(a => a.tax, new { @class = "form-control ratetext" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Manager</label>
                                <select class="selectpicker form-control" data-live-search="true" name="Managerid" id="Managerid">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>User Type</label>
                                <select class="selectpicker form-control" data-live-search="true" name="membertype" id="membertype">
                                    <option @(Model.membertype == "" ? "Selected" : "") value="M">User Type</option>
                                    @if (!issubcontractor)
                                    {
                                        <option @(Model.membertype == "E" ? "Selected" : "") value="E">Employee</option>
                                        <option @(Model.membertype == "D" ? "Selected" : "") value="D">Dispatcher</option>
                                        <option @(Model.membertype == "PM" ? "Selected" : "") value="PM">Project manager</option>
                                        <option @(Model.membertype == "T" ? "Selected" : "") value="T">Technician</option>
                                        <option @(Model.membertype == "ST" ? "Selected" : "") value="ST">Subtechnician</option>
                                    }
                                    else
                                    {
                                        <option @(Model.membertype == "ST" ? "Selected" : "") value="ST">Technician</option>
                                    }
                                    <option @(Model.membertype == "S" ? "Selected" : "") value="S">Subcontractor</option>
                                    <option @(Model.membertype == "LT" ? "Selected" : "") value="LT">Lead Technician</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Background</label>
                                <select class="selectpicker form-control" data-live-search="false" name="background">
                                    <option @(Model.background == "" ? "selected" : "") value="">Background</option>
                                    <option @(Model.background == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.background == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.background == "Pending" ? "selected" : "") value="Pending">Pending</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    Drug tested
                                </label>
                                <select class="selectpicker form-control" data-live-search="false" name="drugtested">
                                    <option @(Model.drugtested == "" ? "selected" : "") value="">
                                        Drug tested
                                    </option>

                                    <option @(Model.drugtested == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.drugtested == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.drugtested == "Pending" ? "selected" : "") value="Pending">Pending</option>

                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                @Html.TextBoxFor(a => a.address, new { @placeholder = "Address", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>City</label>
                                @Html.TextBoxFor(a => a.ecity, new { @placeholder = "City", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>State</label>
                                <select class="selectpicker form-control" data-live-search="true" name="state_id" id="state_id">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Zipcode</label>
                                @Html.TextBoxFor(a => a.zip, new { @class = "form-control", @placeholder = "Zipcode" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Driving Distance</label>
                                @Html.TextBoxFor(a => a.drivingdistance, new { @placeholder = "Driving distance", @class = "form-control" })

                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-sm pull-left">
                                        <i class="fa fa-save"></i> Update

                                    </button>
                                </div>
                            </div>



                        </div>
                    }
                    <div class="col-md-7">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="@(tab == 1 ? "active" : "")">
                                <a href="#document" aria-controls="messages"
                                   role="tab" data-toggle="tab" aria-expanded="false">Document</a>
                            </li>
                            <li role="presentation" class="@(tab == 2 ? "active" : "")">
                                <a href="#personal_details" aria-controls="home"
                                   role="tab" data-toggle="tab" aria-expanded="true">Skill</a>
                            </li>
                            <li role="presentation" class="@(tab == 3 ? "active" : "")">
                                <a href="#bank_information" aria-
                                   controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Tool</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane @(tab == 1 ? "active" : "")" id="document">
                                <div class="panel">
                                    <div class="panel-heading" style="padding-left:20px;padding-bottom: 73px;padding-top: 24px">
                                        <h3 class="panel-title">
                                            <a class="btn btn-success btn-sm pull-right" style="font-weight:500;" href="#"
                                               onclick="adddoc()">
                                                <i class="fa fa-plus"></i> Add New Document
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="panel-body p-none">
                                        <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer"
                                               id="tbldoc">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Download</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item1 in filedct)
                                                {
                                                    <tr>
                                                        <td class="tdupper" colspan="3">@item1.Key</td>
                                                        <td style="display:none;"></td>
                                                        <td style="display:none;"></td>
                                                    </tr>
                                                    foreach (var item in filedct[item1.Key].Where(a => a.Filetile != "").OrderBy(a => a.Filetypename))
                                                    {
                                                        <tr>
                                                            <td>@item.Filetile</td>
                                                            <td>
                                                                @if (downloaddoc)
                                                                {
                                                                    <a href="@item.url.Replace("App_Data","formfiles")" download
                                                                       target="_blank" class="btn btn-success btn-xs pull-left">
                                                                        <i class="fa fa-download"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="#" class="btn btn-success btn-xs pull-left disabledbtn"
                                                                       data-msg="you are not authorized to download this document">
                                                                        <i class="fa fa-download"></i>
                                                                    </a>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (!deletedoc)
                                                                {<a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="you arenot authorized to delete this document" data-memberid="@Model.token" id="@item.filetoken"><i class="fa fa-trash"></i></a>
                                                                }
                                                                else if (item.Filetile == "W9 Form" || item.Filetile == "Direct Deposit Payment Form" || item.Filetile == "Subcontractor Agreeement")
                                                                {
                                                                    <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="you are not authorized to delete this document" data-memberid="@Model.token" id="@item.filetoken"><i class="fa fa-trash"></i></a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="#" class="btn btn-danger btn-xs tFileDelete" data-memberid="@Model.token" id="@item.filetoken"><i class="fa fa-trash"></i></a>
                                                                }

                                                            </td>
                                                        </tr>

                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(tab == 2 ? "active" : "")" id="personal_details">
                                @using (Html.BeginForm("edit_skills", "users", FormMethod.Post, new { @id = "frmskiils", @enctype = "multipart/form-data" }))
                                {
                                    int cnt = 1;
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                        @foreach (var item in Model._skills)
                                        {
                                            if (Model.skills != null && Model.skills.Contains(item.id))
                                            {
                                                <div class="col-md-4 round f11 col-sm-6 col-xs-6">

                                                    <input type="checkbox" name="skills" id="s_@item.id" value="@item.id" checked="checked" /> @item.name
                                                    <label for="checkbox" class="cuschk bck" data-id="s_@item.id"></label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-4 round col-sm-6 col-xs-6 f11">

                                                    <input type="checkbox" name="skills" id="s_@item.id" value="@item.id" /> @item.name
                                                    <label for="checkbox" class="cuschk" data-id="s_@item.id"></label>
                                                </div>
                                            }
                                            cnt = cnt + 1;
                                            if (cnt > 3)
                                            {
                                                cnt = 1;
                                                <div class="clearfix"></div>
                                            }
                                        }

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="margin-top:20px;">
                                        <hr />
                                        @Html.HiddenFor(a => a.token)
                                        <button type="submit" class="btn btn-success btn-sm pull-right">
                                            <i class="fa fa-save"></i> Update

                                        </button>

                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane  p-20 @(tab == 3 ? "active" : "")" id="bank_information">
                                @using (Html.BeginForm("edit_tools", "users", FormMethod.Post, new
                                {
                                    @id = "frmetools",
                                    @enctype = "multipart/form-data"
                                }))
                                {
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">

                                        @foreach (var item in dct)
                                        {
                                            typeid = 0;
                                            <div class="clearfix">
                                            </div>
                                            <div class="col-md-12 hdr">
                                                <div class="form-group headingtool">
                                                    <label>@item.Key</label>
                                                    <a href="#" class=" text-gray pull-right" onclick="gettoolwindow('@item.Key')">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                @foreach (var item1 in dct[item.Key].Where(a => a.name != "").OrderBy(a => a.name))
                                                {
                                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                                        <div class="form-group round f11">
                                                            @if (Model.tools != null && Model.tools.Contains(item1.id))
                                                            {
                                                                <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.id"
                                                                       value="@item1.id" checked="checked" /> @item1.name
                                                                    <label for="checkbox" class="cuschk bck" data-id="t_@item1.id"></label>

                                                                }
                                                                else
                                                                {
                                                                    <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.id"
                                                                           value="@item1.id" /> @item1.name
                                                                        <label for="checkbox" class="cuschk" data-id="t_@item1.id"></label>
                                                                    }
                                                        </div>
                                                    </div>
                                                    typeid = typeid + 1;
                                                    if (typeid > 3)
                                                    {
                                                        typeid = 0;
                                                        <div class="clearfix"></div>
                                                    }
                                                }

                                            </div>
                                        }

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="margin-top:34px;">
                                        <hr style="border-bottom: 1px solid #eee!important;" />
                                        <div class="clearfix">
                                        </div>

                                        @Html.HiddenFor(a => a.token)
                                        <button type="submit" class="btn btn-success btn-sm pull-right">
                                            <i class="fa fa-save"></i> Update

                                        </button>
                                    </div>
                                    <div class="clearfix"></div>

                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function adddoc()
    {
        $("#docupdate").modal("show");
    }
      function gettoolwindow(item) {
            $("#toolupdate").modal("show");
            $("#tooltype1").val(item);
              $("#_tooltype1").val(item);
        }
      $(".cuschk").on("click", function () {
        var id = $(this).data("id");
         if ($(this).hasClass("bck")) {
             $("#" + id).attr("checked", false);
             $(this).removeClass("bck");
  } else {
             $("#" + id).attr("checked", true);
             $(this).addClass("bck");
  }

    });
    $(".elink").on("click", function () {
        var bankid = $(this).data('bankid');
        $("#bankid").val(bankid);
        var pan = $(this).data('pan');
        $("#pan_number").val(pan);
        var ifsccode = $(this).data('ifsc');
        $("#ifsc_code").val(ifsccode);
        var acnumber = $(this).data('acnumber');
        $("#account_number").val(acnumber);
        var acc_name = $(this).data('acc_name');
        $("#account_name").val(acc_name);
        var brnchname = $(this).data('brnchname');
        $("#branch_name").val(brnchname);
        var bname = $(this).data('bname');
        $("#bank_name").val(bname);
        $("#mdlupdate").modal("show");
    });
    var email_exist = "False";
    var memberid_exist =  "False";
    var username_exist =  "False";
    $("#email").on("change", function () {
        var _val = $("#email").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","users")";
            $.post(_url, { 'type': 1, 'value': _val }, function (data) {
                email_exist = data;
            });
        }
    });
     $("#member_id").on("change", function () {
        var _val = $("#member_id").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","users")";
            $.post(_url, { 'type': 2, 'value': _val }, function (data) {
                memberid_exist = data;
            });
        }
    });
  
    $(document).ready(function () {
         $(".tFileDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('memberid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_doc","users")";
                    window.location.href = _url + "?mtoken=" + client_id+"&token="+id;
                }
            });
         });

         $(".tbankDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('memberid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_bank","users")";
                    window.location.href = _url + "?mtoken=" + client_id+"&token="+id;
                }
            });
         });
        $("#skills").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Skills';
            },});
      $('.data-table').DataTable({
"bSort" : false, "pageLength": 25
} );
         get_Manager_selectbyid('@Model.Managerid','@Model.userid','@Model.membertype');
      function get_Manager_selectbyid(id,userid,usertype) {
            var dataString = 'managerid='+id+'&userid='+userid+'&type='+usertype;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_selcted_managers","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Managerid").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
        $("#membertype").on("change", function () {
            var _type = $("#membertype").val();
            var mgrid = '@Model.Managerid';
             var userid = '@Model.userid';
            get_Manager_selectbyid(mgrid,userid,_type);

        });

        get_state('@Model.state_id');
       
         function get_state(state_id) {
            var dataString = 'ismulti=0&stateid='+state_id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_state","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#state_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
       
     
            $("#department_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'deptid=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_designation_by_deptid","users")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#designation").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#designation").html('<option value="0">Designation</option>').attr('disabled',true).selectpicker('refresh');
                }
            });

        });
</script>







