﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    var amount_1 = new List<int>();
    amount_1.Add(0);
    int[] amount = (int[])ViewBag.amount;
    if (amount == null)
    {
        amount = amount_1.ToArray();
    }
    int state_id = (int)ViewBag.state_id;
    int[] skills = (int[])ViewBag.skills;
    string city = (string)ViewBag.city;
    string drug = (string)ViewBag.drug;
    string background = (string)ViewBag.background;
    int status = (int)ViewBag.status;
    bool isactivefilter = (bool)ViewBag.isfilter;
    bool issubcontractor = (bool)ViewBag.issubcontractor;
    string membertype = (string)ViewBag.membertype;
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@model hrm.Models.members
<style>
    .box {
        float: right;
        overflow: hidden;
        background: white;
    }

    .table.table-condensed tbody tr td > lable {
        font-weight: 300 !important;
    }

    .box-inner {
        width: 570px;
        padding: 10px;
    }

    .fnt22 {
        font-size: 22px;
    }

    .mainbox {
        position: absolute;
        top: 62px;
        z-index: 99999999;
        right: 1px;
        box-shadow: 1px 11px 13px slategrey;
        height: 93vh;
    }

    #amount:hover {
        background-color: #F1F9FF;
    }
    .box-inner>div>.form-group>label>span{
        text-transform:none !important;
    }
    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }

    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    .techdiv {
        overflow-y: scroll;
        max-height: 250px;
        height: 250px;
    }
.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.6;
    border-radius: 29px;
    width: 35px;
    padding: 5px !important;
    border: 1px solid #FFFFFF !important;
}

    .mt9 {
        margin-top: 9px !important;
    }

    .inputbox, .inputbox2 {
        width: 24px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }

    .multi > .btn-group > .multiselect, .multi > .btn-group {
        width: 100%;
        text-align: left;
    }

        .multi > .btn-group > .multiselect-container {
            max-height: calc(90vh - 26vh) !important;
            overflow-y: auto !important;
        }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 0px;
    }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: #30DDBC;
            border-color: #30DDBC;
        }

    .bck {
        background-color: #30DDBC !important;
        border-color: #30DDBC !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 4px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 4px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
    .pd0{
        padding-bottom: 0px !important;
    }
    .cuschk {
        cursor: pointer;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        left: 0px;
        position: absolute;
        top: 1px;
        width: 20px;
    }

    .round {
        position: relative;
        padding-bottom: 17px;
    }

        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 3px;
            opacity: 0;
            position: absolute;
            top: 3px;
            transform: rotate(-45deg);
            width: 12px;
        }

    .closebox:hover {
        color: #626262 !important;
        background-color: #FFFFFF !important;
        border: 1px solid #EEE !important;
    }
</style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    <div id="filterpopup" style="display:@(isactivefilter == true?"block":"none")" class="alert alert-success alert-dismissible" role="alert">

        Filter is Active
    </div>
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="mdlview" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">View Skills</h4>
                </div>
                @using (Html.BeginForm("update", "Skills", FormMethod.Post, new { @id = "frmsendsms" }))
                {<div class="modal-body">
                        <div class="row" id="skilldiv">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                    </div>
                }
            </div>
        </div>

    </div>
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Users</h4>
                </div>
                @using (Html.BeginForm("users", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label style="width:100%">Upload a CSV formatted file:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/users.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>

        </div>

    </div>
    <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Status</h4>
                </div>
                @using (Html.BeginForm("update_pay", "pay", FormMethod.Post))
                {<div class="modal-body">

                        <div class="form-group">
                            <input type="hidden" name="mid" id="mid" />
                            <label>User STATUS</label>
                            <select class="selectpicker form-control " data-live-search="true" name="mstatusid" id="mstatusid">
                                <option value="0">Status</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <option value="1002">Platinum</option>
                                <option value="1003">Gold</option>
                                <option value="1004">Silver</option>
                                <option value="1005">Bronze</option>
                                <option value="1007">Applicant</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="updatestatus()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="clearfix"></div>
        <div class="box mainbox" style="display: none;" id="box1">
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;padding-top: 10px;">SUBMIT OFFER</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
               
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control" name="slide1_client" id="slide1_client">
                            <option value="0">Clients</option>
                        </select>
                    </div>
                </div>


                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control" name="slide_state" id="slide_state">
                            <option value="0">State</option>
                            @foreach (var item in state)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control" name="slide_city" id="slide_city">
                            <option value="0">City</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group" style="padding-bottom:35px;">
                        <label><span id="offercount">Total offer: </span></label>
                        <select data-live-search="true" class="selectpicker form-control" id="offers">
                            <option value="0">Offers</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
               
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject1" placeholder="Subject" />
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control" id="templates">
                            <option value="0">Templates</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control" id="prefrence">
                            <option value="0">Assign preference</option>
                            <option value="1">Auto</option>
                            <option value="2">Manual</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sendoffer">
                    <div class="col-md-2 round ">
                        <input class="inputbox3" type="checkbox" id="email" /> Email
                        <label for="checkbox" class="cuschk email" data-id="email"></label>
                    </div>
                    <div class="col-md-6 round">
                        <input class="inputbox3" type="checkbox" id="sms" /> Text
                        <label for="checkbox" class="cuschk sms" data-id="sms"></label>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12" style="position:relative;margin-top:1%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm pull-right" href="#" onclick="sendoffer()">
                        <i class="fa fa-mail-reply"></i> Submit
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="box mainbox" style="display: none;" id="box2">
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">SUBMIT EMAIL</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
               
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject2" placeholder="Subject" />
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control" id="templates2">
                            <option value="0">Templates</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sendoffer2">
                    <div class="col-md-2 round ">
                        <input class="" type="checkbox" id="email2" /> Email
                        <label for="checkbox" class="cuschk email2" data-id="email2"></label>
                    </div>
                    <div class="col-md-6 round">
                        <input class="" type="checkbox" id="sms2" /> Text
                        <label for="checkbox" class="cuschk sms2" data-id="sms2"></label>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="col-md-12 round">

                        <input class="inputbox2" style="width: 16px;" type="checkbox" id="termspopup1" />Activate terms popup to selected user
                        <label for="checkbox" class="cuschk termspopup1" data-id="termspopup1"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm pull-right" href="#" onclick="sendoffer2()">
                        <i class="fa fa-mail-reply"></i> Submit
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="box mainbox" style="display: none;" id="box3">
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">SUBMIT JOB</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
               
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control" name="slide3_client" id="slide3_client">
                            <option value="0">Clients</option>
                        </select>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control" name="slide3_state" id="slide3_state">
                            <option value="0">State</option>
                            @foreach (var item in state)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control" name="slide3_city" id="slide3_city">
                            <option value="0">City</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="display:none;">
                    <div class="form-group">
                        <input type="text" id="jobidpopup" class="form-control" placeholder="Job id" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group" style="padding-bottom:35px;">
                        <label><span id="jobcount">Total jobs:</span></label>
                        <select data-live-search="true" class="selectpicker form-control" id="popupjobs">
                            <option value="0">Job ID</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
              
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject3" placeholder="Subject" />
                    </div>
                </div>


                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control" id="templates3">
                            <option value="0">Templates</option>
                        </select>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-md-2 round sendoffer3">
                        <input class="inputbox3" type="checkbox" id="email3" /> Email
                        <label for="checkbox" class="cuschk email3" data-id="email3"></label>
                    </div>
                    <div class="col-md-6 round">
                        <input class="inputbox3" type="checkbox" id="sms3" /> Text
                        <label for="checkbox" class="cuschk sms3" data-id="sms3"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:1%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm pull-right" href="#" onclick="sendoffer3()">
                        <i class="fa fa-mail-reply"></i> Submit
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            All Users
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (!issubcontractor)
                        {
                            if (permission.Contains(34))
                            {
                                <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "users")">
                                    <i class="fa fa-plus"></i> New User
                                </a>
                            }
                            if (permission.Contains(33))
                            {
                                <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                    <i class="fa fa-cloud-upload"></i> Upload
                                </a>
                            }


                            <a class="btn btn-success btn-sm pull-right slide-toggle1 div_delete" style="margin-right:8px;" id="div_delete" href="#">
                                <i class="fa fa-tasks"></i> Offers
                            </a>
                            <a class="btn btn-success btn-sm pull-right slide-toggle3 div_delete" style="margin-right:8px;" id="div_delete2" href="#">
                                <i class="fa fa-suitcase"></i> Jobs
                            </a>
                            <a class="btn btn-success btn-sm pull-right slide-toggle2 div_delete" style="margin-right:8px;" id="div_delete1" href="#">
                                <i class="fa fa-mail-reply"></i> Email
                            </a>
                        }
                    </div>

                </div>
                @if (permission.Contains(58))
                {
                    <div class="panel-body p-none">

                        <div class="custom-col-md-12">

                            @using (Html.BeginForm("index", "users", FormMethod.Post, new { @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table_job filter_table nowrap no-footer table-ultra-responsive-custome">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select id="state_id" data-live-search="true" name="state_id" class="filter selectpicker form-control">
                                                    <option value="0">State</option>
                                                    @foreach (var item in state)
                                                    {
                                                        <option @(state_id == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control filter" disabled="disabled" data-live-search="true" multiple name="city_id" id="city_id">
                                                    <option value="0">City</option>
                                                </select>

                                            </td>
                                            @if (!issubcontractor)
                                            {
                                                <td>
                                                    <select multiple class="form-control filter" id="amount" name="amount">
                                                        <option @(amount.Contains(1) ? "selected" : "") value="1">$20.00 to  $35.00</option>
                                                        <option @(amount.Contains(2) ? "selected" : "") value="2">$40.00 to  $50.00</option>
                                                        <option @(amount.Contains(3) ? "selected" : "") value="3">$55.00 to $65.00</option>
                                                        <option @(amount.Contains(4) ? "selected" : "") value="4">$70.00 to  up</option>
                                                    </select>
                                                </td>
                                            }
                                            <td>
                                                <select multiple class="form-control filter" id="skills" name="skills">
                                                    @foreach (var item in Model._skills)
                                                    {
                                                        <option @(skills.Contains(item.id) ? "selected" : "") value="@item.id">@item.name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectpicker form-control filter" data-live-search="false" id="background" name="background">
                                                    <option @(background == "all" ? "selected" : "") value="all">Background</option>
                                                    <option @(background == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                                    <option @(background == "No" ? "selected" : "") value="No">No</option>
                                                    <option @(background == "Pending" ? "selected" : "") value="Pending">Pending</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectpicker form-control filter" data-live-search="false" id="drug" name="drug">
                                                    <option @(drug == "all" ? "selected" : "") value="all">Drug</option>
                                                    <option @(drug == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                                    <option @(drug == "No" ? "selected" : "") value="No">No</option>
                                                    <option @(drug == "Pending" ? "selected" : "") value="Pending">Pending</option>
                                                </select>
                                            </td>
                                            @if (!issubcontractor)
                                            {
                                                <td>
                                                    <select class="selectpicker form-control filter" data-live-search="false" id="status" name="status">
                                                        <option @(status == 0 ? "selected" : "") value="0">Status</option>
                                                        <option @(status == 1 ? "selected" : "") value="1">Active</option>
                                                        <option @(status == 2 ? "selected" : "") value="2">Inactive</option>
                                                        <option @(status == 1002 ? "selected" : "") value="1002">Platinum</option>
                                                        <option @(status == 1003 ? "selected" : "") value="1003">Gold</option>
                                                        <option @(status == 1004 ? "selected" : "") value="1004">Silver</option>
                                                        <option @(status == 1005 ? "selected" : "") value="1005">Bronze</option>
                                                        <option @(status == 1007 ? "selected" : "") value="1007">Applicant</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="selectpicker form-control filter" data-live-search="false" id="membertype" name="membertype">
                                                        <option @(membertype == "M" ? "selected" : "") value="M">User Type</option>
                                                        <option @(membertype == "E" ? "selected" : "") value="E">Employee</option>
                                                        <option @(membertype == "D" ? "selected" : "") value="D">Dispatcher</option>
                                                        <option @(membertype == "PM" ? "selected" : "") value="PM">Project manager
                                                        <option @(membertype == "T" ? "selected" : "") value="T">Technician</option>
                                                        <option @(membertype == "S" ? "selected" : "") value="S">Subcontractor</option>
                                                        <option @(membertype == "ST" ? "selected" : "") value="ST">Subtechnician</option>
                                                        <option @(membertype == "LT" ? "selected" : "") value="LT">Lead Technician</option>
                                                    </select>
                                                </td>
                                            }
                                            <td>

                                                <button type="button" onclick="FilterTable()" class="btn btn-default pull-left"><i class="fa fa-search"></i></button>


                                            </td>
                                            <td>


                                                <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }


                        </div>
                    </div>
                }
                <div class="panel-body p-none ">
                    <div class="table-ultra-responsive">
                        <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="round pd0">
                                            <input type="checkbox" id="chk_header" />
                                            <label for="checkbox" class="chk_header" data-id="chk_header"></label>
                                        </div>
                                            </th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Rate</th>
                                    <th>Status</th>
                                    <th>Skill</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
     function getjobsbypopup() {
            var stateid = $("#slide3_state").val();
            var city = $("#slide3_city").val();
            var jobid =$("#jobidpopup").val();var clientid=$("#slide3_client").val();
            var dataString = 'stateid=' + stateid + '&city=' + city + '&jobid=' + jobid + '&clientid=' + clientid;//, string  = "", string  = "", int  = 0;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("getunassignjobsforpopup","jobs")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#popupjobs").html(data);
                                $("#popupjobs").selectpicker('refresh');
                                var total = document.getElementById("popupjobs").length-1;
                                $("#jobcount").html("Total jobs: "+total);
                            }
                        });

        }

        function getofferbypopup() {
            var clientid =$("#slide1_client").val();
            var stateid = $("#slide_state").val();
            var city = $("#slide_city").val();
            var jobid = $("#offers").val();
            var dataString = 'stateid=' + stateid + '&city=' + city + '&offerid=' + jobid + '&clientid=' + clientid;//, string  = "", string  = "", int  = 0;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_job_Offerforpopup","offer")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#offers").html(data);
                                $("#offers").selectpicker('refresh');
                                var total = document.getElementById("offers").length-1;
                                $("#offercount").html("Total offers: "+total);
                            }
                        });

        }
    $(document).ready(function () {

        $(".div_delete").css("display", "none");
        $(".slide-toggle1").on("click", function (e) {
            $("#slide_city").html('<option value="0">City</option>').selectpicker('refresh');
            $("#subject1").val('');
            $('#slide1_client').val(0).selectpicker('refresh');
            $("#offers").val(0).selectpicker('refresh');
            $('#slide_state').val(0).selectpicker('refresh');
            $("#prefrence").val(0).selectpicker('refresh');
           $(".sms").removeClass("bck"),
          $(".email").removeClass("bck"),
            $("#box1").animate({
                width: "hide"
            });
            $("#box1").animate({
                width: "show"
            });
         getofferbypopup();
     
        });
        function get_citybyid2(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=0&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                               // $('#slide_city').multiselect('destroy');
                                //  $("#slide_city").html('');
                                $("#slide_city").html(data).selectpicker('refresh');
            //                      $("#slide_city").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
            //    return 'City';
            //},});

                            }
                        });

        }
         $("#offers").on("change", function (e) {
            var url = "@Url.Action("getofferbyid","users")";
            var jobid = $("#offers").val();
            $.get(url, { 'jobid': jobid }, function (data) {
                $('#slide_state').val(data.stateid).selectpicker('refresh');
               $('#slide1_client').val(data.clientid).selectpicker('refresh');
                 get_citybyid2(data.cityid,data.stateid);
            });


        });
        $(".slide-toggle2").on("click", function (e) {
            //$("#slide_city").html('<option value="0">City</option>').selectpicker('refresh');
            $("#subject2").val('');
            //$('#slide1_client').val(0).selectpicker('refresh');
            //$("#offers").val(0).selectpicker('refresh');
            //$('#slide_state').val(0).selectpicker('refresh');
            //$("#prefrence").val(0).selectpicker('refresh');
            //$(':checkbox').each(function () {
            //    if ($(this).attr("class") == "inputbox") {
            //        this.checked = false;
            //    }
            //});
           $(".termspopup1").removeClass("bck"),
           $(".sms2").removeClass("bck"),
           $(".email2").removeClass("bck")
            $("#box2").animate({
                width: "hide"
            });
            $("#box2").animate({
                width: "show"
            });
         //getofferbypopup();
     
        });
    //getjobbyid
         function get_citybyid(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=0&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                //$('#slide3_city').multiselect('destroy');
                                  $("#slide3_city").html('');
                                $("#slide3_city").html(data).selectpicker('refresh');
            //                      $("#slide3_city").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
            //    return 'City';
            //},});

                            }
                        });

        }
        $("#popupjobs").on("change", function (e) {
            var url = "@Url.Action("getjobbyid","users")";
            var jobid = $("#popupjobs").val();
            $.get(url, { 'jobid': jobid }, function (data) {
                $('#slide3_state').val(data.stateid).selectpicker('refresh');
                $('#slide3_client').val(data.clientid).selectpicker('refresh');
                 get_citybyid(data.cityid,data.stateid);
            });


        });
        $(".slide-toggle3").on("click", function (e) {
            $("#slide3_city").html('<option value="0">City</option>').selectpicker('refresh');
            $("#subject3").val('');
              $("#popupjobs").val(0);
            $("#popupjobs").selectpicker('refresh');
            $('#slide3_state').val(0).selectpicker('refresh');
            $('#slide3_client').val(0).selectpicker('refresh');
           getjobsbypopup();
            var total = document.getElementById("popupjobs").length-1;
            $("#jobcount").html("Total jobs: "+total);
            //$(':checkbox').each(function () {
            //    if ($(this).attr("class") == "inputbox3") {
            //        this.checked = false;
            //    }
            //});
           $(".sms3").removeClass("bck"),
           $(".email3").removeClass("bck"),
            $("#box3").animate({
                width: "hide"
            });
            $("#box3").animate({
                width: "show"
            });
        });

        $(".closebox").on("click", function (e) {
            $(".box").animate({
                width: "hide"
            });
        });

    });
   
    //$('#table').on("click", ".chk", function () {
    //    $('#chk_header').prop('checked', false);
    //    var len = $('.chk:checked').length;
    //    if (len > 0) {
    //        $(".div_delete").show();
    //    }
    //    else {
    //        $(".div_delete").hide();
    //        $(".box").animate({
    //            width: "hide"
    //        });
    //    }
    //});
</script>
<script>
    var pageSize = 25;
    var otable;
    var editpermission = '@permission.Contains(31).ToString().ToUpper()';
    var deletepermission = '@permission.Contains(32).ToString().ToUpper()';
    var subcntr = '@issubcontractor.ToString().ToUpper()';
    var citySelected = "";
    var amountSelected = "";
    var skillsSelected = "";
     var searchtype = 0;
    function ClearFilter() {
        citySelected = "";
        amountSelected = "";
          searchtype = 2;
        skillsSelected = "";
         $("#state_id").val("0");
         $("#background").val("all");
        $("#drug").val("all");
        $("#status").val("0");
        $('.selectpicker').selectpicker('refresh');
        $('#city_id').multiselect('deselectAll', false);
        $('#amount').multiselect('deselectAll', false);
        $('#skills').multiselect('deselectAll', false);
           $("#filterpopup").css("display", "none");
        otable.draw(true);
    }

    function FilterTable() {
           $("#filterpopup").css("display", "block");
           searchtype = 1;
           citySelected = "";
     amountSelected = "";
      skillsSelected = "";
         var _cityselected = $("#city_id").find("option:selected");
    _cityselected.each(function(){
       citySelected=citySelected+$(this).val()+",";
    });
    var _amountselected = $("#amount").find("option:selected");
    _amountselected.each(function(){
       amountSelected=amountSelected+$(this).val()+",";
    });
    var _skillsselected = $("#skills").find("option:selected");
    _skillsselected.each(function(){
       skillsSelected=skillsSelected+$(this).val()+",";
    });
otable.draw(true);

    }

    $(document).ready(function () {
    var _cityselected = $("#city_id").find("option:selected");
    _cityselected.each(function(){
       citySelected=citySelected+$(this).val()+",";
    });
    var _amountselected = $("#amount").find("option:selected");
    _amountselected.each(function(){
       amountSelected=amountSelected+$(this).val()+",";
    });
    var _skillsselected = $("#skills").find("option:selected");
    _skillsselected.each(function(){
       skillsSelected=skillsSelected+$(this).val()+",";
    });


        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        }, "drawCallback": function( settings ) {
       $(':checkbox').each(function () {
            this.checked = false;
        });
    },
            "iDisplayLength": 25,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "ajax": {
                "url": "@Url.Action("Fetchmembers", "users")",
                 //int[] city_id = null, int[] amount = null,  int[] skills = null
                  "data": function (d) {
                        d.state_id = $("#state_id").val();
                        d.background = $("#background").val();
                      d.drug = $("#drug").val();
                      d.status = $("#status").val();
                        d.city_id = citySelected+"0";
                      d.amount = amountSelected+"0";
                      d.skills = skillsSelected + "0";
                      d.searchtype = searchtype;
                      d.membertype = $("#membertype").val();
                    }
            },
            "aoColumns": [
                {bSortable: false,
                    mRender: function (data, type, full) { return '<div class="round pd0"> <input type="checkbox" id="chk_'+full.memder_p_id+'" value="'+full.memder_p_id+'" class="chk" />  <label for="checkbox" data-val="'+full.memder_p_id+'" class="cuschk" data-id="chk_'+full.memder_p_id+'"></label></div>'; }},


                 {
                    bSortable: false,
                     mRender: function (data, type, full) {
                         if (subcntr == "TRUE") {
                             return '<label>' + full.memberid + '</label>';
                         } else {
                             if (full.termaccepted == true) {
                                 return '<span class="text-success fa fa-check"> </span> <label>' + full.memberid + '</label>';

                             }
                             else if (full.acceptrequire == true) {
                                 return '<span class="text-danger fa fa-clock-o"> </span> <label>' + full.memberid + '</label>';
                             }
                             else if (full.decline == true) {
                                 return '<span class="text-danger fa fa-exclamation-triangle"> </span> <label>' + full.memberid + '</label>';
                             }
                             else {
                                 return '<label>' + full.memberid + '</label>';
                             }
                         }
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        if (editpermission == "TRUE") {
                            return '<a href="/users/edit?token=' + full.token + '">' + full.fname + ' '+full.lname+'</a>';

                        }
                        else {
                            return '<a href="#" class="disabledbtn" data-msg="you are not authorized to view selected user">' + full.fname + ' '+full.lname+ '</a>';
                        }
                    }
                },
                { mData: "city" },
                { mData: "state" },
                { mData: "phone" },
                { mData: "email" },
                { mData: "hourlyrate" },

                 {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                            return "<span id='spn_"+full.memder_p_id+"' data-statusid='"+full.staus_id+"' data-memberid='"+ full.memder_p_id+"' class='stupdater memberstatus-"+full.staus.toLowerCase()+"'>"+full.staus+"</span>";
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                            return "<a href='#' data-skills='"+full.skills+"'  class='btn btn-xs btn-primary cview'><i class='fa fa-search'></i></a>";
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        var tbl = '<div class="btn-group pos-static"><a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fn21"></i> </a><div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px);will-change: transform;position: absolute;left: 0px; display: none;">';
            if (editpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-success btn-xs" href="/users/edit?token=' + full.token + '"><i class="fa fa-edit"></i> Edit</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-success btn-xs" data-msg="you are not authorized to edit selected user"><i class="fa fa-edit"></i> Edit</a>';
                        }
                        if (deletepermission == "TRUE") {
                            if (subcntr == "TRUE") {
                                tbl = tbl + '<a class="btn btn-danger btn-xs cdeactivate" id="' + full.token + '"><i class="fa fa-trash"></i> Deactivate</a>';

                            } else {
                                tbl = tbl + '<a class="btn btn-danger btn-xs cdelete" id="' + full.token + '"><i class="fa fa-trash"></i> Delete</a>';
                            }
                        }
                            else {
                                tbl = tbl + '<a href="#" class="disabledbtn btn btn-danger btn-xs" data-msg="you are not authorized to delete selected user"><i class="fa fa-trash"></i> Delete</a>';
                            }

                        tbl = tbl + '</div></div>';
                        return tbl;
                    }
                }

            ]
        });
    });
</script>
<script>
      function Uploadfile() {
              $('#upload').modal('show');
    }
    function Viewfile(skills) {
        if (skills.indexOf(",") != -1) {
            var strArr = skills.split(",")  // split using space_or_no_space comma space_or_no_space
            var tr = "";
            var j = 0;
            for (var i = 0; i < strArr.length; i++) {
                tr = tr + " <div class='col-md-3'>" + strArr[i] + "</div>";
                j = j + 1;
                if (j >= 4) {

                    j = 0;
                    tr = tr + " <div class='clearfix'></div>";
                }
            }
            $("#skilldiv").html(tr);
        } else {
            if (skills == "--") {
                skills = "N/A";
            }
             $("#skilldiv").html(skills);
        }
       $('#mdlview').modal('show');

    }


       function updatestatus() {
        var nid = $("#mid").val();
        var nsid = $("#mstatusid").val();
        var _url = "@Url.Action("update_status","Users")";
        $.get(_url, { 'id': nid, 'statusid': nsid }, function () {
            var _txt = $("#mstatusid").find("option:selected").text();
        var cls=$("#spn_" + nid).html();
              $("#spn_" + nid).html(_txt);
               $("#spn_" + nid).removeClass("memberstatus-"+cls.toLowerCase()).addClass("memberstatus-"+_txt.toLowerCase());
               $('#mdlstatus').modal('hide');
             alertify.log('User status updated succesfully', 'success', 5000);
        });
    }

    function sendoffer() {
       
        var offerId = $("#offers").val();
          if (offerId == "0") {
              alertify.log('You must select a offer to submit', 'error', 5000);
              return false;
          }
          var pref = $("#prefrence").val();
            if (pref == "0") {
              alertify.log('You must select a preference to submit', 'error', 5000);
              return false;
        }
         var subj = $("#subject1").val();
          if (subj == "") {
              alertify.log('You must add a email subject to submit', 'error', 5000);
              return false;
          }
        var len = $('.sendoffer .bck').length;
        if ( len== 0) {
             alertify.log('You must select alert type SMS/Email submit', 'error', 5000);
              return false;
          }
          var templates = $("#templates").val();
          var array = [];
           $('tbody .bck').each(function () {
              array.push($(this).data("val"));
            });

        var _url = "@Url.Action("sendOffer","offer")";
        $.get(_url, $.param({
            data: array,
            'tid': templates,
            'pref': pref,
            'offerId': offerId,
            'sms': $(".sms").hasClass("bck"),
            'email': $(".email").hasClass("bck"),
            'subject': subj
        }, true), function () {
            $("#box1").animate({
                width: "hide"
            });
             alertify.log('Offer sent to selected Users succesfully', 'success', 5000);
        });
    }

    function sendoffer3() {
        var chklen =  $('tbody .bck').length;
         if ( chklen>1) {
             alertify.log('You can select only one user to assign job', 'error', 5000);
              return false;
        }
         var jobid = $("#popupjobs").val();
          if (jobid == "0") {
              alertify.log('You must select a Job ID to submit', 'error', 5000);
              return false;
          }
        var subj = $("#subject3").val();
          if (subj == "") {
              alertify.log('You must add a email subject to submit', 'error', 5000);
              return false;
          }
        var len = $('.sendoffer3 .bck').length;
        if ( len== 0) {
             alertify.log('You must select alert type SMS/Email submit', 'error', 5000);
              return false;
        }
          var templates = $("#templates3").val();
          var array = [];
            $('tbody .bck').each(function () {
              array.push($(this).data("val"));
            });
        var _url = "@Url.Action("sendOffer5","offer")";
        $.get(_url, $.param({
            data: array,
            'tid': templates,
            'jobid': jobid,
            'sms': $(".sms3").hasClass("bck"),
            'email': $(".email3").hasClass("bck"),
            'subject': subj
        }, true), function () {
            $("#box3").animate({
                width: "hide"
            });
             alertify.log('Job assigned to selected user succesfully', 'success', 5000);
        });
    }


      function sendoffer2() {
       var subj = $("#subject2").val();
          if (subj == "") {
              alertify.log('You must add a email subject to submit', 'error', 5000);
              return false;
          }
        var len = $('.sendoffer2 .bck').length;
        if ( len== 0) {
             alertify.log('You must select alert type SMS/Email submit', 'error', 5000);
              return false;
          }
          var templates = $("#templates2").val();
          var array = [];
           $('tbody .bck').each(function () {
              array.push($(this).data("val"));
            });

        var _url = "@Url.Action("sendOffer2","offer")";
          $.get(_url, $.param({
              data: array, 'subject': subj,
              'tid': templates,
              'termspopup': $(".termspopup1").hasClass("bck"),
              'sms': $(".sms2").hasClass("bck"),
              'email': $(".email2").hasClass("bck")
          }, true), function () {
            $("#box2").animate({
                width: "hide"
            });
             alertify.log('Email/SMS sent to selected users succesfully', 'success', 5000);
        });
    }

    $(document).ready(function () {

        $(".cuschk").on("click", function () {
            var id = $(this).data("id");
            if ($(this).hasClass("bck")) {
                $("#" + id).attr("checked", false);
                $(this).removeClass("bck");
            } else {
                $("#" + id).attr("checked", true);
                $(this).addClass("bck");
            }
        });
        
        $("#table").on("click", ".chk_header", function (e) {
           
            if (!$(this).hasClass("bck")) {
                  $(this).addClass("bck");
            $(':checkbox').each(function () {
                if ($(this).attr("class") == "chk") {
                    this.checked = true;
                }
            });
            $('table .cuschk').each(function () {
             $(this).addClass("bck");
            });
            $(".div_delete").show();

        }
            else {
                  $(this).removeClass("bck");
               $(':checkbox').each(function () {
                if ($(this).attr("class") == "chk") {
                    this.checked = false;
                }
            });
             $('table .cuschk').each(function () {
             $(this).removeClass("bck");
            });
            $(".div_delete").hide();
            $(".box").animate({
                width: "hide"
            });
            
        }
    });

        $("#table").on("click", ".cuschk", function (e) {
             var id = $(this).data("id");
            if ($(this).hasClass("bck")) {
                $("#" + id).attr("checked", false);
                $(this).removeClass("bck");
            } else {
                $("#" + id).attr("checked", true);
                $(this).addClass("bck");
            }
            $('#chk_header').prop('checked', false);
             $('.chk_header').removeClass("bck");
        var len = $('tbody .bck').length;
        if (len > 0) {
            $(".div_delete").show();
        }
        else {
            $(".div_delete").hide();
            $(".box").animate({
                width: "hide"
            });
            }
            
        });

        $("#table").on("click", ".cview", function (e) {
            e.preventDefault();
            var skills = $(this).data("skills");
              if (skills.indexOf(",") != -1) {
            var strArr = skills.split(",")  // split using space_or_no_space comma space_or_no_space
            var tr = "";
            var j = 0;
            for (var i = 0; i < strArr.length; i++) {
                tr = tr + " <div class='col-md-3'>" + strArr[i] + "</div>";
                j = j + 1;
                if (j >= 4) {

                    j = 0;
                    tr = tr + " <div class='clearfix'></div>";
                }
            }
            $("#skilldiv").html(tr);
              } else {
                   if (skills == "--") {
                skills = "N/A";
            }
             $("#skilldiv").html(skills);
        }
       $('#mdlview').modal('show');
        });



         $("#table").on("click", ".stupdater", function (e) {
            e.preventDefault();
             var statusid = $(this).data("statusid");
             var memberId = $(this).data("memberid");
             $("#mid").val(memberId);
          $("#mstatusid").val(statusid);
        $('#mstatusid').selectpicker('refresh');
        $('#mdlstatus').modal('show');

        });

        $("#table").on("click", ".cdelete", function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","users")";
                    window.location.href = _url + "?token=" + id;
                }
            });
        });
         $("#table").on("click", ".cdeactivate", function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","users")";
                    window.location.href = _url + "?token=" + id+"&d=1";
                }
            });
        });



        $("#skills").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Skills';
        },
        });
        $("#amount").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Rate';
        },
        });

     get_city("@city",'@state_id');
         function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_id').multiselect('destroy');
                                  $("#city_id").html('');
                                $("#city_id").html(data).removeAttr('disabled');
                                  $("#city_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }
        get_template("templates2");
        get_template("templates");
          get_template("templates3");
        function get_template(cnrtl) {
             var dataString = 'templateid=0';
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_selected_template","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cnrtl).html(data);
                                $("#"+cnrtl).selectpicker('refresh');
                            }
                        });

        }
        get_client('slide3_client');
         get_client('slide1_client');
         function get_client(id) {
             var dataString = 'clientid=0';
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+id).html(data);
                                $("#"+id).selectpicker('refresh');
                            }
                        });

        }
        //


        function get_offers(statid,cntrl) {
             var dataString = 'stateId='+statid;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_job_OfferByState","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).html(data);
                                $("#" + cntrl).selectpicker('refresh');
                                var total = document.getElementById(cntrl).length-1;
                                $("#offercount").html("Total offers: "+total);
                            }
                        });

        }

        function get_offers_by_city(city,cntrl) {
             var dataString = 'city='+city;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_job_OfferBycity","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).html(data);
                                $("#" + cntrl).selectpicker('refresh');
                                  var total = document.getElementById(cntrl).length-1;
                              $("#offercount").html("Total offers: "+total);
                            }
                        });

        }

        $("#state_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_id').multiselect('destroy');
                                  $("#city_id").html('');
                                $("#city_id").html(data).removeAttr('disabled');
                                  $("#city_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
                            }
                        });
            } else {
                $('#city_id').multiselect('destroy');
                $("#city_id").html('');
                 $("#city_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
                }
        });


        $("#slide3_state").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=0";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                //$('#slide3_city').multiselect('destroy');
                                //  $("#slide3_city").html('');
                                $("#slide3_city").html(data).selectpicker('refresh');
            //                      $("#slide3_city").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
            //    return 'City';
            //},});
                            }
                        });

            } else {
                 $("#slide3_city").html('<option value="0">City</option>').selectpicker('refresh');
            //    $('#slide3_city').multiselect('destroy');
            //    $("#slide3_city").html('');
            //     $("#slide3_city").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
            //    return 'City';
            //},});
            }
            getjobsbypopup()
        });

         $("#slide_state").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=0";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                //$('#slide_city').multiselect('destroy');
                                //  $("#slide_city").html('');
                                $("#slide_city").html(data).selectpicker('refresh');
            ////                      $("#slide_city").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
            ////    return 'City';
            ////},});
                            }
                        });

            } else {
            //    $('#slide_city').multiselect('destroy');
            //    $("#slide_city").html('');
            //     $("#slide_city").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
            //    return 'City';
            //},});
             }
             getofferbypopup();
        });


  $("#slide_city").on('change', function(e){
    var id=$(this).val();
     getofferbypopup();
  });
         getofferbypopup();
      getjobsbypopup();
        $("#slide3_city").on('change', function(e){
            getjobsbypopup();
        });
        $("#jobidpopup").on('change', function(e){
            getjobsbypopup();
        });
         $("#slide3_client").on('change', function(e){
            getjobsbypopup();
         });

         $("#slide1_client").on('change', function(e){
           getofferbypopup();
         });


    });


</script>

