﻿<style>
    @@page {
        margin: 0 0cm;
    }
</style>

<table style="width:100%;margin-top:-8px!important;padding-top:0px !important;border-collapse: collapse;font-family: Times New Roman;" cellpadding="10" cellspacing="5">
    <thead>
        <tr>
            <td style="width:50px;">
            
            </td>
            <td colspan="2" style="text-align:left;padding-bottom: 30px;font-weight:400;height:100px;">
                <img src="https://taskayak.com/Content/images/logo.png" alt="logo" class="bar-logo"/>
            </td>
            <td style="width:50px;"></td>
           
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="text-align:center;padding-bottom: 30px;font-weight:400;height:100px;">
                <h2 style="font-size: 18px;">  Authorization for Direct Deposit Payment – Subcontractors and Technicians</h2>
            </td>
            <td style="width:50px;"></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 40px;">
                <h4 style="padding: 0px;margin-top: 0px;margin-bottom: 3px;font-size: 13px;height:200px;font-weight:400;">
                    This form authorizes Convo Technologies, LLC (the company) to send direct deposit payment entries (and appropriate debit or credit adjustment entries), electronically or by any other commercially accepted method, to my (our) account (s) indicated below and to other account to post all such entries.

                </h4>

            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Tech ID#: <label> $tcid</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:20px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Account type (e.g. Checking or Saving):<label> $acty</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Bank Name and Branch:
                <label> $abnb</label>

            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">
                Bank City and State: <label> $acs</label>

            </td>
            <td style="width:20px;"></td>
        </tr>

        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 10px;height:30px;">

                Bank Account Routing Number: <label> $arn</label>
            </td>
            <td style="width:50px;"></td>
        </tr>
        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 40px;height:30px;">
                Bank Account Number :<label> $acn</label>
            </td>
            <td style="width:50px;"></td>
        </tr>

        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:50px;height:100px;">
                This authorization will be in effect until the company or subcontractor receives a written termination notice from myself and has a reasonable opportunity to act on it.

            </td>
            <td style="width:50px;"></td>
        </tr>

        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom:20px;border-top: 1px solid;height:20px;">
                Signature
            </td>
            <td style="width:50px;"></td>
        </tr>

        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 20px;border-top: 1px solid;height:20px;">
                Printed Full Name
            </td>
            <td style="width:50px;"></td>
        </tr>

        <tr>
            <td style="width:50px;"></td>
            <td colspan="2" style="padding-bottom: 20px;border-top: 1px solid;height:20px;">
                Date
            </td>
            <td style="width:50px;"></td>
        </tr>


    </tbody>
</table>





