﻿
@{
    ViewBag.Title = "city";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>city</h2>
@using (Html.BeginForm("membersbymanual", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
{
<input type="file" name="file" />
    <br/>
    <input type="text" name="stateid" />
    <br/>
    <input type="submit"value="submit" />

}
<img src="@Url.Content("~/form_asset/img/bestoffer.webp")" />
<script>
    var url = "https://us.kompass.com/c/integrity-computer-svc/usn05404919/";
   
    $.ajax({
        url: url, success: function (response) {
            var name = jQuery(response).find('.executiveName').html();
              alert(name);
            var web = jQuery(response).find('#webSite_presentation_0').html();
            alert(web);
            var companyname = jQuery(response).find('#company-name').val();
              alert(companyname);
            var companyid = jQuery(response).find('#company-id').val();
            var spRight = jQuery(response).find('.spRight').find("span").remove().html();
             alert(spRight);
            var phone = jQuery(response).find('#freePhone-contactCompanyForCompany-' + companyid).val();
           alert(phone);
        }
    });
</script>

