﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
<script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css" media="print" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css" />
<style>
    .mrl {
        margin-right: 3px !important;
    }
</style>
<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @*@if (!string.IsNullOrEmpty(Model.error_text))
        {
            <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Model.error_text
            </div>
        }*@
    <div class="row">

        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading" style="padding-left:20px;">
                    <h3 class="panel-title">
                        Job List
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" id="jobcalendar">

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Modal -->

        
    </div>
    
</div>

<script>


    gethotelCalender();
    function gethotelCalender() {
        var maxDate1 = moment(new Date()).format("YYYY-MM-DD");
        $("#jobcalendar").fullCalendar({
            theme: true,
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month,agendaDay,agendaWeek'
            },
            firstDay: moment().weekday(),
            defaultDate: maxDate1,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            //defaultView: 'agendaDay',
            editable: false,
            eventClick: function (event) {
                var newDate = moment(event.start).format("M-DD-YY");
                var newDate1 = moment(event.start).format("DD-MMM-YY");
                if (event.title != "Click here to check Avail") {
                    return false;
                }
                $("#schSpan").html(newDate1);
                var start = $.fullCalendar.formatDate(event.start, "hh:mm A");
                var end = $.fullCalendar.formatDate(event.end, "hh:mm A");
                var url = "@Url.Action("GetEventsByDate", "home")";
                $.post(url, { 'thid': _id, 'date': newDate, 'start': start, 'end': end }, function (data) {
                    $("#schDiv").html(data);
                    $("#schDiv").css('color', 'antiquewhite');
                    $('#AvailableModal').modal({ backdrop: 'static', keyboard: false });
                });
            },
            events: {
                url: '/jobs/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    id: 1,
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {


            }, navLinkDayClick: function (date, jsEvent) {
                return false;
            },
            dayRender: function (date, cell) {
                //var maxDate = moment(new Date()).format("YYYY-MM-DD");
                //var newDate = moment(date).format("YYYY-MM-DD");
                //if (newDate < maxDate) {
                //    $(cell).addClass('fc-not-allowed');
                //    $(cell).css('background', 'grey');
                //}
            },

        });

        $(".fc-next-button").html("Next Month").addClass("btn").addClass("btn-success");
        $(".fc-prev-button").html("Prev Month").addClass("btn").addClass("btn-success").addClass("mrl");
        $(".fc-month-button").html("Month").addClass("btn").addClass("btn-primary").addClass("mrl");
        $(".fc-agendaDay-button ").html("Day").addClass("btn").addClass("btn-primary").addClass("mrl");
        $(".fc-agendaWeek-button").html("Week").addClass("btn").addClass("btn-primary");



    }
</script>