﻿
@{
    ViewBag.Title = "Document Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int _count = 0;
    var permission = (List<int>)ViewBag.permissions;
}

@model hrm.Models.doctype

<div class="p-10">
    @*<h2 class="page-title">Department</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }

    <div id="mdlupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Document Type</h4>
                </div>
                @using (Html.BeginForm("update", "document", FormMethod.Post, new { @id = "frmsendsms" }))
                {<div class="modal-body">
    <div class="form-group">
        <label>Type :</label>
        <input type="text" class="form-control" required="" id="deptname" name="name">
        <input type="hidden" name="id" id="deptid" />
    </div>
    <div class="form-group">
        <label>View Order</label>
        <input type="text" class="form-control" required="" id="idmainorder" name="mainorder">
      
    </div>
</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

                    </div>
                }
            </div>
        </div>

    </div>
    <div class="row">
        @if (permission.Contains(22))
        {
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-body">
                        @using (Html.BeginForm("index", "document", FormMethod.Post, new { @id = "frmsendsms" }))
                        {
                            <div class="panel-heading">
                                <h3 class="panel-title"> Add Type</h3>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <span class="help">e.g. "Licenses","Drug screening "</span>
                                @Html.TextBoxFor(a => a.name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.name)
                            </div>
                            <div class="form-group">
                                <label>View Order</label>
                               
                                @Html.TextBoxFor(a => a.mainorder, new { @class = "form-control" })
                               
                            </div>
                            <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add </button>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading" style="padding-left:20px;">
                    <h3 class="panel-title">
                        All Types

                    </h3>
                </div>
                <div class="panel-body p-none">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table data-table nowrap table-hover table-ultra-responsive dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th>SL#</th>
                                        <th>Type</th>
                                        <th>View order</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.doc_type)
                                    {
                                        _count = _count + 1;
                                    <tr role="row" class="odd">
                                        <td>@_count</td>

                                        <td>

                                            @*@if (permission.Contains(19))
            {*@
                                            <a href="#" onclick="update('@item.typeid','@item.name','@item.mainorder')">@item.name</a>
                                            @*}
            else
            {
                <a href="#" class="disabledbtn" data-msg="you are not authorized to edit selected type">@item.name</a>

            }*@
                                        </td>
                                        <td>@item.mainorder</td>
                                        <td>
                                            <div class="btn-group pos-static">
                                                <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v fn21"></i>
                                                </a>
                                                <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-96px, -18px, 0px);will-change: transform;position: absolute;left: 0px;">

                                                    @*@if (permission.Contains(19))
                    {*@
                                                    <a class="btn btn-success btn-xs" onclick="update('@item.typeid','@item.name','@item.mainorder')"><i class="fa fa-edit"></i> Edit</a>
                                                    @*}
                    else
                    {
                        <a href="#" class="btn btn-success btn-xs disabledbtn" data-msg="you are not authorized to edit selected department"><i class="fa fa-edit"></i> Edit</a>
                    }
                    @if (permission.Contains(20))
                    {*@
                                                    <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.typeid"><i class="fa fa-trash"></i> Delete</a>
                                                    @*}
                    else
                    {
                        <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="you are not authorized to delete selected department"><i class="fa fa-trash"></i> Delete</a>
                    }*@
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('.data-table').DataTable({"bSort" : false, "pageLength": 25});
        /*For Delete Department*/
        $(".cdelete").on("click",function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete","document")";
                    window.location.href = _url + "?id=" + id;
                }
            });
        });
    });
     function update(deptid, deptname,idmainorder) {
            $('#mdlupdate').modal('show');
            $("#deptname").val(deptname);
         $("#deptid").val(deptid);
         $("#idmainorder").val(idmainorder);
    }
      function Uploadfile() {
              $('#upload').modal('show');
        }

</script>
